Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

refactor: abstract groupuing code
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

fix: move line grouping logic to parsedLines and group by type
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

fix: removing unused type extension
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

fix: remove unused index
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

fix: removed unused type
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

fix: use assertation instead of tracking impossible to have undefined
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

Small formatting tweaks
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

Extend ms word pasting to handle ordered lists and combined text (#1461)
  src/components/RichText/RichTextField.tsx
  src/components/RichText/ms-word-helpers.ts
Due: eslint --ext .ts,.tsx --fix

reorders the list to put available options at the top
  src/common/array-helpers.ts
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix

updates dropdown to not show disabled options
  src/common/array-helpers.ts
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix

removes disabled option code
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix

Only show assignable roles in project member form (#1462)
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix

Bump caniuse db
  yarn.lock
Due: none

New icons for Sensitivity
  src/components/Icons/SvgSkeleton.tsx
  src/components/Sensitivity/SensitivityIcon.tsx
Due: eslint --ext .ts,.tsx --fix

Fix apollo devtools enabling
  src/api/client/createClient.ts
Due: eslint --ext .ts,.tsx --fix

commit suggestions - ran out of time trying to figure out how to do it in GH UI
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

New icons for Sensitivity (#1465)
  src/components/Icons/SvgSkeleton.tsx
  src/components/Sensitivity/SensitivityIcon.tsx
Due: eslint --ext .ts,.tsx --fix

Fix impersonation by role (wrong header key)
  src/api/client/links/impersonation.link.ts
Due: eslint --ext .ts,.tsx --fix

Generate the list of sensitive operations dynamically from schema
  src/App.tsx
  src/api/operationsList/operations.codegen.ts
  src/scenes/Authentication/index.ts
Due: eslint --ext .ts,.tsx --fix

Ignore current impersonation for sensitive operations
  src/api/client/links/impersonation.link.ts
Due: eslint --ext .ts,.tsx --fix

Generate the list of sensitive operations dynamically from schema (#1478)
  src/App.tsx
  src/api/operationsList/operations.codegen.ts
  src/scenes/Authentication/index.ts
Due: eslint --ext .ts,.tsx --fix

Ignore current impersonation for sensitive operations (#1479)
  src/api/client/links/impersonation.link.ts
Due: eslint --ext .ts,.tsx --fix

Bump Yarn 3.4.1 -> 3.6.3
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Refactor submit button logic out into hook
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor VariantAccordion out of PromptResponse steps
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/EditForm/Steps/VariantAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

Implement progress report media step
  src/components/form/Dropzone.tsx
  src/components/form/SelectField.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/Steps/Media/ImageField.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/progressReportMedia.graphql
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix/hack merging lists that are sorted by variant
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

Refactor ProgressReport breadcrumbs to their own components
  src/components/ProgressReportBreadcrumb/ProgressReportBreadcrumb.graphql
  src/components/ProgressReportBreadcrumb/ProgressReportBreadcrumb.tsx
  src/components/ProgressReportBreadcrumb/index.ts
  src/components/ProgressReportListBreadcrumb/ProgressReportListBreadcrumb.tsx
  src/components/ProgressReportListBreadcrumb/index.ts
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Implement Progress Reports workflow history
  src/components/PeriodicReports/ReportLabel.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/StatusStepper.tsx
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
  src/scenes/ProgressReports/Detail/WorkflowEvent.graphql
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/TransitionProgressReport.graphql
  src/scenes/ProgressReports/ProgressReportRouter.tsx
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
  src/scenes/ProgressReports/StatusHistory/index.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Refactor event list to use css grid
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix

adds the SubmitError component to media
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
Due: eslint --ext .ts,.tsx --fix

Show submission errors on progress report media (#1481)
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
Due: eslint --ext .ts,.tsx --fix

reversed events order to show most recent change first
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix

refactored based on Carsons comments
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix

Order progress report workflow events desc (#1482)
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix

Fix yarn clean
  package.json
  yarn.lock
Due: none

Fix `OptionGroup` type now that schema has more properties
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Fix `OptionGroup` type now that schema has more properties (#1487)
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Node 16 (alpine) -> 20 (slim)
  .github/actions/start-codepipeline/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-previews.yml
  Dockerfile
  package.json
Due: none

Node 16 (alpine) -> 20 (slim) (#1489)
  .github/actions/start-codepipeline/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-previews.yml
  Dockerfile
  package.json
Due: none
