Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Ask for methodology on planning pnp upload
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add EthnoArt to product section
  src/components/form/Lookup/EthnoArt/EthnoArtField.stories.tsx
  src/components/form/Lookup/EthnoArt/EthnoArtField.tsx
  src/components/form/Lookup/EthnoArt/EthnoArtLookup.graphql
  src/components/form/Lookup/EthnoArt/index.ts
  src/components/form/Lookup/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/EthnoArt/CreateEthnoArt.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/EthnoArt/CreateEthnoArt.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
  src/scenes/Products/ProductForm/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak EthnoArt lookup label
  src/components/form/Lookup/EthnoArt/EthnoArtField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak EthnoArt form label
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/EthnoArt/CreateEthnoArt.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace deprecated create/updateProduct with new mutations for concrete types
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change Product scripture to be limited to a single book
  src/components/form/EnumField.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/VersesDialog.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add support for unspecified scripture portion in product form
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/VersesCountField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refresh data needed for product card when updating product
  src/scenes/Products/Edit/EditProduct.graphql
Due: prettier --write

Remove song and literacyMaterial
  src/components/ProductCard/ProductCard.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.stories.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialLookup.graphql
  src/components/form/Lookup/LiteracyMaterial/index.ts
  src/components/form/Lookup/Song/SongField.stories.tsx
  src/components/form/Lookup/Song/SongField.tsx
  src/components/form/Lookup/Song/SongLookup.graphql
  src/components/form/Lookup/Song/index.ts
  src/components/form/Lookup/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/EthnoArt/CreateEthnoArt.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Literacy Material/CreateLiteracyMaterial.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Literacy Material/CreateLiteracyMaterial.tsx
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Song/CreateSong.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Song/CreateSong.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
  src/scenes/Products/ProductForm/constants.ts
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Show pointOfContact info only if user has read permission
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Set CreateProjectForm name field to be required
  src/scenes/Projects/Create/CreateProjectForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add warning that progress changes don't update the pnp file
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add icon for EthnoArt
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename products to goals on engagement list card
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change LookupField create option label "Add" -> "Create" for clarity
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix initializing product form scripture with non-direct scripture products
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove superfluous submission blurb text on product form
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Only allow partial unknown scripture references on DirectScriptureProducts
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix planning pnp upload extract goals dialog not sending on default option
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix logic determining first incomplete step on product card
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update product steps for recent API changes
  src/api/displayEnums.ts
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Allow more methodologies to be picked on planning pnp upload for product extraction
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add openToInvestorVisit tag to language engagement
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove progress from goal cards
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add progress report detail page
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/LanguageEngagement/index.ts
  src/scenes/Engagement/LanguageEngagement/useLanguageEngagementName.ts
  src/scenes/Engagement/ProgressReports/Detail/CumulativeSummaryCard.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportCard.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/Engagement/ProgressReports/Detail/index.ts
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.graphql
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.tsx
  src/scenes/Engagement/ProgressReports/List/index.ts
  src/scenes/Engagement/ProgressReports/ProgressReports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use updated graphql schemas
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update schema file
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Engagement/ProgressReports/Detail/CumulativeSummaryCard.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add UploadPeriodicReportFile mutation
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Simplify merging step columns & ignore ones unused. Define row shape.
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak CumulativeSummaryCard spacing & loading state & rename to ProgressSummaryCard
  src/scenes/Engagement/ProgressReports/Detail/CumulativeSummaryCard.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use ampersand for product step label. Tweak in table header to only have one line break.
  src/api/displayEnums.ts
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add progress reports list breadcrumb
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename pnp report card so it is distinct from the page header
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Don't ask for props no longer used on ProductCard
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Products/Detail/ProductDetail.graphql
Due: prettier --write

Autoselect 'Completed' step when creating otherGoal
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix pulling the latest progress data instead of for the specified report. Fix loading state as well.
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Disable cache normalization for ScriptureRange
  src/api/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add link to product detail page from product label
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Give pnp card a bit more room
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Hackily force the table width to fix layout on smaller screens
  src/scenes/Engagement/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
