Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Add tool description
  src/components/Tool/EditTool/EditTool.tsx
  src/components/Tool/ToolForm/ToolForm.graphql
  src/components/Tool/ToolForm/ToolForm.tsx
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/components/form/Lookup/Tool/ToolLookup.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add optionality
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

fix reporting label
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix

Add Tool description (#1812)
  src/components/Tool/EditTool/EditTool.tsx
  src/components/Tool/ToolForm/ToolForm.graphql
  src/components/Tool/ToolForm/ToolForm.tsx
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/components/form/Lookup/Tool/ToolLookup.graphql
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

expose language id
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

Expose Language Id (#1814)
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

filter for isAvailableForReporting
  src/components/form/Lookup/Language/LanguageOfReportingLookup.graphql
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Language Lookup filter for isAvailableForReporting (#1815)
  src/components/form/Lookup/Language/LanguageOfReportingLookup.graphql
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fix reporting language label text
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

Fix reporting language label text (#1816)
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

Implement collapsible mobile navigation with sidebar and drawer
  .github/actions/setup/action.yml
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/components/form/Lookup/LookupField.test.tsx
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/MainLayout.test.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.stories.tsx
  src/scenes/Root/Sidebar/Sidebar.test.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarContent.tsx
  src/scenes/Root/Sidebar/index.ts
  src/scenes/Root/navOpenState.test.ts
  src/scenes/Root/navOpenState.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Make sidebar collapsible at all viewport sizes
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.stories.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarContent.tsx
  src/scenes/Root/Sidebar/index.ts
  src/scenes/Root/navOpenState.test.ts
  src/scenes/Root/navOpenState.ts
Due: eslint --ext .ts,.tsx --fix

Add Tool overview page with profile, engagement, and project usages
  src/common/fragments/index.ts
  src/common/fragments/tool.graphql
  src/components/ToolListItemCard/ToolListItem.graphql
  src/components/ToolListItemCard/ToolListItemCard.tsx
  src/components/ToolListItemCard/index.ts
  src/scenes/Root/Root.tsx
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
  src/scenes/Tools/Detail/Tabs/Profile/ToolDetailProfile.tsx
  src/scenes/Tools/Detail/Tabs/Profile/index.ts
  src/scenes/Tools/Detail/Tabs/Usages/Panels/EngagementPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/ProjectPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/index.ts
  src/scenes/Tools/Detail/Tabs/Usages/ToolDetailUsages.tsx
  src/scenes/Tools/Detail/Tabs/Usages/index.ts
  src/scenes/Tools/Detail/ToolDetail.graphql
  src/scenes/Tools/Detail/ToolDetail.tsx
  src/scenes/Tools/Detail/index.ts
  src/scenes/Tools/Tools.tsx
  src/scenes/Tools/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

create useDetailTabs hook and implement
  src/hooks/index.ts
  src/hooks/useDetailTabs.ts
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Tools/Detail/ToolDetail.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Updates parameters for Rev79 `GetCommunitiesByProjectId` query
  src/api/seed/useRev79Communities.ts
Due: eslint --ext .ts,.tsx --fix

Address PR feedback on responsive sidebar
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/navOpenState.test.ts
  src/scenes/Root/navOpenState.ts
Due: eslint --ext .ts,.tsx --fix

Update Sidebar inert attribute to boolean and add overflow prevention in MainLayout
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix

fix(lookup): resolve merge conflict; fix(sidebar): unmount mobile SidebarContent by removing Drawer keepMounted
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix

fix(lookup): restore caller renderOption override; fix LanguageField test mock
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix

remove temp typecast
  src/scenes/Tools/Detail/Tabs/Usages/Panels/EngagementPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/ProjectPanel.tsx
Due: eslint --ext .ts,.tsx --fix

pr feedback
  src/components/ToolListItemCard/ToolListItemCard.tsx
  src/scenes/Tools/Tools.tsx
Due: eslint --ext .ts,.tsx --fix

add tool profile fragment
  src/scenes/Tools/Detail/Tabs/Profile/ToolDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

Updates parameters for Rev79 `GetCommunitiesByProjectId` query (#1820)
  src/api/seed/useRev79Communities.ts
Due: eslint --ext .ts,.tsx --fix

Revert LookupField changes; fix Header ARIA attributes per pattern
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Root/Header/Header.tsx
Due: eslint --ext .ts,.tsx --fix

Add partner organization management to user edit and detail profiles
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
  src/scenes/Users/Edit/EditUser.graphql
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.graphql
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat: enhance responsive design for sidebar and header components
  src/components/Grid/QuickFilters.tsx
  src/components/Grid/Toolbar.tsx
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.stories.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/theme/createTheme.ts
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Tool overview page (#1819)
  src/common/fragments/index.ts
  src/common/fragments/tool.graphql
  src/components/ToolListItemCard/ToolListItem.graphql
  src/components/ToolListItemCard/ToolListItemCard.tsx
  src/components/ToolListItemCard/index.ts
  src/hooks/index.ts
  src/hooks/useDetailTabs.ts
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Root/Root.tsx
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
  src/scenes/Tools/Detail/Tabs/Profile/ToolDetailProfile.tsx
  src/scenes/Tools/Detail/Tabs/Profile/index.ts
  src/scenes/Tools/Detail/Tabs/Usages/Panels/EngagementPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/ProjectPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/index.ts
  src/scenes/Tools/Detail/Tabs/Usages/ToolDetailUsages.tsx
  src/scenes/Tools/Detail/Tabs/Usages/index.ts
  src/scenes/Tools/Detail/ToolDetail.graphql
  src/scenes/Tools/Detail/ToolDetail.tsx
  src/scenes/Tools/Detail/index.ts
  src/scenes/Tools/Tools.tsx
  src/scenes/Tools/index.ts
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat: adjust column widths and add minWidth for better responsiveness in data grids
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/PartnerNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Dashboard/DashboardLayout.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

feat: enhance responsiveness of filter components and toolbar row count display
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/QuickFilters.tsx
  src/components/Grid/Toolbar.tsx
  src/scenes/Root/Sidebar/SidebarContent.tsx
Due: eslint --ext .ts,.tsx --fix

feat: enhance responsive layout for Dashboard components
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/DashboardLayout.tsx
Due: eslint --ext .ts,.tsx --fix

feat: enhance responsive design for Toolbar, Header, and Sidebar components
  src/components/Grid/Toolbar.tsx
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarContent.tsx
Due: eslint --ext .ts,.tsx --fix

Add Partner People grid with point-of-contact management
  src/components/Grid/GridFilterInputBoolean.tsx
  src/components/Grid/useDataGridSource.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/People/AddPersonToPartnerForm.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailsPeople.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add Marketing Region functionality to location components and Project Details
  src/common/fragments/location.graphql
  src/components/LocationCard/LocationCard.tsx
  src/components/LocationDataGrid/LocationColumns.tsx
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/components/form/Lookup/Location/MarketingRegionField.tsx
  src/components/form/Lookup/Location/MarketingRegionLookup.graphql
  src/components/form/Lookup/Location/index.ts
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add marketing region override support to project overview and update dialog
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add tests for UpdateProjectDialog and LocationDetail components
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/scenes/Locations/Detail/LocationDetail.test.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.test.tsx
Due: eslint --ext .ts,.tsx --fix

Fix import path for MarketingRegionField in LocationForm component
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor marketing region handling in ProjectOverview and UpdateProjectDialog components
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Remove Codeowners to reduce PR Review noise
  .github/CODEOWNERS
Due: none

Pin CI to Node 24.14.1 to avoid Yarn PnP EBADF on 24.15+
  .github/actions/setup/action.yml
Due: none
