Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add Nullable type. Group up displaying enums & make nullable.
  src/api/displayEnums.ts
  src/api/displayRole.ts
  src/api/displayStatus.ts
  src/api/index.ts
  src/components/Formatters/useDateFormatter.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.stories.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/util/index.ts
  src/util/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak partnership card styles & loading state. Fix createdAt to use DateTime instead of Date formatting.
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wrap MUI Fab to add error color. Use in PartnershipList.
  src/components/Fab/Fab.tsx
  src/components/Fab/index.ts
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable text transform on Fab to match Button theme
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move "add partnership" text to tooltip so there's not un-clickable text (Patrick approves)
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change ListItemLink to make sub-paths active by default unless new `exact` prop is given
  src/components/Routing/ListItemLink.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix RadioField disable to disable all options. Also allow RadioField to define the default labelPlacement for all its options. Also force being disabled while submitting
  src/components/form/RadioField.stories.tsx
  src/components/form/RadioField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix handling of RadioField initialValues
  src/components/form/RadioField.stories.tsx
  src/components/form/RadioField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak project overview scene & loading state
  src/api/operations.generated.ts
  src/components/FilesOverviewCard/FilesOverviewCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix MemberListSummary handling of empty labels
  src/components/MemberListSummary/MemberListSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add loading state to Fab
  src/components/Fab/Fab.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

[Theme] Default Fab.size small and Tooltip.arrow true
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added range functions to date & date time formatters. Added secureDate(Time)Range which merges start and end secured values
  src/api/dateRange.ts
  src/api/index.ts
  src/api/secured.ts
  src/components/Formatters/useDateFormatter.tsx
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Created Redacted component to display in UI that the user cannot read the field
  src/components/Redacted/Redacted.tsx
  src/components/Redacted/index.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Created DataButton component to handle fields displayed in outlined buttons
  src/components/DataButton/DataButton.tsx
  src/components/DataButton/index.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Added loading state to upload button
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Picture don't render "0" when darken is 0
  src/components/Picture/Picture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Picture always inherit border radius
  src/components/Picture/Picture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Work on picture stories
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add picture stories - Add set width for background/contained images
  src/components/Picture/Picture.stories.tsx
  src/components/Picture/Picture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

virtualized lists
  package.json
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/VirtualList.tsx
  src/components/VirtualList/index.ts
  src/scenes/Projects/List/ProjectList.generated.ts
  src/scenes/Projects/List/ProjectList.graphql
  src/scenes/Projects/List/ProjectList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

[storybook] Fix app contexts not being available when rendering stories
  .storybook/preview.js
  src/components/Routing/decorators.stories.tsx
  src/components/Snackbar/Snackbar.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow multiple submit actions
  src/components/form/SubmitButton.stories.tsx
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement Edit Partnerships
  src/api/displayEnums.ts
  src/api/operations.generated.ts
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/scenes/Partnerships/Edit/EditPartnership.generated.ts
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/Edit/index.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move delete functionality to a custom submit action
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectList): make updateQuery update data
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add WIP
  src/components/form/VerseField.stories.tsx
  src/components/form/VerseField.tsx
  src/util/biblejs/bibleBooks.ts
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add validateScriptureRange function
  src/components/form/VerseField.stories.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add verses field internals
  src/components/form/VerseField.stories.tsx
  src/components/form/VerseField.tsx
  src/util/biblejs/bibleBooks.ts
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update API types
  src/api/fragmentMatcher.generated.ts
  src/api/operations.generated.ts
  src/api/schema.generated.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.generated.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItem.generated.ts
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

UserListItemCard from PersonCard
  src/components/PersonCard/PersonCard.stories.tsx
  src/components/PersonCard/index.ts
  src/components/UserListItemCard/UserListItem.generated.ts
  src/components/UserListItemCard/UserListItem.graphql
  src/components/UserListItemCard/UserListItemCard.stories.tsx
  src/components/UserListItemCard/UserListItemCard.tsx
  src/components/UserListItemCard/index.ts
  src/scenes/Users/List/UserList.tsx
  src/scenes/Users/List/index.ts
  src/scenes/Users/List/users.generated.ts
  src/scenes/Users/List/users.graphql
  src/scenes/Users/Users.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Create `ListContainer` component; Add `Users` to root routes
  src/components/ListContainer/ListContainer.tsx
  src/components/ListContainer/index.ts
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Organizations/List/OrganizationList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Root/Root.tsx
  src/scenes/Users/List/UserList.tsx
  src/scenes/Users/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update styling of `UserListItemCard` to match design and add loading state
  src/components/UserListItemCard/UserListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add sort options/story for `UserList`
  src/scenes/Users/List/UserList.tsx
  src/scenes/Users/List/UserSortOptions.stories.tsx
  src/scenes/Users/List/UserSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Style updates; Loading Skeleton for People List header
  src/components/ListContainer/ListContainer.tsx
  src/components/UserListItemCard/UserListItemCard.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change name of `ListContainer` to `ContentContainer`
  src/components/ContentContainer/ContentContainer.tsx
  src/components/ContentContainer/index.ts
  src/components/ListContainer/index.ts
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Organizations/List/OrganizationList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unused `displayFirstName` and `displayLastName` fields from `UserListItem` fragment
  src/components/UserListItemCard/UserListItem.graphql
Due: prettier --write

Tweak user cards. Move card action divider to theme.
  src/api/operations.generated.ts
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/components/UserListItemCard/LandscapeCard.stories.tsx
  src/components/UserListItemCard/LandscapeCard.tsx
  src/components/UserListItemCard/PortraitCard.stories.tsx
  src/components/UserListItemCard/PortraitCard.tsx
  src/components/UserListItemCard/UserListItem.generated.ts
  src/components/UserListItemCard/UserListItem.graphql
  src/theme/overrides.ts
  src/util/index.ts
  src/util/styles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak user list
  src/components/Formatters/useNumberFormatter.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update API types
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
  src/components/Session/session.generated.ts
  src/components/Session/session.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
