Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

add flag display on approvedInventory related items
  src/components/InventoryFlagButton/ToggleFlagButton.graphql
  src/components/InventoryFlagButton/ToggleFlagButton.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/PresetInventoryFlag/PresetInventoryFlag.tsx
  src/components/PresetInventoryFlag/PresetInventoryFlagIcon.tsx
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.graphql
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

add style to break long word
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

adjusted filters and card
  src/components/InventoryFlagButton/ToggleFlagButton.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Temporarily disable search while performance problems are investigated
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Revert "Temporarily disable search while performance problems are investigated"
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add offIsNull option to SwitchField to allow the value of "off" to be null instead of false
  src/components/form/SwitchField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change language boolean filters to be true/null instead of false
  src/scenes/Languages/List/LanguageFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix partner sort to actually default to name asc like the UI says
  src/components/Sort/useSort.ts
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Partners/List/PartnerSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change project boolean filters to be true/null instead of false
  src/scenes/Projects/List/ProjectFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add preset inventory UI
  src/components/Icons/PresetInventoryIconFilled.tsx
  src/components/Icons/PresetInventoryIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Separated component for preset inventory
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Projects/Overview/PresestInventoryButton.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change preset inventory icon to be first as it seems the most important. Update icons to be spaced evenly
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Mention to pin tooltip that it only affects the current user
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Give more info in preset inventory tooltip
  src/scenes/Projects/Overview/PresestInventoryButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Give optimistic response to preset inventory toggle so UI always looks to be responsive while waiting for network
  src/scenes/Projects/Overview/PresestInventoryButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move preset inventory icon next to name, no button, no off icon
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move language present icon to second row, bigger & blue to match other boolean properties
  src/components/Icons/PresetInventoryIconFilled.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add preset inventory icon to language list card
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Pull engagements.language.presetInventory from API when toggling preset inventory to keep cache fresh
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/scenes/Projects/Overview/PresestInventoryButton.tsx
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
  src/scenes/Projects/Overview/PresetInventory/TogglePresetInventory.graphql
  src/scenes/Projects/Overview/PresetInventory/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak preset inventory filter label
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add preset inventory to LE
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Pull engagement's preset inventory from project instead of language
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add tooltip to present inventory on engagement detail
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Other goal and refactor goal sections
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
  src/scenes/Products/ProductForm/GoalsSection.tsx
  src/scenes/Products/ProductForm/OtherProductSection.tsx
  src/scenes/Products/ProductForm/ProducesSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove console log
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Display modified instead of created
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add skippedReason to periodicReport
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/ReportInfo.tsx
  src/components/files/FileActions/FileAction.enum.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FileVersionItem/FileVersionItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add paper tooltip to show periodic report skipped reason
  src/components/PeriodicReports/ReportInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add paper tooltip to info icon and skip option to periodic report context menu
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportInfo.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
  src/components/files/FileActions/FileActionsMenu.tsx
  src/scenes/Projects/Reports/SkipPeriodicReportDialog.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add edit skip reason to context menu
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportInfo.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
  src/components/files/FileActions/FileAction.enum.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/scenes/Projects/Reports/SkipPeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Ask for fresh products when uploaded planning pnp
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
Due: prettier --write

Tweak skip report dialog
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/scenes/Projects/Reports/SkipPeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change skip icon back to skip next
  src/components/files/FileActions/FileActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak skipped on card & activate tooltip on whole report section so it's a larger target
  src/components/PeriodicReports/ReportInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename product to goal
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add progress measurement and target
  src/api/displayEnums.ts
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/Progress/ProductProgress.graphql
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
  src/scenes/Products/Detail/Progress/StepList.tsx
  src/scenes/Products/Detail/Progress/StepProgress.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/ProgressMeasurementSection.tsx
  src/scenes/Products/ProductForm/ProgressTargetSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak step progress dialog
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
  src/scenes/Products/Detail/Progress/StepList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix ProgressIcon "done" state when target is not 100
  src/scenes/Products/Detail/Progress/ProgressIcon.tsx
  src/scenes/Products/Detail/Progress/StepProgress.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update ProductCard to support different measurement types & targets
  src/components/LinearProgressBar/LinearProgressBar.tsx
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix upload new version
  src/components/PeriodicReports/PeriodicReportsTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
