Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update delete engagement to be changeset aware
  src/scenes/Engagement/Delete/DeleteEngagement.graphql
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change our handleDelete type policy to not remove items from cache that are deleted in changesets
  src/api/typePolicies/deletes/handleDelete.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Give useListQuery and option to merge removed items from changeset diff
  src/components/Changeset/ChangesetDiffContext.tsx
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix pageLimitPagination breaking on undefined incoming item
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix determining removed items from changeset diff
  src/components/Changeset/ChangesetDiffContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show removed engagements from changeset in project overview
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Rename Project.status so it doesn't conflict in changeset
  src/api/fragments/changeset.graphql
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Handle deleting partnerships in changesets
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add deleted budget records from changeset diff to table list
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Publish docker image for main branches
  .github/workflows/publish.yml
  Dockerfile
Due: none

Publish PRs to docker registry if they have the `build-it` tag
  .github/workflows/publish.yml
Due: none

Add product progress steps
  src/api/index.ts
  src/api/product.ts
  src/components/LanguageEngagementForm/LanguageEngagementForm.tsx
  src/components/LanguageEngagementForm/index.ts
  src/components/LinearProgressBar/LinearProgressBar.tsx
  src/components/LinearProgressBar/index.ts
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/LanguageEngagementReport.graphql
  src/scenes/Products/List/ProductList.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductProgress.graphql
  src/scenes/Products/ProductForm/StepEditDialog.tsx
  src/scenes/Products/ProductForm/StepsList.tsx
  src/scenes/Products/ProductForm/index.ts
  src/scenes/Products/Steps.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove communications complete
  src/components/LanguageEngagementForm/LanguageEngagementForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Convert product steps list to accordion
  src/api/displayEnums.ts
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/StepEditDialog.tsx
  src/scenes/Products/ProductForm/StepsList.tsx
  src/scenes/Products/ProductForm/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix type errors
  src/components/LanguageEngagementForm/LanguageEngagementForm.tsx
  src/components/ProductCard/ProductCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge the 3 product queries back into 1
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/LanguageEngagementReport.graphql
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/Steps.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Split up LanguageEngagementDetail & LanguageEngagementForm into more manageable components
  src/components/LanguageEngagementForm/LanguageEngagementForm.tsx
  src/components/LanguageEngagementForm/index.ts
  src/scenes/Engagement/LanguageEngagement/Ceremony/CeremonyForm.tsx
  src/scenes/Engagement/LanguageEngagement/Ceremony/index.ts
  src/scenes/Engagement/LanguageEngagement/DatesForm/DatesForm.graphql
  src/scenes/Engagement/LanguageEngagement/DatesForm/DatesForm.tsx
  src/scenes/Engagement/LanguageEngagement/DatesForm/index.ts
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Engagement/LanguageEngagement/Header/index.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.graphql
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Secure percentDone
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductProgress.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Edit user role
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

User.roles field changes:
  src/components/form/SecuredField.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add useBetaFeatures hook powered by powers from session
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Only show changeset features if beta features are enabled
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/useProjectId.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix SSR redirects with relative paths
  src/components/Routing/Navigate.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge pull request #893 from SeedCompany/cord-field/722-administrator-assign-roles
  src/components/form/SecuredField.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split ResponsiveDivider & applyBreakpoint out of CardGroup
  src/components/CardGroup/CardGroup.tsx
  src/components/ResponsiveDivider/ResponsiveDivider.tsx
  src/components/ResponsiveDivider/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/util/case.ts
  src/util/index.ts
  src/util/styles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Clean up spacing and typography on ProductCard
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change Film icon PlayCircleFilled -> Movie
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow PeriodicReport icon to be disabled & to space reports evenly
  src/components/PeriodicReports/PeriodicReportCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update DefinedFileCard to be compatible with Tooltip
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix SSR warning for LargeDate placeholder text
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

DefinedFileCard don't show tooltip when hovering over context menu button
  src/components/DefinedFileCard/DefinedFileCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor LanguageEngagementDetail layout
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/ReportInfo.tsx
  src/components/ResponsiveDivider/ResponsiveDivider.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Engagement/LanguageEngagement/Ceremony/CeremonyForm.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
  src/scenes/Products/List/ProductList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement current step progress on product list card
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Trigger CI run when PR is edited
  .github/workflows/ci.yml
Due: none

Remove product progress from product create/edit. Progress is reported separately based on progress report.
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductProgress.graphql
  src/scenes/Products/ProductForm/StepEditDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Break up ProductForm's accordions into separate components
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/MediumsSection.tsx
  src/scenes/Products/ProductForm/MethodologySection.tsx
  src/scenes/Products/ProductForm/ProducesSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/PurposesSection.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/SecuredAccordion.tsx
  src/scenes/Products/ProductForm/StepsSection.tsx
  src/scenes/Products/ProductForm/VersesDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix available steps to actually remove invalid steps from form state
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Ensure steps are ordered based on available steps
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update key fields for ProductProgress now that it doesn't have its own ID
  src/api/typePolicies/typePolicies.base.ts
  src/components/ProductCard/ProductCard.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use new product label & category fields
  src/api/index.ts
  src/api/product.ts
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
