Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Avoid toggling expansion when the user intends to drag instead of click
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/expansionState.tsx
Due: eslint --ext .ts,.tsx --fix

Avoid collapsing on double click (need to delay collapse)
  src/scenes/Dashboard/ProgressReportsWidget/expansionState.tsx
Due: eslint --ext .ts,.tsx --fix

Broadcast cache writes to all tabs/windows
  src/api/client/createCache.ts
Due: eslint --ext .ts,.tsx --fix

Broadcast impersonation changes
  src/api/client/ImpersonationContext.tsx
Due: eslint --ext .ts,.tsx --fix

fix notifications layout for small data
  src/components/NotificationsCenter/Notification.tsx
  src/components/NotificationsCenter/NotificationsCenter.tsx
Due: eslint --ext .ts,.tsx --fix

expose `refetch` from `useQuery`
  src/components/List/List.tsx
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix

do something on read complete
  src/components/NotificationsCenter/Notification.tsx
  src/components/NotificationsCenter/NotificationList.graphql
  src/components/NotificationsCenter/NotificationsCenter.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add cumulative progress column
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsCollapsedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Progress Reports Grid - Cumulative Summary Column (#1602)
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsCollapsedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

New comments icons
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

New comments icons (#1608)
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

enabled sort and filter on progress column
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Display schedule status by summary numbers, not reason
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Order schedule status options by API schema
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Fix p > div
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Fix filtered total not being written to cache
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Change "View" -> "Report" / Center column
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Fix null value sorting on ordered enums
  src/components/Grid/enumColumn.tsx
Due: eslint --ext .ts,.tsx --fix

Stop coupling color to typography
  src/scenes/ProgressReports/List/ProgressReportsTable.tsx
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix

text.secondary #8f928b -> 60% black (MUI default)
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

text.primary #3c444e -> 75% black
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Remove all caps from input labels
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

IconButton default size large -> medium (follow MUI/MD)
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Card elevation 8 -> 2 / Paper 1 -> 2
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/Steps/VariantAccordion.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

AppBar elevation 1 -> 2
  src/scenes/Root/Header/Header.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Change primary color
  src/components/Changeset/PropertyDiff.tsx
  src/theme/overrides.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Change Dashboard card to use the new standard style
  src/components/Widgets/Widget.tsx
Due: eslint --ext .ts,.tsx --fix

Change Link to always underline
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/PnpValidation/PnPExtractionProblems.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Fix new comment threads not appearing
  src/components/Comments/CommentForm/CreateComment.graphql
  src/components/Comments/CommentForm/CreateComment.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

expose the dataGridProps from ProgressReportsGrid
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Add env wildcard for feature flags
  src/components/Feature.tsx
Due: eslint --ext .ts,.tsx --fix

Rename env wildcard for feature flags to work
  src/components/Feature.tsx
Due: eslint --ext .ts,.tsx --fix

Bump caniuse db
  yarn.lock
Due: none

Fix merged slotProps being overridden
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Flip order of expand/collapse all buttons per product
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Rename grid filter "Operator" -> "Condition"
  src/components/Grid/DefaultDataGridStyles.tsx
Due: eslint --ext .ts,.tsx --fix

start Notifications
  src/components/NotificationsCenter/Notification.tsx
  src/components/NotificationsCenter/NotificationList.graphql
  src/components/NotificationsCenter/NotificationsCenter.tsx
  src/components/NotificationsCenter/ReadNotification.graphql
  src/components/NotificationsCenter/notification.graphql
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move to scenes/Root - Comments are not reusable
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/Notifications/Notification.tsx
  src/scenes/Root/Notifications/NotificationList.graphql
  src/scenes/Root/Notifications/Notifications.tsx
  src/scenes/Root/Notifications/ReadNotification.graphql
  src/scenes/Root/Notifications/index.ts
  src/scenes/Root/Notifications/notification.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move feature flag toggle into Notifications
  src/components/Feature.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/Notifications/Notifications.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
