Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update ProjectFilterOptions to use EnumField
  src/scenes/Projects/List/ProjectFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update PartnershipForm to use EnumField
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update EditEngagementDialog to use EnumField
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update ProductForm to use EnumField
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix FieldSpy value for nested fields
  src/components/form/FieldSpy.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix EnumField default value
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix EnumField handling of a shown default option with a truthy default value
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update CreateProjectForm to use EnumField
  src/scenes/Projects/Create/CreateProjectForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove now unused CheckboxesField, RadioField, and ToggleButtonField
  src/components/form/CheckboxesField.stories.tsx
  src/components/form/CheckboxesField.tsx
  src/components/form/RadioField.stories.tsx
  src/components/form/RadioField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix PartnershipForm incorrectly assuming types prop existence
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Call `onClose` function for `ProfileMenu` when opening Change Password Dialog
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update styling/display logic for Project Name in Project Overview to match other similar scenes
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(reference.ts): add old testament and new testament ranges
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: full testament ranges
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): fix accordion section overflow
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feature: select full book
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/VersesDialog.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat:show correct range display on product card
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: change scripture to scripture reference
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Set `estimatedSubmission` field to only show for projects with a `status` of 'In Development'
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move `estimatedSubmission` field in ProjectOverview next to start/end dates field and add explanatory tooltip
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: connect create org form to org field
  src/components/form/Lookup/Organization/OrganizationField.tsx
  src/scenes/Organizations/Create/CreateOrganization.graphql
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat:(Partners/Create): create partner and create partner form
  src/scenes/Partners/Create/CreatePartner.graphql
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Partners/Create/CreatePartnerForm.tsx
  src/scenes/Partners/Create/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: sidebar consume CreatePartner and rename CreateOrganization
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(PartnerListItemCard.graphql): create partner list item card
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/components/PartnerListItemCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Partners): PartnerList
  src/scenes/Partners/List/PartnerList.graphql
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Partners/List/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix: Connect Partners to nav and sidebar
  src/scenes/Partners/Partners.tsx
  src/scenes/Partners/index.ts
  src/scenes/Root/Root.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: create and connect partner detail
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/index.ts
  src/scenes/Partners/Partners.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Lookup/Partner): create Partner lookup field
  src/components/form/Lookup/Partner/PartnerLookup.graphql
  src/components/form/Lookup/Partner/PartnerLookupField.tsx
  src/components/form/Lookup/Partner/index.ts
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: connect create partner to PartnerField
  src/components/form/Lookup/Partner/PartnerField.tsx
  src/components/form/Lookup/Partner/index.ts
  src/scenes/Partners/Create/CreatePartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: update partnership card and partnership summary to new partnership schema. removed direct reference to partnership.organization and added partnership.partner.org...etc
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/PartnershipSummary/PartnershipSummary.stories.tsx
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/PartnershipSummary/PartnershpItem.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: create and edit partnership uses new PartnerField
  src/components/Dialog/DialogForm.tsx
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(PartnershipCard): add canRead and canEdit to gql org name query
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(ORganizations): remove unused org code, list details, edit
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Detail/OrganizationDetail.graphql
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
  src/scenes/Organizations/Detail/index.ts
  src/scenes/Organizations/Edit/EditOrganization.graphql
  src/scenes/Organizations/Edit/EditOrganization.tsx
  src/scenes/Organizations/Edit/index.ts
  src/scenes/Organizations/List/OrganizationList.tsx
  src/scenes/Organizations/List/OrganizationSortOptions.stories.tsx
  src/scenes/Organizations/List/OrganizationSortOptions.tsx
  src/scenes/Organizations/List/Organizations.graphql
  src/scenes/Organizations/List/index.ts
  src/scenes/Organizations/Organizations.tsx
  src/scenes/Organizations/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(CreatePartner): add in refetch query after create
  src/scenes/Partners/Create/CreatePartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(DialogForm): rename clean submit variables
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Partners): simplify query
  src/scenes/Partners/Create/CreatePartner.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: prettier --write

Rename usage of securedString fragment
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/form/Lookup/Partner/PartnerLookup.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
