Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Integrate changeset warning into DialogForm. Show warning when modifying a field that's not changeset aware while viewing a changeset
  src/components/Changeset/ChangesetModificationWarning.tsx
  src/components/Dialog/DialogForm.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add changeset badge to project date range
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Work on project change request list & cards. Move edit to banner while viewing.
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Changeset/index.ts
  src/components/Dialog/DialogForm.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.tsx
  src/scenes/Projects/ChangeRequest/ProjectChangeRequestBanner.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add ChangesetInfo to engagement detail screen so they are correctly identifiable
  src/scenes/Engagement/Engagement.graphql
Due: prettier --write

Remove generated files with yarn clean
  package.json
Due: none

Allow language to be created from lookup field
  src/components/form/Lookup/Language/LanguageField.tsx
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix reference to project when creating engagements in a changeset
  src/api/typePolicies/typePolicies.base.ts
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update addItemToList/removeItemFromList to update the object's changeset diff as well
  src/api/form-error-handling.ts
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/changesetDiff.graphql
  src/api/list-caching/modifyList.ts
  src/api/list-caching/removeItemFromList.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
  src/api/typePolicies/typePolicies.base.ts
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Revert "temp remove Carson from code owners"
  .github/CODEOWNERS
Due: none

Remove communicationsCompleteDate
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Replace start/end date pairs with new date range fields
  src/api/dateRange.ts
  src/api/fragments/secured.graphql
  src/api/index.ts
  src/api/typePolicies/typePolicies.base.ts
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/Formatters/FormattedDate.tsx
  src/components/Formatters/useDateFormatter.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagement.graphql
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/InvalidateBudget/ProjectsBudget.graphql
  src/scenes/Partnerships/InvalidateBudget/invalidateBudgetRecords.ts
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
  src/scenes/Projects/DateRangeCache/CachedProjectDateRanges.graphql
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Create updateFragment helper to read, modify & write cache data
  src/api/list-caching/modifyList.ts
  src/api/updateFragment.ts
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move modifyChangesetDiff to it's own folder away from lists to prep for changed items. Move currentChangesetId there too.
  src/api/changesets/ModifyChangesetDiffOnUpdate.graphql
  src/api/changesets/currentChangesetId.ts
  src/api/changesets/index.ts
  src/api/changesets/modifyChangesetDiff.ts
  src/api/index.ts
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/modifyList.ts
  src/api/list-caching/removeItemFromList.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Pass actual project to create engagement instead of faking a reference to it
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/recalculateSensitivity.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Pull changeset from engagement object instead of using/assuming global is for this
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Mark global changeset as experimental and emphasize not to use it
  src/api/changesets/currentChangesetId.ts
  src/components/Dialog/DialogForm.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix some problems when modifying changeset diff
  src/api/changesets/ModifyChangesetDiffOnUpdate.graphql
  src/api/changesets/modifyChangesetDiff.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fetch & re-calculate the changeset diff from the API when there are changes that could affect the changeset diff
  src/api/fragments/changeset.graphql
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.graphql
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Update/UpdateProject.graphql
Due: prettier --write

Update ChangesetPropertyBadge to pull previous info from changeset diff context
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix date range initial values
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Require typename in Id fragment
  src/api/fragments/identity.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix updateCachedDateRanges from multiple fragments
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix editability of partnership date range fields
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement changesets for partnerships
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update ChangesetDiffContext to make it easier to determine diff mode of an item
  src/components/Changeset/ChangesetDiffContext.ts
  src/components/Changeset/ChangesetDiffContext.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/components/List/List.tsx
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fetch relevant project props in changeset diff
  src/api/changesets/ModifyChangesetDiffOnUpdate.graphql
  src/api/fragments/changeset.graphql
Due: prettier --write

Move badge interactive to default if changed
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split PropertyDiff out of ChangesetPropertyBadge
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/components/Changeset/PropertyDiff.tsx
  src/components/Changeset/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change determineChangesetDiffItem to have better types and return an object instead of a tuple
  src/components/Changeset/ChangesetDiffContext.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/components/List/List.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement changesets for budget records
  src/api/fragments/changeset.graphql
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Table/ChangesetAwareTable.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.tsx
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix updating budget total cache not having the ID to identify the budget whose total needs updating
  src/scenes/Projects/Budget/ProjectBudget.graphql
Due: prettier --write

Update calculating new budget total to use updateFragment helper
  src/api/index.ts
  src/api/updateFragment.ts
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change updateFragment to default to the first fragment in the document
  src/api/changesets/modifyChangesetDiff.ts
  src/api/updateFragment.ts
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split readFragment out of updateFragment. This allows us to use it independently with its benefits.
  src/api/index.ts
  src/api/readFragment.ts
  src/api/updateFragment.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix the optimistic response for updating a budget record
  src/api/fragments/index.ts
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

When leaving any project detail pages, set the current changeset to null
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish replacement of global changeset with project based
  src/api/changesets/currentChangesetId.ts
  src/api/changesets/inChangeset.ts
  src/api/changesets/index.ts
  src/components/Dialog/DialogForm.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
  src/scenes/Projects/useProjectId.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix growth plan upload, DefinedFileCard allowing any types, unify variables
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write
