Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Move transition button styles to common/
  src/common/transitionTypeStyles.tsx
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Rename gql file to match operation name. Move fragment into step folder
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ProgressReportStatus.graphql
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/TransitionProgressReport.graphql
Due: prettier --write

Finish off submit report step
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SuccessDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Replace success dialog with snackbar
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SuccessDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Simplify header spacing & change "back" to button
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
Due: eslint --ext .ts,.tsx --fix

Implement workflow bypass via a SplitButton UI
  src/components/SplitButton.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/BypassButton.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
Due: eslint --ext .ts,.tsx --fix

Limit max width
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
Due: eslint --ext .ts,.tsx --fix

Fix RichTextField loading height
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Sort enum lists by an order tag from enum value description in schema
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix

added the marketing location field
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix periodic report period column spacing
  src/components/PeriodicReports/PeriodicReportsTable.tsx
Due: eslint --ext .ts,.tsx --fix

added ExplanationOfProgress Step
  src/common/fragments/secured.graphql
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.graphql
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

made the ProgressStepper get steps dynamically
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
Due: eslint --ext .ts,.tsx --fix

Polish ExplanationOfProgress
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Change group from select to toggle button group
  src/components/form/EnumField.tsx
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Change group to default to ahead/behind if variance >10%
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Fix RichTextField loading spacing
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

added Start Report page
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/StartReportPage.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor the transition form into smaller pieces and use in the start page as well
  src/scenes/ProgressReports/EditForm/StartReportPage.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/TransitionButtons.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/useExecuteTransition.tsx
Due: eslint --ext .ts,.tsx --fix

Add user roles to logrocket identity
  src/components/Session/Session.tsx
  src/components/Session/session.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Log initial cache from server so the results of server API requests can be known
  src/api/client/createCache.ts
Due: eslint --ext .ts,.tsx --fix

moved the marketing location to the engagment level
  src/components/form/Lookup/Location/LocationFields.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix mimetype to fall back on the file name & even binary data to determine
  package.json
  src/components/Upload/getMimeType.ts
  src/components/Upload/useUploadFile.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

removed console.log
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Created IsoCountryField powered by API list
  src/components/form/IsoCountry/IsoCountries.graphql
  src/components/form/IsoCountry/IsoCountryField.tsx
  src/components/form/IsoCountry/index.ts
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Update location form to use ISO country autocomplete field
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Tweak copy on highlight & community story
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix

Added engagement description
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.graphql
  src/scenes/Engagement/LanguageEngagement/Description/Description.graphql
  src/scenes/Engagement/LanguageEngagement/Description/Description.tsx
  src/scenes/Engagement/LanguageEngagement/Description/index.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

set up gql mutations
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.graphql
Due: prettier --write

updated PromptVariantStep logic for changeable prompts
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix

updated Steps to provide change prompt document
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix

extend `ProgressReportEdit` query with `EngagementBreadcrumb`
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
Due: prettier --write

use a single API call to get the progress report data
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

moved summary under "Progress for Goals"
  src/scenes/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

made button text dynamic based on status
  src/scenes/ProgressReports/Detail/NewProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

updated `NewProgressReportCard` to reflect proper icon
  src/scenes/ProgressReports/Detail/NewProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

added status stepper
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/StatusStepper.tsx
Due: eslint --ext .ts,.tsx --fix

rearranged where the `ProductTableList` lives
  src/scenes/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

added `ViewProgressReportCard`
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ViewProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

added `ViewProgressDrawer`
  src/scenes/ProgressReports/Detail/ViewProgressDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
