Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Tweak KeyArgs/KeySpecifier types (#1436)
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
  src/api/schema/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix

Update our unexpected snackbar errors for Apollo Server v4 & our updated formatting.
  src/api/client/links/renderErrors.link.tsx
Due: eslint --ext .ts,.tsx --fix

Handle new error extensions schema (#1437)
  src/api/client/links/renderErrors.link.tsx
Due: eslint --ext .ts,.tsx --fix

updated recomended vscode extensions
  .vscode/extensions.json
Due: none

added .graphqlrc.yaml file to allow better feature support for the recommended graphql extensions
  .graphqlrc.yaml
Due: none

added pr-preview action
  .github/workflows/pr-previews.yml
Due: none

change aws region and run condition
  .github/workflows/pr-previews.yml
Due: none

getting actions to work
  .github/actions/start-codepipeline/action.yml
  .github/workflows/pr-previews.yml
  bin/start-codepipeline.js
  package.json
  yarn.lock
Due: none

finalize github actions for pr preview
  .github/actions/start-codepipeline/action.yml
  bin/start-codepipeline.js
Due: none

initial idea for getting more pipeline statuses
  bin/start-codepipeline/codebuild.ts
  bin/start-codepipeline/index.ts
  bin/start-codepipeline/new-index.ts
  bin/start-codepipeline/util.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

made trigger script typescript
  .gitignore
  bin/start-codepipeline/index.ts
  bin/tsconfig.json
  package.json
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix

attemptiing the new script
  bin/start-codepipeline/codebuild.ts
  bin/start-codepipeline/new-index.ts
  package.json
Due: eslint --ext .ts,.tsx --fix

each lib has a different type set
  .github/actions/start-codepipeline/action.yml
  bin/start-codepipeline/new-index.ts
Due: eslint --ext .ts,.tsx --fix

let's make this more human readable
  bin/start-codepipeline/index.ts
  bin/start-codepipeline/new-index.ts
  package.json
Due: eslint --ext .ts,.tsx --fix

trying to fix the weird aws-sdk missing package after sleep
  bin/start-codepipeline/index.ts
  package.json
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

make the delay between checks better
  bin/start-codepipeline/index.ts
Due: eslint --ext .ts,.tsx --fix

let's trigger all the pipeline
  .github/actions/start-codepipeline/action.yml
  .github/workflows/pr-previews.yml
Due: none

better conditions on action
  .github/workflows/pr-previews.yml
Due: none

even better run conditions
  .github/workflows/pr-previews.yml
Due: none

red bg everywhere
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

better red
  src/theme/palette.ts
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix

put back 'bin' in tsconfig
  tsconfig.json
Due: none

query for anticipated EngagementsCount, and add a data button showing the number
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

show warning text in the updatePeriodicReportDialog box if the amount skipped and submitted reports is less than the total amount-1
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

fix dialg
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

get rid of accidental anticipatedEngagementsCount
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

change icon and use number field instead of text field
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

removed extra unnecessary dependencies
  bin/start-codepipeline/index.ts
  bin/start-codepipeline/new-index.ts
  bin/start-codepipeline/util.ts
  package.json
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

initial refactor for sidedrawer
  src/components/CreateButton/CreateButton.tsx
  src/components/Icons/CordIcon.tsx
  src/scenes/Root/Creates/CreateMenu.tsx
  src/scenes/Root/RootNavList.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarDrawer.tsx
  src/scenes/Root/Sidebar/SidebarHeader.tsx
  src/scenes/Root/Sidebar/sidebar.theme.ts
  src/theme/overrides.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

consolidated triger if statment
  .github/workflows/pr-previews.yml
Due: none

cleanued the pr-preview tigger
  .github/workflows/pr-previews.yml
Due: none

cleaned up the start-codepipeline code
  bin/start-codepipeline/index.ts
Due: eslint --ext .ts,.tsx --fix

finalize pipeline triggers (#1440)
  .github/actions/start-codepipeline/action.yml
  .github/workflows/pr-previews.yml
  .gitignore
  bin/start-codepipeline.js
  bin/start-codepipeline/index.ts
  bin/tsconfig.json
  package.json
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

updated sidebar Drawer
  package.json
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/MobileNavbar.tsx
  src/scenes/Root/RootNavList.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarDrawer.tsx
  src/scenes/Root/Sidebar/SidebarHeader.tsx
  src/scenes/Root/Sidebar/index.ts
  src/scenes/Root/Sidebar/sidebar.theme.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

refactored to reflect new sidebar and mobile navigation designs
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/MobileNavbar.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/RootNavList.tsx
  src/scenes/Root/Sidebar/SidebarHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Patch another webpack MD4 usages to use MD5
  .yarn/patches/webpack-npm-4.46.0-a8158cfa7f.patch
  yarn.lock
Due: none

Patch another webpack MD4 usages to use MD5 (#1447)
  .yarn/patches/webpack-npm-4.46.0-a8158cfa7f.patch
  yarn.lock
Due: none

chore: udpate readme
  README.md
Due: none

fix: remove outdated text
  README.md
Due: none

fix: replace specific node version note with current/lts language. add api server reminder
  README.md
Due: none
