Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

`@apollo/client` 3.7 -> 3.11
  package.json
  yarn.lock
Due: none

GraphQLError -> GraphQLFormattedError
  src/api/client/links/errorCache.link.ts
  src/api/client/links/renderErrors.link.tsx
  src/api/client/links/session.link.ts
  src/api/errorHandling/error.types.ts
  src/api/errorHandling/form-error-handling.test.ts
  src/components/Error/Error.stories.tsx
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

Switch (required) to apollo's print() with caching
  src/api/client/links/persisted-queries.link.ts
  src/api/client/links/sse.link.ts
Due: eslint --ext .ts,.tsx --fix

Update modifier types to be compatible with v3.8
  src/api/caching/lists/modifyList.ts
  src/scenes/Products/Edit/updateProgressSteps.ts
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix

`@apollo/client` 3.11 -> 3.12
  package.json
  yarn.lock
Due: none

Apply new mask type mapping to our abstractions
  src/api/caching/invalidate-props.ts
  src/api/caching/lists/addItemToList.ts
  src/api/caching/lists/removeItemFromList.ts
  src/api/caching/readFragment.ts
  src/api/caching/updateFragment.ts
  src/components/Grid/useDataGridSource.tsx
  src/components/Grid/useGridMutation.ts
  src/components/form/useAutocompleteQuery.ts
  src/scenes/Partnerships/Edit/UpdateOldPrimaryPartnership.ts
  src/scenes/Partnerships/InvalidateBudget/invalidateBudgetRecords.ts
Due: eslint --ext .ts,.tsx --fix

`@apollo/client` 3.12 -> 3.14
  package.json
  yarn.lock
Due: none

Replace Query.onCompleted with useEffect
  src/components/Grid/useDataGridSource.tsx
  src/components/Workflow/Flowchart.tsx
Due: eslint --ext .ts,.tsx --fix

Move client awareness to the new spot
  src/api/client/createClient.ts
Due: eslint --ext .ts,.tsx --fix

Apollo devtools seems to connect fine now
  src/api/client/createClient.ts
Due: eslint --ext .ts,.tsx --fix

Ignore false positive deprecation notice during SSR
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

Move tslib to prod dep
  package.json
Due: none

default tool ai based to false
  src/components/Tool/ToolForm/ToolForm.tsx
Due: eslint --ext .ts,.tsx --fix

`LookupField.initialOptions` list to show when there is no search query
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix

`LookupField.createFor().initial` gql doc to query for on mount
  src/api/schema/util.ts
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix

ToolField shows an initial list
  src/components/form/Lookup/Tool/InitialToolOptions.graphql
  src/components/form/Lookup/Tool/ToolField.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Default Tool Ai-based to false (#1747)
  src/components/Tool/ToolForm/ToolForm.tsx
Due: eslint --ext .ts,.tsx --fix

add webID to internship
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

query lookup lists for field region, field zone, and funding accounts
  src/components/form/Lookup/FieldRegion/FieldRegionField.tsx
  src/components/form/Lookup/FieldRegion/InitialFieldRegionOptions.graphql
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
  src/components/form/Lookup/FieldZone/InitialFieldZoneOptions.graphql
  src/components/form/Lookup/FundingAccount/FundingAccountField.tsx
  src/components/form/Lookup/FundingAccount/InitialFundingAccountOptions.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create engagements using ai widget
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

reorganize engagement data grid fragments
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: prettier --write

refactor engagement data grid columns, remove useQuarterState
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
Due: eslint --ext .ts,.tsx --fix

minor fixes
  src/components/Avatar/Avatar.tsx
  src/components/Dialog/DialogForm.tsx
  src/components/Icons/HugeIcon.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/Sensitivity/Sensitivity.tsx
  src/components/form/NumberField.tsx
  src/components/posts/PostList.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.tsx
Due: eslint --ext .ts,.tsx --fix

Create User Projects grid with gql
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Users/Detail/Tabs/Projects/UserDetailProjects.tsx
  src/scenes/Users/Detail/Tabs/Projects/UserProjectPanel/UserProjectList.graphql
  src/scenes/Users/Detail/Tabs/Projects/UserProjectPanel/UserProjectsPanel.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

create profile page and move edit icon
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.graphql
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

set up tabs, move display properties
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

create user partners tab and grid
  src/scenes/Users/Detail/Tabs/Partners/UserDetailPartners.tsx
  src/scenes/Users/Detail/Tabs/Partners/UserPartnerPanel/UserPartnerList.graphql
  src/scenes/Users/Detail/Tabs/Partners/UserPartnerPanel/UserPartnersPanel.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

New notifications polling -> subscription
  src/scenes/Root/Notifications/NotificationAdded.graphql
  src/scenes/Root/Notifications/Notifications.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

adjust title prop
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

conditionally display pre approved icon
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

create cell invalid styling
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

add pre approved column to budget grid
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fixes
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Drop Id suffix mapping logic
  src/api/errorHandling/form-error-handling.ts
  src/components/form/SecuredField.tsx
Due: eslint --ext .ts,.tsx --fix

add adjusted amount column to budget
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

change explanation of progress ahead from 10% to 30% on tooltip
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Schedule Status Tooltip description (#1756)
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix
