Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Treat '*' locale as default for number formatting
  src/components/Formatters/useNumberFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Validate locale from request header with Intl API before using in app
  src/components/Formatters/useNumberFormatter.tsx
  src/hooks/useRequest.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Memo number & currency formatter hooks
  src/components/Formatters/useCurrencyFormatter.tsx
  src/components/Formatters/useNumberFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fallback to "unknown" user agent when not specified in http request
  src/hooks/useUserAgent.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Start custom error handling for pnp upload
  src/api/errorHandling/error.types.ts
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show snackbar error for step not planned
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix light background on auth screens
  src/scenes/Authentication/AuthLayout.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix over-eager public path string replacement affecting breadcrumb "/" separator
  razzle.config.js
Due: none

Don't bother trying to delete file when upload fails
  src/components/Upload/Upload.graphql
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Bump dependencies
  package.json
  yarn.lock
Due: none

Simplify some of the s3 upload logic
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add custom error message for file not found on upload
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add warning for old chrome version
  src/scenes/Root/Root.tsx
  src/scenes/Root/useOldChromeWarning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump to < v97 (Jan 2022)
  src/scenes/Root/useOldChromeWarning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix old chrome check when not chrome
  src/scenes/Root/useOldChromeWarning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix DateField component to have an initial value of undefined instead of null
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change uninitialized check to treat undefined as initialized
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Generate enum group maps based on group tag
  src/api/schema/codeGenUtil/ts.util.ts
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak react-router navigation after deleting intern engagements
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add a new card for when pnp upload is not allowed, and show that card when there are no products
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/PlanningNotAllowedCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change snackbar error icon to not look like a close button
  src/components/Snackbar/SnackbarProvider.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump dset for security
  yarn.lock
Due: none

add ethnologue code and rod code to the language lookup doc
  src/components/form/Lookup/Language/LanguageLookup.graphql
Due: prettier --write

pass in engagedIds to CreateEngagement component (but only CreateLanguageEngagement is going to use it)
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

make hasGoals an optional parameter
  src/components/PeriodicReports/PeriodicReportCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump eventsource for security
  yarn.lock
Due: none

add helperText when the user chooses a language to provide the rod and ethcode of the language selected.
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix update engagement status when changing project step
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: prettier --write

Fix DateField not showing validation errors that are not its own
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add date range validation
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix Financial Reporting Frequency update when editing partnership
  src/scenes/Projects/Update/UpdateProject.graphql
Due: prettier --write

Tweak edit partner so it does not accept empty strings in address field
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

enabled null to be passed in the receivedDate property
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Align language posts
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix EnumField showing label without any options
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow compose functions to use boolean short circuit shorthand
  src/util/compose-fns.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge mutation to update financial report period into single operation
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Projects/Update/UpdateProject.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak edit partner details
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow cjs imports in toolchain
  .eslintrc.js
  razzle.config.js
  src/api/schema/codeGenUtil/loadEnv.codegen.js
Due: none

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
