Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Don't require the API PR to be successful when pulling the API GQL schema
  .github/workflows/ci.yml
Due: none

Reference new API workflow
  .github/workflows/ci.yml
Due: none

Check previous workflow runs as well
  .github/workflows/ci.yml
Due: none

change create and edit input types with an appended , and fix the inputs of create and edit to have the correct variables for the CreateInput
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

pass in an optional className to the ProductCard, and use as the className in addition to the classes.root
  src/components/ProductCard/ProductCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

when a product is created, reroute to the mergedId (the regularId~changesetId) if it was created in a changeset, but route to just the engagement id if not in a changeset
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add product props to the changeset diff
  src/common/fragments/changeset.graphql
Due: prettier --write

add an anchorOrigin-ish prop to ChangesetBadge and PropertyBadge where you can control what side of the wrapped component the icon goes on, with the default being the left side of the component
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

recalculate changeset diff for products
  src/scenes/Products/Edit/EditProduct.graphql
Due: prettier --write

address comments in review
  src/common/fragments/changeset.graphql
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

revert the changes that had a wrapper input product for create and updtae
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix imports and lint problems
  src/components/Changeset/ChangesetPropList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

return null on error for ChangesetPropList
  src/components/Changeset/ChangesetPropList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix lint
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.tsx
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

shouldn't see the edit button for a goal if not allowed to edit
  src/scenes/Products/Detail/ProductDetailHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

edit button for a partnership should be disabled if cannot edit fields of partnership
  src/components/PartnershipCard/PartnershipCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

shoudn't have a plus button for adding a goal if not allowed to create one
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

should not have any actions if there is not a report for that row if not allowed to skip
  src/components/PeriodicReports/PeriodicReportsTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add an import
  src/components/PartnershipCard/PartnershipCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

test
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

revert test comment
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add an explanation form, and put into ProgressReport
  .vscode/extensions.json
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.graphql
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Generate enum group maps based on group tag
  src/api/schema/codeGenUtil/ts.util.ts
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add function that will parse the groups to find the group(s) the reason(s) belong to
  src/common/displayEnums.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

put variance reasons and explanation in the progress summary card to make it more cohesive with the progress variance taken from the pnp file
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

return map of reason groups as a Set so that we have unique values; take out the ProgressExplanation info from the ProgressSummaryCard and instead put it in its own card
  src/common/displayEnums.ts
  src/scenes/ProgressReports/Detail/ProgressExplanationCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

redo the styling of the progress status and reason into an in-page form instead of a DialogForm.
  src/components/form/SelectField.tsx
  src/scenes/ProgressReports/Detail/ProgressExplanationCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix/add some styling, add an Info Card for when the 'mode' is editing, add a button that will switch between a pencil and a cancel button for editing/viewing the explanation info
  src/scenes/ProgressReports/Detail/ProgressExplanationCard.tsx
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix import for enum list codegen
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix imports to be more specific
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix lint stuff
  src/common/displayEnums.ts
  src/components/form/SelectField.tsx
  src/scenes/ProgressReports/Detail/ProgressExplanationCard.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

finish up rebasing on develop
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix imports and styling function
  src/scenes/ProgressReports/Detail/ProgressExplanationCard.tsx
  src/scenes/ProgressReports/ExplanationForm/ExplanationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Revert CalenderDate constructor change from 9d92cf6
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Treat events given to toggleManagerOpen as undefined
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix ProgressReportList click handler
  src/components/PeriodicReports/PeriodicReportsList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump eslint-plugin-tss-unused-classes to fix peer dep
  package.json
  yarn.lock
Due: none

Bump yarn sdks
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: none

Bump undici for security
  yarn.lock
Due: none

Default to identity when scalar parser is not defined
  src/api/schema/typePolicies/scalars/scalars.parser.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
