Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Update luxon 1.23.0 -> 1.24.1 & update types but lock to version
  package.json
  yarn.lock
Due: none

Update typescript 3.8.3 -> 3.9.7
  package.json
  yarn.lock
Due: none

Update @types/react
  package.json
  src/components/Routing/ListItemLink.tsx
  src/components/Routing/MenuItemLink.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update rest of packages
  package.json
  yarn.lock
Due: none

Explicitly require babel-jest to fix tests
  package.json
  yarn.lock
Due: none

Explicitly require babel-loader to fix storybook (referenced in webpack config)
  package.json
  yarn.lock
Due: none

Revert update to `@types/node`, `@types/react`, and `@types/react-dom`, which were causing a typings conflict with another third-party package
  package.json
  src/components/Routing/ListItemLink.tsx
  src/components/Routing/MenuItemLink.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Languages): pronounciation guide
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Autocomplete field
  src/components/form/AutocompleteField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add OrganizationAutocomplete
  src/api/operations.generated.ts
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.generated.ts
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.graphql
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.stories.tsx
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

FieldSpy show error if referencing a field not registered
  src/components/form/FieldSpy.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off LookupField (renamed from AutocompleteField)
  src/api/operations.generated.ts
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.generated.ts
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.graphql
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.stories.tsx
  src/components/OrganizationAutocomplete/OrganizationAutocomplete.tsx
  src/components/form/AutocompleteField.tsx
  src/components/form/CheckboxesField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/Lookup/OrganizationField/OrganizationField.stories.tsx
  src/components/form/Lookup/OrganizationField/OrganizationField.tsx
  src/components/form/Lookup/OrganizationField/OrganizationLookup.generated.ts
  src/components/form/Lookup/OrganizationField/OrganizationLookup.graphql
  src/components/form/Lookup/OrganizationField/index.ts
  src/components/form/Lookup/index.ts
  src/components/form/index.ts
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix outlined input notch size
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move isNetworkRequestInFlight to our src to fix build/tests
  src/api/index.ts
  src/api/networkStatus.ts
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unneeded check to show empty option list
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary scalar config in operation config
  codegen.yml
Due: none

Update @graphql-codegen/typescript-react-apollo 1.17.7 -> 2.0.4. Which uses apollo v3 by default
  codegen.yml
  package.json
  src/components/Session/session.generated.ts
  src/components/form/Lookup/OrganizationField/OrganizationLookup.generated.ts
  src/scenes/Authentication/ForgotPassword/ForgotPassword.generated.ts
  src/scenes/Authentication/Login/Login.generated.ts
  src/scenes/Authentication/Logout/logout.generated.ts
  src/scenes/Authentication/Register/register.generated.ts
  src/scenes/Authentication/ResetPassword/ResetPassword.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Languages/Create/CreateLanguage.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/List/languages.generated.ts
  src/scenes/Organizations/Create/CreateOrganization.generated.ts
  src/scenes/Organizations/Detail/OrganizationDetail.generated.ts
  src/scenes/Organizations/Edit/EditOrganization.generated.ts
  src/scenes/Organizations/List/Organizations.generated.ts
  src/scenes/Partnerships/Edit/EditPartnership.generated.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Projects/Create/CreateProject.generated.ts
  src/scenes/Projects/List/projects.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Edit/EditUser.generated.ts
  src/scenes/Users/List/users.generated.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update gql-codegen to load our custom plugins from TS files
  package.json
  src/api/scalars/scalars.codegen.js
  tsconfig.codegen.json
Due: none

Refactor scalars plugin to typePolicies
  codegen.yml
  package.json
  src/api/ApolloProvider.tsx
  src/api/scalars/index.ts
  src/api/scalars/scalars.codegen.ts
  src/api/scalars/scalars.parser.ts
  src/api/typePolicies/gql.util.ts
  src/api/typePolicies/index.ts
  src/api/typePolicies/scalars/scalars.codegen.ts
  src/api/typePolicies/scalars/scalars.parser.ts
  src/api/typePolicies/ts.util.ts
  src/api/typePolicies/typePolicies.base.ts
  src/api/typePolicies/typePolicies.codegen.ts
  src/api/typePolicies/typePolicies.generated.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update our type policy to handle secured objects
  src/api/typePolicies/secured/secured.codegen.ts
  src/api/typePolicies/secured/secured.ts
  src/api/typePolicies/typePolicies.codegen.ts
  src/api/typePolicies/typePolicies.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

re-execute session query and retry previously failed gql operation upon receipt of a NoSession error code
  src/api/ApolloProvider.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak session retry code (no functional changes)
  src/api/ApolloProvider.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename OrganizationField
  src/components/form/Lookup/Organization/OrganizationField.stories.tsx
  src/components/form/Lookup/Organization/OrganizationField.tsx
  src/components/form/Lookup/Organization/OrganizationLookup.generated.ts
  src/components/form/Lookup/Organization/OrganizationLookup.graphql
  src/components/form/Lookup/Organization/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add id to location fragments
  src/api/fragments/location.generated.ts
  src/api/fragments/location.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add UserField
  src/components/form/Lookup/User/User.stories.tsx
  src/components/form/Lookup/User/UserField.tsx
  src/components/form/Lookup/User/UserLookup.generated.ts
  src/components/form/Lookup/User/UserLookup.graphql
  src/components/form/Lookup/User/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add language lookup
  src/components/form/Lookup/Language/LanguageField.stories.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Language/LanguageLookup.generated.ts
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/components/form/Lookup/Language/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add location lookups
  src/components/form/Lookup/Location/LocationFields.stories.tsx
  src/components/form/Lookup/Location/LocationFields.tsx
  src/components/form/Lookup/Location/LocationLookup.generated.ts
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/components/form/Lookup/Location/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add project lookups
  src/components/form/Lookup/Project/ProjectFields.stories.tsx
  src/components/form/Lookup/Project/ProjectFields.tsx
  src/components/form/Lookup/Project/ProjectLookup.generated.ts
  src/components/form/Lookup/Project/ProjectLookup.graphql
  src/components/form/Lookup/Project/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add product lookups
  src/components/form/Lookup/Product/ProductFields.stories.tsx
  src/components/form/Lookup/Product/ProductFields.tsx
  src/components/form/Lookup/Product/ProductLookup.generated.ts
  src/components/form/Lookup/Product/ProductLookup.graphql
  src/components/form/Lookup/Product/index.ts
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Api updates
  src/api/fragmentMatcher.generated.ts
  src/api/operations.generated.ts
  src/api/schema.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix useDialog generic for string literals
  src/components/Dialog/useDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix codegen for node v12
  tsconfig.codegen.json
Due: none

Update generated API types
  src/api/schema.generated.ts
  src/api/typePolicies/typePolicies.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change type policy merges to use apollo's shortcut which also handles more cases
  src/api/typePolicies/secured/secured.codegen.ts
  src/api/typePolicies/secured/secured.ts
  src/api/typePolicies/typePolicies.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Ignore prettying & linting generated files
  .eslintignore
  .prettierignore
  codegen.yml
Due: none

Update gql-codegen to load .env files the same way CRA does
  package.json
  src/api/loadEnv.codegen.js
Due: none

Grab GQL schema for code gen from API endpoint
  codegen.yml
Due: none

Generate graphql schema file from API endpoint
  codegen.yml
  package.json
  yarn.lock
Due: none
