Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

passing `className` to ProductSummaryCard
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix

moved commonly used fragments to `~/common/fragments`
  src/common/fragments/index.ts
  src/common/fragments/prompt.graphql
  src/common/fragments/secured.graphql
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

switched from `toFormat` to `toLocaleString`
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

using `Box` for `md` shorthand instead of div
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptVariantStep.tsx
Due: eslint --ext .ts,.tsx --fix

RoleIcon extends `SvgIconProps`
  src/scenes/ProgressReports/EditForm/RoleIcon.tsx
Due: eslint --ext .ts,.tsx --fix

display error if issues with Progress Report in Edit form
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

using `pagination` prop instead of `hidePagination`
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

removed Submit Report button
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

updated ProgressReportStepper to reflect design changes
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
Due: eslint --ext .ts,.tsx --fix

removed `editable` and `extendedHeader` props from ProductTable
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

made `report` non-nullable in context
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/NextStepButton.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix

spread the rest of props to `RoleIcon`
  src/scenes/ProgressReports/EditForm/RoleIcon.tsx
Due: eslint --ext .ts,.tsx --fix

Tweak types in RichTextField & DRY check for empty data
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Bump libraries for security
  package.json
  yarn.lock
Due: none

update ProgressReportEdit to use new `variant` fragment
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
Due: prettier --write

Patch webpack to use MD5 instead of MD4
  .yarn/patches/webpack-npm-4.46.0-a8158cfa7f.patch
  package.json
  yarn.lock
Due: none

getting ProgressStep closer to the finish line
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

renamed `RoleIcon` prop `role` to `variantRole`
  src/scenes/ProgressReports/EditForm/RoleIcon.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

better structure on ProgressStep component
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Tweak ProgressStep variant handling
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Move VariantSelector to separate file
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/VariantSelector.tsx
Due: eslint --ext .ts,.tsx --fix

Move update mutation call from data grid edit to separate hook
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Inline EditableProductTable
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Move progress summary and pnp file to a separate component
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/PnpFileAndSummary.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Use Stack to apply spacing
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Make variant list once and infer types
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor ProductTable to just forward GridProps via single prop
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

Only allow steps that are planned to be edited
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor StepProgress editing
  src/components/Grid/EditNumberCell.tsx
  src/components/Grid/useCurrencyColumn.tsx
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/Progress/ProductProgress.graphql
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add option to show count characters for RichTextField
  package.json
  src/components/Formatters/useNumberFormatter.tsx
  src/components/RichText/RichTextField.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Ignore editorjs react wrapper class
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Enable character count for marketing highlight variants
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust character count to display alongside the given helper text
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Bump yarn 3.2.2 -> 3.3.0
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Bump libraries with easy updates
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Remove dev deps via yarn plugin
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  Dockerfile
Due: none

Tweak src for latest TS errors
  src/common/array-helpers.ts
  src/components/Changeset/Grid/ChangesetRow.tsx
  src/components/form/DateField.tsx
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix

Fix lint errors from latest eslint release
  src/api/caching/lists/removeItemFromList.ts
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
  src/components/form/VersesField.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.tsx
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

Added SubmitReportStep
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SuccessDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/index.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Forward ref for Submit/Progress Buttons
  src/components/ProgressButton/ProgressButton.tsx
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix
