Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Remove apiFilterModel from initial view state
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Use -1 for missing total instead of nil since Apollo verifies
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Fix quick filter un-selection resulting in `anyOf: []`
  src/components/Grid/QuickFilters.tsx
Due: eslint --ext .ts,.tsx --fix

Fix quick filters not having ids
  src/components/Grid/QuickFilters.tsx
Due: eslint --ext .ts,.tsx --fix

Fix persisting api filters for columns that shouldn't be persisted
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Avoid page merging top level projects/engagements queries
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Projects/List/EngagementList.graphql
  src/scenes/Projects/List/ProjectList.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix useDataGridSource mistakenly requiring hasMore from API
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Cache yarn binary in docker image
  Dockerfile
Due: none

Typo from 3d21e34
  src/api/schema/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix

Don't show transition label if it is basically the same
  src/components/Workflow/nodes.tsx
Due: eslint --ext .ts,.tsx --fix

Don't show transition notifier icon if there are no notifiers
  src/components/Workflow/transition-info.tsx
Due: eslint --ext .ts,.tsx --fix

Add engagement workflow view
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/Workflow/EngagementFlowchart.graphql
  src/scenes/Engagement/Workflow/EngagementFlowchart.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Link to engagement workflow from update dialog
  src/scenes/Engagement/EditEngagement/EngagementWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Fix persisted position not applying when x/y negative
  src/components/Workflow/layout.ts
Due: eslint --ext .ts,.tsx --fix

fix keyArgs not setting properly on commentThreads
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

fix WebStorm `Start_All` task
  .idea/runConfigurations/Start_All.xml
Due: none

added firstValue helper
  src/common/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix

adding gql files for comments
  src/components/Comments/CommentEdit/CommentEdit.graphql
  src/components/Comments/CommentItem/DeleteComment.graphql
  src/components/Comments/CommentReply/CommentReply.graphql
  src/components/Comments/CommentsThreadList.graphql
Due: prettier --write

use Comments provider
  src/App.tsx
Due: eslint --ext .ts,.tsx --fix

added comments sidebar and components
  src/components/Comments/CommentEdit/CommentEdit.tsx
  src/components/Comments/CommentEdit/index.ts
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentItem/CommentItemMenu.tsx
  src/components/Comments/CommentItem/index.ts
  src/components/Comments/CommentReply/CommentReply.tsx
  src/components/Comments/CommentReply/index.ts
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/CommentThreadAccordion.tsx
  src/components/Comments/CommentThread/index.ts
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsBarContext.tsx
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

use toggle comments button
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

replace table column name to rolv
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

change toggle colors
  src/components/Grid/QuickFilters.tsx
Due: eslint --ext .ts,.tsx --fix

add manage columns button and change color of quick filter toggles
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/QuickFilters.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Grid Toolbar: add columns button and change quick filter toggle color (#1569)
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/QuickFilters.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Add filter panel button to datagrid toolbars
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Add filter panel button to datagrid toolbars (#1571)
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Show member & pinned columns so they show in filters, but keep hidden initially
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Add boolean column abstraction
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/booleanColumn.tsx
  src/components/Grid/index.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Customize boolean filter handling to actual booleans instead of string representations
  src/components/Grid/GridFilterInputBoolean.tsx
  src/components/Grid/booleanColumn.tsx
Due: eslint --ext .ts,.tsx --fix

create Project History Log drawer
  src/scenes/Projects/StatusHistory/ProjectStatusChip.tsx
  src/scenes/Projects/StatusHistory/StatusHistoryDrawer.tsx
  src/scenes/Projects/StatusHistory/StatusWorkflowEvent.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

use ProjectHistoryLog drawer
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

rename rod to rolv in graphql queries
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: prettier --write

rename rod to rolv, properties and descriptions
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix

fixed prev history item issue
  src/scenes/Projects/StatusHistory/StatusHistoryDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

align chips more to design
  src/scenes/Projects/StatusHistory/ProjectStatusChip.tsx
Due: eslint --ext .ts,.tsx --fix

align list more to design
  src/scenes/Projects/StatusHistory/StatusHistoryDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

split project and language columns
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Icons/AssignmentIcon.tsx
  src/components/Icons/index.ts
Due: eslint --ext .ts,.tsx --fix

remove Assignment Icon, reorder engagement columns and fix resizing issue
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Icons/AssignmentIcon.tsx
  src/components/Icons/index.ts
Due: eslint --ext .ts,.tsx --fix

change global innovations labels to growth partners
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
