Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Create User Partner list
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/Grid/Footer.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/index.ts
  src/scenes/Users/Detail/Tabs/Partners/UserDetailPartners.tsx
  src/scenes/Users/Detail/Tabs/Partners/UserPartnerList.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Config Org - User assignment and removal
  src/scenes/Users/Detail/Tabs/Partners/AssignOrgToUserForm/AssignOrgToUser.graphql
  src/scenes/Users/Detail/Tabs/Partners/AssignOrgToUserForm/AssignOrgToUserForm.tsx
  src/scenes/Users/Detail/Tabs/Partners/RemoveOrgFromUser.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add field region to project grid
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add field region to engagement grid
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

draft
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldRegions/Detail/Tabs/Profile/FieldRegionProfile.graphql
  src/scenes/FieldRegions/Detail/Tabs/Profile/FieldRegionProfile.tsx
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.graphql
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Detail/Tabs/Profile/FieldZoneProfile.graphql
  src/scenes/FieldZones/Detail/Tabs/Profile/FieldZoneProfile.tsx
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjects.graphql
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjects.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Field Region tabs, Add Projects grid components and gql
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldRegions/Detail/Tabs/Profile/FieldRegionProfile.graphql
  src/scenes/FieldRegions/Detail/Tabs/Profile/FieldRegionProfile.tsx
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.graphql
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Field Zone tabs, Add Projects grid components and gql
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Detail/Tabs/Profile/FieldZoneProfile.graphql
  src/scenes/FieldZones/Detail/Tabs/Profile/FieldZoneProfile.tsx
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjects.graphql
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjects.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add DBL Information PDF (#1713)
  public/pdfs/dbl-uploads.pdf
Due: none

Only run posthog on client
  package.json
  src/App.tsx
  src/client.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Remove ErrorButton/CreateButton wrappers, use Button with color="error" directly
  src/components/CreateButton/CreateButton.stories.tsx
  src/components/CreateButton/CreateButton.tsx
  src/components/CreateButton/index.ts
  src/components/ErrorButton/ErrorButton.stories.tsx
  src/components/ErrorButton/ErrorButton.tsx
  src/components/ErrorButton/index.ts
  src/scenes/Root/Creates/CreateMenu.tsx
Due: eslint --ext .ts,.tsx --fix

add sign language code column to Language grid
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Replace makeStyles with sx props and inline styles
  src/components/Debug/Code.tsx
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/ProgressButton/ProgressButton.tsx
  src/components/Redacted/Redacted.tsx
  src/components/Snackbar/SnackbarProvider.tsx
Due: eslint --ext .ts,.tsx --fix

continue removing makeStyles
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Error/Error.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/FundingAccountCard/FundingAccountCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LocationCard/LocationCard.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/MethodologiesCard/MethodologiesCard.tsx
  src/components/OrganizationListItemCard/OrganizationListItemCard.tsx
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadItems.tsx
Due: eslint --ext .ts,.tsx --fix

small style changes
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/ProgressButton/ProgressButton.tsx
Due: eslint --ext .ts,.tsx --fix

Tech Debt - Replace ErrorButton/CreateButton -> Button, remove makeStyles Part 1 (#1720)
  src/components/CreateButton/CreateButton.stories.tsx
  src/components/CreateButton/CreateButton.tsx
  src/components/CreateButton/index.ts
  src/components/Debug/Code.tsx
  src/components/ErrorButton/ErrorButton.stories.tsx
  src/components/ErrorButton/ErrorButton.tsx
  src/components/ErrorButton/index.ts
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/ProgressButton/ProgressButton.tsx
  src/components/Redacted/Redacted.tsx
  src/components/Snackbar/SnackbarProvider.tsx
  src/scenes/Root/Creates/CreateMenu.tsx
Due: eslint --ext .ts,.tsx --fix

small styling fixes
  src/components/Debug/Code.tsx
  src/components/Error/Error.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/MethodologiesCard/MethodologiesCard.tsx
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/components/ProgressButton/ProgressButton.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/Redacted/Redacted.tsx
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix

Add loading skeletons, remove field region col field region - projects table
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldRegions/Detail/Tabs/Profile/FieldRegionProfile.tsx
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Detail/Tabs/Profile/FieldZoneProfile.tsx
Due: eslint --ext .ts,.tsx --fix

add usesAIAssistance field to language details and grid
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Tool forms
  src/components/Tool/CreateTool/CreateTool.graphql
  src/components/Tool/CreateTool/CreateTool.tsx
  src/components/Tool/EditTool/EditTool.graphql
  src/components/Tool/EditTool/EditTool.tsx
  src/components/Tool/ToolForm/ToolForm.graphql
  src/components/Tool/ToolForm/ToolForm.tsx
  src/components/Tool/index.ts
  src/components/form/Lookup/Tool/ToolField.tsx
  src/components/form/Lookup/Tool/ToolLookup.graphql
  src/components/form/Lookup/Tool/index.ts
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Tool Usage forms
  src/components/ToolUsage/CreateToolUsage/CreateToolUsage.graphql
  src/components/ToolUsage/CreateToolUsage/CreateToolUsage.tsx
  src/components/ToolUsage/DeleteToolUsage/DeleteToolUsage.graphql
  src/components/ToolUsage/DeleteToolUsage/DeleteToolUsage.tsx
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/components/ToolUsage/ManageToolUsage/index.ts
  src/components/ToolUsage/ToolUsageForm/ToolUsageForm.graphql
  src/components/ToolUsage/ToolUsageForm/ToolUsageForm.tsx
  src/components/ToolUsage/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Implement Tool Usage in Language Engagement
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/ToolCard.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/Tools.graphql
  src/scenes/Engagement/LanguageEngagement/Tools/Tools.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish Tool components
  src/components/Tool/CreateTool/CreateTool.tsx
  src/components/Tool/EditTool/EditTool.graphql
  src/components/Tool/EditTool/EditTool.tsx
  src/components/Tool/ToolForm/ToolForm.tsx
  src/components/form/Lookup/Tool/ToolField.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish ToolUsage display components & make sharable
  src/components/ToolUsage/DisplayToolUsage/DisplayToolUsage.tsx
  src/components/ToolUsage/DisplayToolUsage/displayToolUsage.graphql
  src/components/ToolUsage/ToolsUsedList/ToolsUsedList.tsx
  src/components/ToolUsage/ToolsUsedList/toolsUsedList.graphql
  src/components/ToolUsage/index.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/ToolCard.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/Tools.graphql
  src/scenes/Engagement/LanguageEngagement/Tools/Tools.tsx
  src/scenes/Engagement/LanguageEngagement/Tools/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Adapt to secured tool usage list API change
  src/components/ToolUsage/CreateToolUsage/CreateToolUsage.graphql
  src/components/ToolUsage/ToolsUsedList/ToolsUsedList.tsx
  src/components/ToolUsage/ToolsUsedList/toolsUsedList.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Consolidate & Polish Managing Tool Usage dialog
  src/components/ToolUsage/CreateToolUsage/CreateToolUsage.tsx
  src/components/ToolUsage/DeleteToolUsage/DeleteToolUsage.tsx
  src/components/ToolUsage/DisplayToolUsage/DisplayToolUsage.tsx
  src/components/ToolUsage/ManageToolUsage/CreateToolUsage.graphql
  src/components/ToolUsage/ManageToolUsage/DeleteToolUsage.graphql
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/components/ToolUsage/ManageToolUsage/ToolUsageForm.graphql
  src/components/ToolUsage/ToolUsageForm/ToolUsageForm.tsx
  src/components/ToolUsage/ToolsUsedList/ToolsUsedList.tsx
  src/components/ToolUsage/ToolsUsedList/toolsUsedList.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Refocus tool field on submission to chain additions easier
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

Optimistically add/delete tool usages. Sort usage list alphabetically by tool name
  src/components/ToolUsage/DisplayToolUsage/displayToolUsage.graphql
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/components/ToolUsage/ManageToolUsage/ToolUsageForm.graphql
  src/components/ToolUsage/ToolsUsedList/ToolsUsedList.tsx
  src/components/form/Lookup/Tool/ToolLookup.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Show "unknown" for missing start date. Fixes empty tooltip
  src/components/ToolUsage/DisplayToolUsage/DisplayToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

Show "unknown" for missing tool usage start date (#1725)
  src/components/ToolUsage/DisplayToolUsage/DisplayToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

row total accounts for client side filtering
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Add departmentId edit alongside project name
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add departmentId edit alongside project name (#1727)
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

wip
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add marketable and description to internship UI
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Description/Description.graphql
  src/scenes/Engagement/LanguageEngagement/Description/Description.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write
