Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `overflow-wrap: break-word` and `word-break: break-all` CSS properties to h4 containing potentially(?) long language name
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Have language name span full width of card instead of being to the left of population column
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(UserDetail.tsx): remove console log
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Languages): edit and show sign language
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Languages): show and edit language sensitivity
  src/components/form/SelectField.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(LanguageDetail.tsx): show ethnologue name
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(/EditLanguage.tsx): pass through null to population override if omitted
  src/scenes/Languages/Edit/EditLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: show and edit end fiscal year
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Languages): start and end sponsor dates
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(Languages): remove console log and fix display ethnologue code logic
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(/LanguageDetail.tsx): always show provisional code
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Languages): implement sign language code and fix lang form types
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(EditLanguage.tsx): set ethnologue code and prov code to null on empty fields on edit lang
  src/scenes/Languages/Edit/EditLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Languages): delete language wip
  src/scenes/Languages/Edit/EditLanguage.graphql
  src/scenes/Languages/Edit/EditLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(ProjectOverview): separate project engagements query and loading
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(ProjectOverview.tsx): only mount engagements when the rest of the details are loaded
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(/Users/Detail): display user roles on detail page
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(ProjectOverview.tsx): always show population total
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectOverview.tsx): display total interns
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create new fragments in `api/fragments` for commonly used secured fields and User fields
  src/api/fragments/secured.graphql
  src/api/fragments/user.graphql
Due: prettier --write

Update for new Locations change in API
  src/api/fragments/location.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/SearchResults/Search.graphql
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Edit/EditUser.graphql
  src/scenes/Users/UserForm/UserForm.graphql
Due: prettier --write

Update UI with new values from updated `Location` API
  src/api/location-helper.ts
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/form/Lookup/Location/LocationFields.stories.tsx
  src/components/form/Lookup/Location/LocationFields.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove unused fields from `DisplayLocation` fragment; Swap out inline location fields in `ProjectListItem fragment with `...DisplayLocation`
  src/api/fragments/location.graphql
  src/components/ProjectListItemCard/ProjectListItem.graphql
Due: prettier --write

Fix name of `data` object to `projectOverviewData`, which is what it was changed to in a recent PR
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove geographyName from Location search results
  src/scenes/SearchResults/Search.graphql
Due: prettier --write

Started EnumField based on CheckboxesField
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
  src/components/form/index.ts
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Export other fields that haven't been exported
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow options to be specified by children node or by options list
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement toggle-split variant
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement toggle-grouped variant
  src/components/form/EnumField.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement radio variant
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix margin on toggle grouped
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change options/children props to be mutually exclusive for TS compilation
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change singular empty value to null instead of undefined
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

DRY up stories
  src/components/form/EnumField.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add option to layout as row or column
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add defaultOption for use with options
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Expand stories for single/multiple & options/custom children for each
  src/components/form/EnumField.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove select variant for now
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add two column layout option
  src/components/form/EnumField.stories.tsx
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
