Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove commented-out sample code used to write `ExcelPreview` component
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Preview error handling
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewContext.tsx
  src/components/files/FilePreview/PreviewError.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add optional `errorHandler` param to `useRetrieveFile` hook to allow consumers to implement their own error handling
  src/components/files/FilePreview/useRetrieveFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add packages required for displaying PDF and Microsoft files
  yarn.lock
Due: none

- Wire up `ProjectFilesList` file items to `FilePreview` component - Add default `'.unknown'` file type for files that don't have an extension to use as the file type
  src/components/files/FilePreview/FilePreview.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove `react-file-viewer` and sub in a simple iframe for now
  src/components/files/FilePreview/FilePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Excel Previews
  global.d.ts
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/useRetrieveFile.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement basic error rendering in `ExcelPreview`
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor `ExcelPreview` to all previewing all sheets in a workbook, with pagination
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Preview Pagination
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewContext.tsx
  src/components/files/FilePreview/PreviewPagination.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unused `usePreviewError` file, since this hook was moved into `PreviewContext.tsx`
  src/components/files/FilePreview/usePreviewError.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add minimal Excel-like styling to markup rendered by `ExcelPreview`
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Pass `PreviewLoading` component to `loading` prop of `react-pdf` `Document` component
  src/components/files/FilePreview/PdfPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

ImagePreview -> NativePreview; Image/Video MIME Types
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Word Preview
  global.d.ts
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewContext.tsx
  src/components/files/FilePreview/WordPreview.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Preview loading and refactor of `useRetrieveFile`
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/PreviewContext.tsx
  src/components/files/FilePreview/PreviewLoading.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/components/files/FilePreview/usePreviewError.ts
  src/components/files/FilePreview/useRetrieveFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Preview width
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewPagination.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

CSV Preview
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/SpreadsheetView.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Audio Previews and "Not Supported" component
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add side effect to reset current preview page back to 1 when unmounting the `PreviewPagination` component
  src/components/files/FilePreview/PreviewPagination.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add minimal styling to `PreviewNotSupported` component
  src/components/files/FilePreview/PreviewNotSupported.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix re-rendering bug in `ExcelPreview`
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/components/files/FilePreview/useRetrieveFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Image Preview, PdfPreview loading bug, Loading component styling
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/ImagePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewLoading.tsx
  src/components/files/FilePreview/useRetrieveFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update `FileVersionItem` to pass `mimeType` to `fileIcon` function instead of `category`; Update required fragment to include `mimeType`
  src/components/files/FileVersionItem/FileVersionItem.graphql
  src/components/files/FileVersionItem/FileVersionItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

MIME type-based file icons
  src/components/files/FILE_MIME_TYPES.ts
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/hooks/useFileNodeIcon.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

File Version downloads; Custom hook for imperatively fetching download URL
  src/components/files/FileActionsMenu/FileActions.graphql
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/hooks/useDownloadFile.tsx
  src/scenes/Projects/Files/FileVersions.tsx
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Files/useProjectFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove all logging used to debug and direct logging of `error` in all `catch { ... } ` statements
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/components/files/hooks/useDownloadFile.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/useProjectFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Get File `downloadUrl` on demand
  src/components/files/FileActionsMenu/FileActions.graphql
  src/components/files/FileActionsMenu/index.ts
  src/components/files/hooks/useDownloadFile.tsx
  src/scenes/Projects/Files/ProjectFiles.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

File Icons for files staged to be uploaded
  src/components/files/index.ts
  src/components/files/useFileNodeIcon.ts
  src/components/form/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Imperative downloadUrl query bugfix; Preview Error reset; Additional styling
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PreviewError.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/useProjectFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor to move typings shared by `CsvPreview` and `ExcelPreview` to `SpreadsheetView`
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/SpreadsheetView.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wrap name of file in quotation marks to distinguish it from instructions
  src/scenes/Projects/Files/UploadProjectFileVersion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Display file count in Project Overview
  src/components/files/FilesOverviewCard/FilesOverviewCard.stories.tsx
  src/components/files/FilesOverviewCard/FilesOverviewCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

- Update `FileActionsMenu` with values and logic to hide "History" and "New Version" options when viewing a `FileVersion` - Remove several `console.log`s used in debugging
  src/components/files/FileActions/DeleteFile.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FileActions/FileVersions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor Preview Context into new File Actions Context
  src/components/files/FileActions/DeleteFile.tsx
  src/components/files/FileActions/FileActions.graphql
  src/components/files/FileActions/FileActions.tsx
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FileActions/FileVersions.tsx
  src/components/files/FileActions/RenameFile.tsx
  src/components/files/FileActions/UploadFileVersion.tsx
  src/components/files/FileActions/index.ts
  src/components/files/FileActionsMenu/FileActions.graphql
  src/components/files/FileActionsMenu/index.ts
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PreviewContext.tsx
  src/components/files/FilePreview/PreviewPagination.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/components/files/hooks/index.ts
  src/components/files/hooks/useDownloadFile.tsx
  src/components/files/hooks/useGetFileDownloadUrl.ts
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/UploadProjectFiles.tsx
  src/scenes/Projects/Files/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove duplicate code introduced during rebase
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Remove inaccurate calculation of total files from `ProjectOverview` - Remove unused `rootDirectory` fields from `project` query
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Recursive calculation of total files
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove `console.log` from submit handler in `DeleteFile` component
  src/components/files/FileActions/DeleteFile.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add back in comment removed from `ProjectOverview` that still needs to exist for TODO
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
