Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

internship engagement list item card component + fragment + stories
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.generated.ts
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/InternshipEngagementListItemCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add FilesOverviewCard
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/FilesOverviewCard/FilesOverviewCard.stories.tsx
  src/components/FilesOverviewCard/FilesOverviewCard.tsx
  src/components/FilesOverviewCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade material-ui
  package.json
  src/theme/overrides.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update mui/pickers to alpha 8. Update DateField.
  package.json
  src/components/form/DateField.stories.tsx
  src/components/form/DateField.tsx
  src/components/form/util.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add date debugging hacks to storybook
  .storybook/preview.js
Due: none

Project Overview component
  src/api/schema.generated.ts
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/PartnershipSummary/PartnershipSummary.generated.ts
  src/components/PartnershipSummary/PartnershipSummary.graphql
  src/components/PartnershipSummary/PartnershipSummary.stories.tsx
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/ProjectMembersSummary/ProjectMemberItem.generated.ts
  src/components/ProjectMembersSummary/ProjectMemberItem.graphql
  src/components/ProjectMembersSummary/ProjectMembersSummary.generated.ts
  src/components/ProjectMembersSummary/ProjectMembersSummary.graphql
  src/components/ProjectMembersSummary/ProjectMembersSummary.stories.tsx
  src/components/ProjectMembersSummary/ProjectMembersSummary.tsx
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Overview/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Create `CreateProject` components and mutation
  src/scenes/Projects/Create/CreateProject.generated.ts
  src/scenes/Projects/Create/CreateProject.graphql
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Projects/Create/CreateProjectForm.stories.tsx
  src/scenes/Projects/Create/CreateProjectForm.tsx
  src/scenes/Projects/Create/index.ts
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement `refetchQueries` after `CreateProject` mutation is executed, allowing `Projects` query to be refetched
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Projects/List/projects.generated.ts
  src/scenes/Projects/List/projects.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

FilterButtonDialog and Project Filter Options dialog. Update README with instructions on changing API server host
  README.md
  package.json
  src/components/Dialog/DialogForm.tsx
  src/components/Filter/FilterButtonDialog.tsx
  src/components/Filter/index.ts
  src/components/Filter/useFilter.ts
  src/components/form/index.ts
  src/scenes/Projects/List/ProjectFilterOptions.stories.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/List/ProjectList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Project Member Card
  .gitignore
  src/api/displayRole.ts
  src/api/fragmentMatcher.generated.ts
  src/api/scalars/scalars.generated.ts
  src/api/schema.generated.ts
  src/components/Formatters/useDateFormatter.tsx
  src/components/ProjectMemberCard/ProjectMember.generated.ts
  src/components/ProjectMemberCard/ProjectMember.graphql
  src/components/ProjectMemberCard/ProjectMemberCard.stories.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/components/ProjectMemberCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implemented FormattedTextField
  package.json
  src/components/form/FormattedTextField.stories.tsx
  src/components/form/FormattedTextField.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update EmailField to be case insensitive by default
  src/components/form/EmailField.stories.tsx
  src/components/form/EmailField.tsx
  src/scenes/Authentication/Register/RegisterForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update FormattedTextField to work with FF format/parse
  src/components/form/FormattedTextField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add logFn to debug function input/output
  src/util/index.ts
  src/util/log.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Created NumberField which should work for most integers & floats
  src/components/form/NumberField.stories.tsx
  src/components/form/NumberField.tsx
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Created YearField
  src/components/form/YearField.stories.tsx
  src/components/form/YearField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add missing slash to project breadcrumb
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add avatar story
  src/components/Avatar/Avatar.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

GraphQL named operations codegen plugin
  codegen.yml
  src/api/index.ts
  src/api/operations.generated.ts
  src/api/schema.generated.ts
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Projects/Create/CreateProject.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add codegen plugin that should have been present in PR #250
  package.json
  yarn.lock
Due: none

Update FilterButtonDialog to check form dirty state instead of manually comparing with initial values
  src/components/Filter/FilterButtonDialog.tsx
  src/components/Filter/useFilter.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create useQueryParams hook creator integrating the serialize-query-params library
  package.json
  src/hooks/index.ts
  src/hooks/useQueryParams.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update useSort to use new query hook
  src/components/Sort/useSort.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Customize list and boolean param handling. Add enum types.
  src/hooks/useQueryParams.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update project filters to use new query param hook
  package.json
  src/components/Filter/index.ts
  src/components/Filter/useFilter.ts
  src/scenes/Projects/List/ProjectFilterOptions.stories.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/List/ProjectList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change "reset filters" to set the filters to their default value
  src/components/Filter/FilterButtonDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Attach filters to API query
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update `Register` mutation to match API changes and re-generate typings - Update `Register` component with new values to match new API/typings
  src/api/schema.generated.ts
  src/scenes/Authentication/Register/Register.tsx
  src/scenes/Authentication/Register/register.generated.ts
  src/scenes/Authentication/Register/register.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Give FF field type of checkbox for SwitchField
  src/components/form/SwitchField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create story for DisplaySimpleProperty component
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement Organization Detail
  src/scenes/Organizations/Detail/OrganizationDetail.generated.ts
  src/scenes/Organizations/Detail/OrganizationDetail.graphql
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
  src/scenes/Organizations/Detail/index.ts
  src/scenes/Organizations/Organizations.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement Edit Organization
  src/components/Dialog/useDialog.tsx
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
  src/scenes/Organizations/Edit/EditOrganization.generated.ts
  src/scenes/Organizations/Edit/EditOrganization.graphql
  src/scenes/Organizations/Edit/EditOrganization.stories.tsx
  src/scenes/Organizations/Edit/EditOrganization.tsx
  src/scenes/Organizations/Edit/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(Organizations): change UI organization word to partner
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Organizations/Edit/EditOrganization.stories.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove breadcrumb for list.
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix for paths in sidebar
  src/api/schema.generated.ts
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak organization detail. Add loading state.
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Edit Organization types. Configure initial values, disabled, and required.
  src/components/Dialog/useDialog.tsx
  src/scenes/Organizations/Detail/OrganizationDetail.tsx
  src/scenes/Organizations/Edit/EditOrganization.stories.tsx
  src/scenes/Organizations/Edit/EditOrganization.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

PartnershipList & PartnershipCard
  src/api/displayStatus.ts
  src/api/operations.generated.ts
  src/components/PartnershipCard/PartnershipCard.generated.ts
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/PartnershipCard/index.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Partnerships/List/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove breadcrumbs for list. Add partnership list breadcrumb.
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak partnership list
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
