Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

adds new UI fields and updates the form for editing
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

removes the 'none' placeholder per designs
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
Due: eslint --ext .ts,.tsx --fix

open links in new tab
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
Due: eslint --ext .ts,.tsx --fix

Added marketingCountry to necessary fragments
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
Due: prettier --write

Refactored FieldRegion DataButton
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

frontend for new languages tab inside the partner profile
  src/components/RichText/editorJsTools.ts
  src/components/Tables/PaginatedTable.tsx
  src/components/Tables/index.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Languages/PartnerDetailLanguages.tsx
  src/scenes/Partners/Detail/Tabs/Languages/PartnerLanguages.graphql
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fix linting issue with import
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

removes dead code and a console
  src/scenes/Partners/Detail/Tabs/Languages/PartnerDetailLanguages.tsx
Due: eslint --ext .ts,.tsx --fix

Refactored fragments
  src/common/fragments/location.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: prettier --write

Bump type-fest
  package.json
  src/api/changesets/changesetAware.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump type-fest (#1519)
  package.json
  src/api/changesets/changesetAware.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Refactor partner form
  src/components/form/SecuredField.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerDetailFinance.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditOrganizationName.graphql
  src/scenes/Partners/Edit/EditPartner.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Partners/Edit/UpdatePartner.graphql
  src/scenes/Products/ProductForm/SecuredAccordion.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Use satisfies to infer field names
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Get possible field names from form shape
  src/api/schema.graphql.ts
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Fix form fields having empty value of undefined instead of null
  src/components/form/AlphaLowercaseField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/NumberField.tsx
  src/components/form/useField.ts
Due: eslint --ext .ts,.tsx --fix

Remove null coercion that's no longer needed
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor PMC Entity Code to use formatted field & fix clearing
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Partner point of contact field
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add `Organization.acronym` form field
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Displaying acronym with full name
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Don't include "organization" in input field labels
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Fix passing field value `sponsorEstimatedEndFY` to API. Regressed in e6f1b2c
  src/scenes/Languages/Edit/EditLanguage.tsx
Due: eslint --ext .ts,.tsx --fix

Fix not clearing Engagement mentor and countryOfOrigin
  src/components/form/Lookup/index.ts
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add create and edit UI for isLanguageOfConsulting - fix console error
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat: add languages of communication partner UI
  src/components/DisplaySecuredList/DisplaySecuredList.tsx
  src/components/form/GroupedCheckboxes.tsx
  src/scenes/Languages/Detail/LanguagesOfConsulting/LanguageOfConsulting.graphql
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageTypeListItem.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Profile/CommunicationsSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat: add support for languages of wider communication and reporting
  src/components/form/CheckboxesGroup.tsx
  src/components/form/RadioButtonsGroup.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Profile/CommunicationsSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor partner form
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Remove null coercion that's no longer needed
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Add `Organization.acronym` form field
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Update budget record edit check only check amount field edit
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix

add support for languages of consulting wider communication and reporting
  src/components/form/CheckboxField.tsx
  src/components/form/CheckboxesGroup.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Update budget record edit check only check amount field edit (#1525)
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix

Bump Yarn 4.0.1 -> 4.1.1
  package.json
  yarn.lock
Due: none

Bump libs for security
  yarn.lock
Due: none

Drop preset inventory
  src/components/Icons/PresetInventoryIconFilled.tsx
  src/components/Icons/PresetInventoryIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
  src/scenes/Projects/Overview/PresetInventory/TogglePresetInventory.graphql
  src/scenes/Projects/Overview/PresetInventory/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Drop preset inventory (#1494)
  src/components/Icons/PresetInventoryIconFilled.tsx
  src/components/Icons/PresetInventoryIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
  src/scenes/Projects/Overview/PresetInventory/TogglePresetInventory.graphql
  src/scenes/Projects/Overview/PresetInventory/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
