Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

leverage PeriodicReportsTable for multiplication projects progress reports card
  src/components/PeriodicReports/OverviewCard/PeriodicReportCard.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/ProgressReports/List/ProgressReportListItem.graphql
  src/scenes/ProgressReports/List/ProgressReportListPage.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add reusable LocationDataGrid columns and fragment
  src/components/LocationDataGrid/LocationColumns.tsx
  src/components/LocationDataGrid/index.ts
  src/components/LocationDataGrid/locationDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add createAddItemFooter factory for DataGrid
  src/components/Grid/createAddItemFooter.tsx
  src/components/Grid/index.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor Language Detail into tabbed layout
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/Tabs/Posts/LanguageDetailPosts.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.graphql
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Languages/Detail/Tabs/Projects/LanguageDetailProjects.tsx
  src/scenes/Languages/Detail/Tabs/Projects/LanguageProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add headless prop to PostList
  src/components/posts/PostList.tsx
Due: eslint --ext .ts,.tsx --fix

Add/remove locations via DataGrid in Locations tab
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Languages/Detail/Tabs/Locations/LanguageDetailLocations.tsx
  src/scenes/Languages/Detail/Tabs/Locations/LanguageLocations.graphql
  src/scenes/Languages/Edit/AddLocationToLanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix DataGrid location add/remove: always refetch grid, improve slot footer, and minor import tweaks
  src/components/Grid/createAddItemFooter.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/Tabs/Locations/LanguageDetailLocations.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Languages/Edit/AddLocationToLanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix

put permissions in place
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/Tabs/Locations/LanguageDetailLocations.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

lint fix
  src/scenes/Languages/Detail/Tabs/Locations/LanguageDetailLocations.tsx
Due: eslint --ext .ts,.tsx --fix

address coderabbit comments
  .github/copilot-instructions.md
  .junie/guidelines.md
Due: none

Update MCP server documentation for isolation and repository access rules
  .github/mcp-servers.md
  AGENTS.md
Due: none

Remove redundant comment and clarify isolation guarantees in MCP server documentation
  .github/mcp-servers.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Enhance CreateLanguageEngagement component with option rendering and sorting capabilities
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Improve type safety and remove redundant styles
  src/App.tsx
  src/theme/overrides.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Add new project transition notifications
  src/scenes/Root/Notifications/Views/ProjectTransitionRequiringFinancialApproval.tsx
  src/scenes/Root/Notifications/Views/ProjectTransitionViaMembership.tsx
  src/scenes/Root/Notifications/Views/index.ts
  src/scenes/Root/Notifications/Views/notification.graphql
  src/scenes/Root/Notifications/Views/projectTransition.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add Engagement ID display to engagement detail pages (#1772)
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

- Remove duplicate unthemed CssBaseline from Root.tsx - Convert MainLayout from makeStyles to Box/sx for reactive theme binding - Add GlobalStyles fallback for body background reactivity
  src/App.tsx
  src/scenes/Dashboard/DashboardLayout.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Root.tsx
  src/theme/overrides.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Refactor sidebar theme to use brand colors and export brandColors for consistency
  src/scenes/Root/Sidebar/sidebar.theme.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Refactor brandColors documentation to improve clarity and consistency
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Refactor imports in palette.ts for consistency and clarity
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Add CODEOWNERS for SeedCompany/Devs
  .github/CODEOWNERS
Due: none

Update CODEOWNERS to include wildcard for all paths
  .github/CODEOWNERS
Due: none

Enhance documentation in palette.ts for roleLuminance adjustments in dark and light modes
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Refactor CreateLanguageEngagement to use nested engagement structure and update LookupField to support initial options
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix

Add initial unit tests for new CreateLanguageEngagement components
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
Due: eslint --ext .ts,.tsx --fix

Add unit tests for LookupField logic and helper functions
  src/components/form/Lookup/LookupField.test.tsx
Due: eslint --ext .ts,.tsx --fix

Add tests for sortComparator and renderOptionContent in CreateLanguageEngagement
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor unit tests in LookupField and CreateLanguageEngagement
  src/components/form/Lookup/LookupField.test.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor LookupField and CreateLanguageEngagement components to improve clarity and modularity of logic; add optional chaining for languageId.
  src/components/form/Lookup/LookupField.test.tsx
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor CreateLanguageEngagement component and tests to utilize createSortComparator and createGetOptionDisabled; enhance clarity and maintainability.
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix

Align column header and option code widths for consistent layout in CreateLanguageEngagement component.
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor CreateLanguageEngagement component for improved type safety and alignment consistency in styles
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
Due: eslint --ext .ts,.tsx --fix

fix ai chip labels
  src/components/AIAssistanceChip/AIAssistanceChip.tsx
Due: eslint --ext .ts,.tsx --fix

Fix AI Chip Labels (#1775)
  src/components/AIAssistanceChip/AIAssistanceChip.tsx
Due: eslint --ext .ts,.tsx --fix

Create Rev79 Id input fields for Projects and Engagements
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add CODEOWNERS for SeedCompany/Devs (#1774)
  .github/CODEOWNERS
Due: none

add to hook dependency
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

canEdit fixes
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

wrap create post in Language Overview with permission guard
  src/components/posts/PostList.tsx
Due: eslint --ext .ts,.tsx --fix
