Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move AddItemCard to DefinedFileCard
  src/components/AddItemCard/AddItemCard.tsx
  src/components/AddItemCard/index.ts
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove refetchQueries for CreateProjectDirectory
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove updateCachedVersions
  src/components/files/updateCachedVersions.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move upload mutations logic into DefinedFileCard component
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/Files/index.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/CreateProjectDirectory.graphql
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix DefinedFileCard storybook
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add periodic report cards to project & engagement detail page
  src/components/Formatters/useDateFormatter.tsx
  src/components/Icons/NarrativeReportIcon.tsx
  src/components/PeriodicReportSummaryCard/PeriodicReport.graphql
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/components/PeriodicReportSummaryCard/index.ts
  src/components/PeriodicReportSummaryCard/useUploadPeriodicReport.ts
  src/components/PeriodicReportsList/PeriodicReportsList.tsx
  src/components/PeriodicReportsList/index.ts
  src/components/Upload/UploadItem.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Engagement/Reports/Reports.tsx
  src/scenes/Engagement/Reports/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/Reports.tsx
  src/scenes/Projects/Reports/index.ts
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Revert "Merge pull request #794 from SeedCompany/1723-project-reports"
  src/components/AddItemCard/AddItemCard.tsx
  src/components/AddItemCard/index.ts
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/Formatters/useDateFormatter.tsx
  src/components/Icons/NarrativeReportIcon.tsx
  src/components/PeriodicReportSummaryCard/PeriodicReport.graphql
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/components/PeriodicReportSummaryCard/index.ts
  src/components/PeriodicReportSummaryCard/useUploadPeriodicReport.ts
  src/components/PeriodicReportsList/PeriodicReportsList.tsx
  src/components/PeriodicReportsList/index.ts
  src/components/Upload/UploadItem.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/updateCachedVersions.ts
  src/scenes/Engagement/Files/index.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Engagement/Reports/Reports.tsx
  src/scenes/Engagement/Reports/index.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/useUploadProjectFiles.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/Reports.tsx
  src/scenes/Projects/Reports/index.ts
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

have the comment header be from the props.type instead of hardcoded Prayer Request
  src/components/posts/PostListItemCard/PostListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge pull request #825 from SeedCompany/fixProductCrash
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

convert post shareable from boolean to enum. for now only the Post.shareability = Public will show the "public" label on a post. everything else will show the "private" label
  src/api/displayEnums.ts
  src/components/posts/CreatePostForm/CreatePostForm.tsx
  src/components/posts/PostListItemCard/PostListItemCard.graphql
  src/components/posts/PostListItemCard/PostListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Revert "Revert "Merge pull request #794 from SeedCompany/1723-project-reports""
  src/components/AddItemCard/AddItemCard.tsx
  src/components/AddItemCard/index.ts
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/Formatters/useDateFormatter.tsx
  src/components/Icons/NarrativeReportIcon.tsx
  src/components/PeriodicReportSummaryCard/PeriodicReport.graphql
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/components/PeriodicReportSummaryCard/index.ts
  src/components/PeriodicReportSummaryCard/useUploadPeriodicReport.ts
  src/components/PeriodicReportsList/PeriodicReportsList.tsx
  src/components/PeriodicReportsList/index.ts
  src/components/Upload/UploadItem.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/updateCachedVersions.ts
  src/scenes/Engagement/Files/index.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Engagement/Reports/Reports.tsx
  src/scenes/Engagement/Reports/index.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/CreateProjectDirectory.graphql
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/useUploadProjectFiles.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/Reports.tsx
  src/scenes/Projects/Reports/index.ts
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Show info when no report available
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

renameComments to Posts; update vars to follow suit
  src/components/posts/CreatePostForm/CreatePostForm.tsx
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

display shareability value on posts
  src/components/posts/CreatePostForm/CreatePostForm.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix periodic report bugs
  src/api/ApolloProvider.tsx
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/scenes/Engagement/Reports/Reports.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/Reports.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/scenes/Projects/Update/index.ts
  src/scenes/Projects/Update/useProjectUpdate.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix circular import dependency
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix engagement report card
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump lint config
  package.json
  yarn.lock
Due: none

Add git blame ignore rev file
  .git-blame-ignore-revs
Due: none

Revert non-null assertion removal
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump @apollo/client 3.3.14 -> 3.3.19
  package.json
  patches/apollo-client.patch
  yarn.lock
Due: none

Minor bump most dependencies
  package.json
  yarn.lock
Due: none

Refactor translation details
  src/components/LanguageEngagementForm/LanguageEngagementForm.tsx
  src/components/LanguageEngagementForm/index.ts
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove comments
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Pull API schema from API PR specified in PR description
  .github/workflows/ci.yml
  src/api/client-schema.graphql.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

change default shareability to internal
  src/components/posts/CreatePostForm/CreatePostForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

change default sort order for posts
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add type policy for our lookup by ID queries
  src/api/typePolicies/deletes/handleDelete.ts
  src/api/typePolicies/id-lookup/field-policy.ts
  src/api/typePolicies/id-lookup/id-lookup.codegen.ts
  src/api/typePolicies/typePolicies.codegen.ts
  src/api/typePolicies/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Generate function imports once when generating type policies
  src/api/typePolicies/deletes/deletes.codegen.ts
  src/api/typePolicies/id-lookup/id-lookup.codegen.ts
  src/api/typePolicies/lists/lists.codegen.ts
  src/api/typePolicies/scalars/scalars.codegen.ts
  src/api/typePolicies/typePolicies.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add product steps component
  src/api/displayEnums.ts
  src/api/index.ts
  src/api/product.ts
  src/components/LinearProgressBar/LinearProgressBar.tsx
  src/components/LinearProgressBar/index.ts
  src/components/PeriodicReportSummaryCard/PeriodicReportSummaryCard.tsx
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/Report/ProductsTable.tsx
  src/scenes/Engagement/Report/Report.tsx
  src/scenes/Engagement/Report/index.ts
  src/scenes/Products/List/ProductList.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductStepsList.graphql
  src/scenes/Products/ProductForm/StepEditDialog.tsx
  src/scenes/Products/ProductForm/StepsList.tsx
  src/scenes/Products/ProductForm/constants.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add DefinedFileCard for P&P files that don't have progress yet
  .vscode/launch.json
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update periodic reports components
  src/components/Formatters/useDateFormatter.tsx
  src/components/PeriodicReportSummary/PeriodicReport.graphql
  src/components/PeriodicReportSummary/PeriodicReportCard.tsx
  src/components/PeriodicReportSummary/PeriodicReportSummary.tsx
  src/components/PeriodicReportSummary/index.ts
  src/components/PeriodicReportSummary/useUploadPeriodicReport.ts
  src/components/PeriodicReportsList/PeriodicReportsList.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/Reports.tsx
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Show total report count
  src/components/PeriodicReportSummary/PeriodicReportSummary.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/Reports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix language engagement reports graphql
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Engagement/Reports/Reports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Drop total from report cards
  src/components/PeriodicReportSummary/PeriodicReportCard.tsx
  src/components/PeriodicReportSummary/PeriodicReportSummary.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refactor Periodic Reports to fix numerous UI issues, code duplication, handle secured fields
  src/components/Formatters/FormattedDate.tsx
  src/components/Formatters/useDateFormatter.tsx
  src/components/Icons/NarrativeReportIcon.tsx
  src/components/PeriodicReportSummary/PeriodicReport.graphql
  src/components/PeriodicReportSummary/PeriodicReportCard.tsx
  src/components/PeriodicReportSummary/PeriodicReportSummary.tsx
  src/components/PeriodicReportSummary/index.ts
  src/components/PeriodicReportSummary/useUploadPeriodicReport.ts
  src/components/PeriodicReports/DropOverlay.tsx
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportInfo.tsx
  src/components/PeriodicReports/ReportLabel.tsx
  src/components/PeriodicReports/Upload/UploadPeriodicReport.graphql
  src/components/PeriodicReports/Upload/useUploadPeriodicReport.ts
  src/components/PeriodicReports/index.ts
  src/components/PeriodicReportsList/PeriodicReportsList.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/ProgressReports/ProgressReports.graphql
  src/scenes/Engagement/ProgressReports/ProgressReports.tsx
  src/scenes/Engagement/ProgressReports/index.ts
  src/scenes/Engagement/Reports/EngagementReports.graphql
  src/scenes/Engagement/Reports/Reports.tsx
  src/scenes/Engagement/Reports/index.ts
  src/scenes/Engagement/index.ts
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/ProjectReports.tsx
  src/scenes/Projects/Reports/Reports.tsx
  src/scenes/Projects/Reports/index.ts
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Create invalidateProps helper to invalidate props of a cached object.
  src/api/index.ts
  src/api/invalidate-props.ts
  src/scenes/Partnerships/InvalidateBudget/invalidateBudgetRecords.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Invalidate cached periodic reports when project/engagements dates change and financial reporting period changes
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/scenes/Projects/Update/index.ts
  src/scenes/Projects/Update/useProjectUpdate.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
