Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Fix periodic report uploads broken by the SecuredActor change
  src/common/actorName.ts
  src/common/index.ts
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
  src/scenes/ProgressReports/Detail/WorkflowEvent.graphql
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
  src/scenes/Projects/WorkflowEvents/WorkflowEventsList.tsx
  src/scenes/Projects/WorkflowEvents/projectWorkflowEvent.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix periodic report uploads broken by the SecuredActor change (#1872)
  src/common/actorName.ts
  src/common/index.ts
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
  src/scenes/ProgressReports/Detail/WorkflowEvent.graphql
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
  src/scenes/Projects/WorkflowEvents/WorkflowEventsList.tsx
  src/scenes/Projects/WorkflowEvents/projectWorkflowEvent.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

chore: yarn sdk updates
  .vscode/extensions.json
  .yarn/sdks/typescript/package.json
Due: none

feat: add scripture refs to other goals
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.test.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
Due: eslint --ext .ts,.tsx --fix

Fix memory usage and add size/concurrency limits to file upload pipeline
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/getMimeType.ts
  src/components/Upload/uploadConstants.ts
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix

Address CodeRabbit review: bound OLE parse size, fix GiB label
  src/components/Upload/getMimeType.ts
  src/components/Upload/uploadConstants.ts
Due: eslint --ext .ts,.tsx --fix

Tag why-comments per repo convention (// ai <tag>)
  src/components/Upload/getMimeType.ts
  src/components/Upload/uploadConstants.ts
Due: eslint --ext .ts,.tsx --fix

feat: allow multiple scripture references on goals
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
  src/scenes/Products/ProductForm/ProductForm.test.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/scriptureBooks.test.ts
  src/scenes/Products/ProductForm/scriptureBooks.ts
Due: eslint --ext .ts,.tsx --fix

feat(lookup): prepopulate the Marketing Region dropdown on render
  src/components/form/Lookup/Location/InitialMarketingRegionOptions.graphql
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/components/form/Lookup/Location/MarketingRegionField.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat(lookup): prepopulate the Location dropdown on render
  src/components/form/Lookup/Location/InitialLocationOptions.graphql
  src/components/form/Lookup/Location/LocationField.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fix(lookup): open the prepopulated list on fields that already have a value
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix

feat(lookup): add a type-filtered CountryField
  src/components/form/Lookup/Location/CountryField.tsx
  src/components/form/Lookup/Location/CountryLookup.graphql
  src/components/form/Lookup/Location/InitialCountryOptions.graphql
  src/components/form/Lookup/Location/index.ts
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

refactor(e2e): extract duplicated spec helpers into support modules
  tests/e2e/personas/administrator/budget-derivation.spec.ts
  tests/e2e/personas/administrator/budget.spec.ts
  tests/e2e/personas/administrator/ceremony.spec.ts
  tests/e2e/personas/administrator/comments-and-periodic-reports.spec.ts
  tests/e2e/personas/administrator/dashboard-and-notifications.spec.ts
  tests/e2e/personas/administrator/defined-files.spec.ts
  tests/e2e/personas/administrator/desktop-grid-membership.spec.ts
  tests/e2e/personas/administrator/engagement-grid-and-goals.spec.ts
  tests/e2e/personas/administrator/engagements.spec.ts
  tests/e2e/personas/administrator/entity-crud-misc.spec.ts
  tests/e2e/personas/administrator/entity-detail-tabs.spec.ts
  tests/e2e/personas/administrator/error-paths.spec.ts
  tests/e2e/personas/administrator/field-regions.spec.ts
  tests/e2e/personas/administrator/field-zones.spec.ts
  tests/e2e/personas/administrator/locations.spec.ts
  tests/e2e/personas/administrator/media-and-photo.spec.ts
  tests/e2e/personas/administrator/multiplication-reports.spec.ts
  tests/e2e/personas/administrator/pnp-upload-and-reextract.spec.ts
  tests/e2e/personas/administrator/product-progress-and-budget.spec.ts
  tests/e2e/personas/administrator/products.spec.ts
  tests/e2e/personas/administrator/progress-reports.spec.ts
  tests/e2e/personas/administrator/project-change-requests.spec.ts
  tests/e2e/personas/administrator/project-files.spec.ts
  tests/e2e/personas/administrator/project-members.spec.ts
  tests/e2e/personas/administrator/project-partnerships.spec.ts
  tests/e2e/personas/administrator/project-social.spec.ts
  tests/e2e/personas/administrator/reference-entities.spec.ts
  tests/e2e/personas/administrator/reference-lookups.spec.ts
  tests/e2e/personas/administrator/tools.spec.ts
  tests/e2e/personas/fieldpartner/workflow-history.spec.ts
  tests/e2e/personas/projectmanager/users.spec.ts
  tests/e2e/smoke/auth.spec.ts
  tests/e2e/smoke/login-errors.spec.ts
  tests/e2e/support/graphql.ts
  tests/e2e/support/projects.ts
Due: eslint --ext .ts,.tsx --fix

fix(e2e): match operation names exactly and guard SSE in waitForOperation
  tests/e2e/personas/administrator/budget.spec.ts
  tests/e2e/personas/administrator/locations.spec.ts
  tests/e2e/personas/administrator/project-files.spec.ts
  tests/e2e/personas/administrator/project-lifecycle.spec.ts
  tests/e2e/personas/administrator/search.spec.ts
  tests/e2e/support/graphql.ts
Due: eslint --ext .ts,.tsx --fix

feat(products): show progress measurement for Ethno Art goals
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProgressMeasurementSection.tsx
Due: eslint --ext .ts,.tsx --fix

fix(test): stop jest from collecting the Playwright specs
  razzle.config.js
Due: none

fix(e2e): stop corrupting seeded fixtures and find them reliably
  tests/e2e/personas/administrator/entity-crud-misc.spec.ts
  tests/e2e/personas/administrator/entity-detail-tabs.spec.ts
  tests/e2e/personas/administrator/reference-lookups.spec.ts
  tests/e2e/support/fixtures.ts
Due: eslint --ext .ts,.tsx --fix

test(e2e): assert the intern's language total exactly
  tests/e2e/personas/intern/languages.spec.ts
Due: eslint --ext .ts,.tsx --fix

refactor(e2e): tear down fixtures in a Playwright fixture, not trailing calls
  tests/e2e/personas/administrator/desktop-grid-membership.spec.ts
  tests/e2e/personas/administrator/project-partnerships.spec.ts
  tests/e2e/personas/administrator/reference-lookups.spec.ts
  tests/e2e/support/test.ts
Due: eslint --ext .ts,.tsx --fix

fix(forms): use "Save" instead of "Submit" for form action labels
  src/components/Comments/CommentForm/UpdateComment.tsx
  src/components/Upload/UploadFilesForm.tsx
  src/components/files/FileActions/DeleteFile.tsx
  src/components/form/SubmitButton.stories.tsx
  src/components/form/SubmitButton.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/Projects/Reports/SkipPeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix

add date validation helpers
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix

add blocking validation for complete date and disbursement date
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

add blocking validation for ceremony actual and estimated dates
  src/scenes/Engagement/CeremonyCard/CeremonyCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix

add non-blocking warnings to dates
  src/components/form/DateField.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Make the GTL POC compile against the real API (WIP)
  src/scenes/Engagement/InternshipEngagement/GtlReportsCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/MediaCard.tsx
  src/scenes/GtlReports/Detail/ProgressExplanationCard.tsx
  src/scenes/GtlReports/EditForm/StartGtlReportPage.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
  src/scenes/GtlReports/EditForm/SubmitStep.tsx
  src/scenes/GtlReports/List/GtlReportsOfEngagement.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

build: load .env files without Razzle
  config/loadEnvFiles.cjs
  src/api/schema/codeGenUtil/loadEnv.codegen.js
Due: none

test: run Jest directly instead of razzle test
  .babelrc
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  jest.config.js
  package.json
  yarn.lock
Due: none

build: replace Razzle with Rsbuild
  .github/workflows/ci.yml
  .yarn/patches/css-minimizer-webpack-plugin-npm-1.3.0-c66c75884d.patch
  .yarn/patches/razzle-npm-4.2.18-e0a2c6fe0c.patch
  .yarnrc.yml
  Dockerfile
  config/pluginStartServer.ts
  package.json
  razzle.config.js
  rsbuild.config.ts
  src/setPublicPath.ts
  typings/webpack-bundle-analyzer.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

chore(deps): dedupe yarn.lock
  yarn.lock
Due: none

docs: replace Razzle with Rsbuild in AGENTS.md
  AGENTS.md
Due: none

Preview .docx with real layout and .doc as text-only pages
  package.json
  razzle.config.js
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/Previewers/LegacyWordView.tsx
  src/components/files/FilePreview/Previewers/RtfPreview.tsx
  src/components/files/FilePreview/Previewers/WordPreview.tsx
  src/components/files/FilePreview/Previewers/__fixtures__/legacy-word.doc
  src/components/files/FilePreview/Previewers/legacyWord.test.ts
  src/components/files/FilePreview/Previewers/legacyWord.ts
  src/components/files/FilePreview/useFilePreview.tsx
  src/components/files/fileTypes.ts
  src/typings/word-extractor.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

chore: add @seedcompany/scripture
  package.json
  yarn.lock
Due: none

refactor: let a section report errors from nested fields
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

feat: allow multiple scripture references on goals
  src/common/biblejs/reference.ts
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.test.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ScriptureReferencesSection.tsx
  src/scenes/Products/ProductForm/constants.ts
  src/scenes/Products/ProductForm/scriptureBooks.test.ts
  src/scenes/Products/ProductForm/scriptureBooks.ts
Due: eslint --ext .ts,.tsx --fix

fix: show goal scripture one book at a time
  src/scenes/Products/Detail/ProductInfo.test.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix
