Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement ButtonLink
  src/components/Routing/ButtonLink.stories.tsx
  src/components/Routing/ButtonLink.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Reference lint-staged from yarn to fix paths on windows
  .huskyrc.json
Due: none

created forgot scene
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.stories.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/ForgotPassword/queries.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

updated queries
  src/api/graphql.generated.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/ForgotPassword/queries.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

created reset password scene
  package.json
  src/App.tsx
  src/api/graphql.generated.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/index.ts
  src/scenes/Authentication/ResetPassword/ResetPassword.stories.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
  src/scenes/Authentication/ResetPassword/index.ts
  src/scenes/Authentication/ResetPassword/queries.graphql
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

updated forgot password
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

resetpassword done
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fixed issues
  package.json
  src/App.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordSuccess.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

added success scene for forgot and reset
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/index.ts
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordSuccess.tsx
  src/scenes/Authentication/ResetPassword/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak types for ResetPasswordForm which does not have a token field
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change SQA to point to platform alpha
  src/environments/environment.sqa.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add padding to not obstruct the last list item
  src/app/internships/internship-engagements/internship-engagements.component.scss
  src/app/projects/project-engagements/project-engagements.component.scss
Due: none

Added notistack provider
  package.json
  src/App.tsx
  src/api/graphql.generated.tsx
  src/components/Notistack/Notistack.stories.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move ForgotPasswordForm story to the right filename
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create handleFormError abstraction
  src/api/form-error-handling.ts
  src/api/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update current forms to use new error handling
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create FieldGroup component/context to prefix field names of children
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/FieldGroup.tsx
  src/components/form/TextField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Apollo setup so it can be connected to display errors
  src/App.tsx
  src/api/ApolloProvider.tsx
  src/api/apolloClient.ts
  src/api/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Display server & connection errors via apollo client
  package.json
  src/api/ApolloProvider.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

first draft of create org wired up
  src/api/graphql.generated.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Organizations/Create/queries.graphql
  src/scenes/Organizations/Organizations.tsx
  src/scenes/Organizations/index.ts
  src/scenes/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

created org-scenes
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Organizations/Create/index.ts
  src/scenes/Organizations/Organizations.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fixed issues
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Organizations/Organizations.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

[eslint] Move default export rule to our plugin
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

Fallback to sans-serif font while sofia is loading
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add logout functionality
  src/api/graphql.generated.tsx
  src/components/Session/Session.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/Logout/Logout.tsx
  src/scenes/Authentication/Logout/index.ts
  src/scenes/Authentication/Logout/logout.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Enforce logged in for all routes
  src/App.test.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement login "return to" logic
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/Login/Login.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create Dockerfile for static file hosting
  .dockerignore
  Dockerfile
Due: none

SubmitError maintain height (for at least a single line)
  src/components/form/SubmitError.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

v3-112: Project list item card
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/ProjectListItemCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Authentication background image
  src/components/Picture/Picture.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/background.png
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update login page to match mock ups
  src/components/form/EmailField.tsx
  src/components/form/PasswordField.tsx
  src/components/form/SubmitError.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

First pass at dark mode for authentication scenes
  src/scenes/Authentication/Authentication.tsx
  src/theme/index.ts
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update forgot password page to match mock ups
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordSuccess.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update reset password page to match mock ups
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordSuccess.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add confirm password field & validate matching
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add router to all storybook stories so links work
  .storybook/preview.js
  src/components/Routing/ButtonLink.stories.tsx
  src/components/Routing/Link.stories.tsx
  src/components/Routing/ListItemLink.stories.tsx
  src/components/Routing/MenuItemLink.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Adjusted margin and dimensions according to figma diagram
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix ButtonLink import/export
  src/components/Routing/index.ts
  src/scenes/Authentication/ForgotPassword/ForgotPasswordSuccess.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordSuccess.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add CardActionAreaLink
  src/components/Routing/CardActionAreaLink.stories.tsx
  src/components/Routing/CardActionAreaLink.tsx
  src/components/Routing/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
