Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

display gender on internship engagement
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

adjust title prop
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

conditionally display pre approved icon
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

create cell invalid styling
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

fixes
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

add pre approved column to budget grid
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add adjusted amount column to budget
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add initialAmount, create Approved column
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add feature flag
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Adapt to schema changes
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
  src/components/PartnersDataGrid/useProcessPartnerUpdate.ts
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.graphql
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Adapt to schema mutation output changes (#1762)
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
  src/components/PartnersDataGrid/useProcessPartnerUpdate.ts
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.graphql
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

polish
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix

fix feature match
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

tweaks
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix

add project type conditional to pre-approved column
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Wrap Pre-Approved column with Internship condition (#1763)
  src/components/BudgetOverviewCard/BudgetOverview.graphql
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Make children prop optional in ThemeProviderWithDarkMode
  src/App.tsx
Due: eslint --ext .ts,.tsx --fix

Fix formatting and remove unnecessary whitespace
  src/App.tsx
Due: eslint --ext .ts,.tsx --fix

Remove unused grey color import from palette.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

implement uploads for multiplication project progress reports
  src/components/PeriodicReports/OverviewCard/PeriodicReportCard.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/ProgressReports/List/ProgressReportAsPeriodicReport.graphql
  src/scenes/ProgressReports/List/ProgressReportListItem.graphql
  src/scenes/ProgressReports/List/ProgressReportListPage.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

implement gql framgent
  src/scenes/ProgressReports/List/ProgressReportListItem.graphql
Due: prettier --write

Adjust to transitionProject breaking change
  src/scenes/Projects/Update/TransitionProject.graphql
Due: prettier --write

Tag JSONObject scalar so it can be programmatically identified
  codegen.schema.yml
  src/common/scalar.types.ts
Due: eslint --ext .ts,.tsx --fix

Add debug log for resource ids in use by live operation for DX
  src/api/client/links/sse.link.ts
Due: eslint --ext .ts,.tsx --fix

Apply live queries to detail pages
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/Engagement.tsx
  src/scenes/FieldRegions/Detail/FieldRegionDetail.graphql
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.graphql
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add initial MCP server configuration and guidelines documentation
  .github/copilot-instructions.md
  .github/mcp-servers.example.json
  .github/mcp-servers.md
  AGENTS.md
Due: none

Address CodeRabbit comments
  .github/copilot-instructions.md
  .github/mcp-servers.md
  AGENTS.md
Due: none

update ai guidelines
  .junie/guidelines.md
Due: none

Convert new notifications from polling to subscription (#1753)
  src/scenes/Root/Notifications/NotificationAdded.graphql
  src/scenes/Root/Notifications/Notifications.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Adapt to product CDC breaking changes
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/addProductProgress.ts
  src/scenes/Products/Edit/updateProgressSteps.ts
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
