Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Support progress values in tables that are number measurements
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Sort scripture products by book by default
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Display progress target when measurement is number
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Link to detail page instead of previewing pnp file on progress reports summary card
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Simplify to EngagementBreadcrumb
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.tsx
  src/scenes/Engagement/LanguageEngagement/index.ts
  src/scenes/Engagement/LanguageEngagement/useLanguageEngagementName.ts
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Stub edit button to update report props
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement setting received date on upload & updating via edit button
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportCard.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refresh progress report data on pnp upload
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement skipped reason
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change Boolean measurement label
  src/api/displayEnums.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Auto select all available steps by default
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove purposes from goals
  src/api/displayEnums.ts
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/PurposesSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change wording from Mediums to Distribution Methods
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/ProductForm/MediumsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Initial version of rich text posts
  package.json
  src/components/form/RichTextField.tsx
  src/components/form/index.ts
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  typings/@ckeditor/ckeditor5-react/index.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move CKE to separate chunk & fix SSR
  src/components/form/RichText/CKEditor.lazy.tsx
  src/components/form/RichText/CKEditor.tsx
  src/components/form/RichText/RichTextField.tsx
  src/components/form/RichText/index.ts
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Start work on integrating CKEditor styles with our MUI theme
  src/components/form/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add toolbar to CKEditor component
  src/components/form/RichText/CKEditor.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show partners producing the medium on product detail page
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement editing partners producing mediums on product edit & create
  src/api/typePolicies/typePolicies.base.ts
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/PartnershipProducingMediumsSection.tsx
  src/scenes/Products/ProductForm/PartnershipsProducingMediums.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change post body
  src/components/posts/PostListItemCard/PostListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add link to progress report detail from product detail
  src/scenes/Products/Detail/ProductDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix scripture cache being lost due to being unable to merge different subsets
  src/api/fragments/scripture.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/ProductForm/ProductForm.graphql
Due: prettier --write

Fix scripture fragment reference in product form
  src/api/fragments/index.ts
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show 'click to edit' only if user has edit permissions
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow primary location and field regions to be null when updating project
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Simplify
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Only send primary location & field region if they have changed
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow isoAlpha3 and fundingAccount to be null when updating location
  src/scenes/Locations/Edit/EditLocation.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Format location isoAlpha3 as uppercase in form since that's how the API formats it
  src/components/form/AlphaLowercaseField.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix funding account number required validation
  src/scenes/Locations/LocationForm/FundingAccount/CreateFundingAccount.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update boolean mutations to select typename field
  src/components/Upload/Upload.graphql
  src/components/files/FileActions/FileActions.graphql
  src/components/posts/DeletePost/DeletePost.graphql
  src/scenes/Authentication/ChangePassword/ChangePassword.graphql
  src/scenes/Authentication/ForgotPassword/ForgotPassword.graphql
  src/scenes/Authentication/Logout/logout.graphql
  src/scenes/Authentication/ResetPassword/ResetPassword.graphql
  src/scenes/Engagement/Delete/DeleteEngagement.graphql
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.graphql
  src/scenes/Projects/Members/Update/UpdateProjectMember.graphql
Due: prettier --write

Change add buttons to have same background color
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update description of Partner Producing
  src/scenes/Products/ProductForm/PartnershipProducingMediumsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable ceremony dates if there's not edit permissions
  src/scenes/Engagement/LanguageEngagement/Ceremony/CeremonyForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor firstScripture field
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.graphql
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Further refactor first scripture query & component
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.graphql
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Added projects to partner details page; modified associated graphql to expose projects.
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fixed bug with conditional ordering due to the fact that the lack of read permissions still return an empty list.
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Drop unnecessary typecast
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix language name loading skeleton width on list card
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
