Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

DRY ProjectIdFragment
  src/common/fragments/index.ts
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
Due: eslint --ext .ts,.tsx --fix

Remove unnecessary references to project concretes in GQL
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/form/Lookup/Project/ProjectLookup.graphql
Due: prettier --write

Tweak TranslationProjectSensitivity GQL fragment to remove narrowing usage
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.graphql
Due: prettier --write

Adapt to Translation Project Split
  src/common/fragments/index.ts
  src/scenes/Engagement/LanguageEngagement/Create/recalculateSensitivity.ts
  src/scenes/Projects/Create/CreateProjectForm.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix

Add project type chip
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix apollo type policy cache key's handling of array inputs
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

Add project delete button
  src/scenes/Projects/Delete/DeleteProject.graphql
  src/scenes/Projects/Delete/DeleteProject.tsx
  src/scenes/Projects/Delete/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add project delete button (#1527)
  src/scenes/Projects/Delete/DeleteProject.graphql
  src/scenes/Projects/Delete/DeleteProject.tsx
  src/scenes/Projects/Delete/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Register `codes` & `stacktrace` props on `GraphQLError` `extensions` type
  src/api/errorHandling/error.types.ts
  src/api/errorHandling/form-error-handling.test.ts
Due: eslint --ext .ts,.tsx --fix

Stop checking `code` & tweak types
  src/api/errorHandling/error.types.ts
Due: eslint --ext .ts,.tsx --fix

Update error render to use standard extension types, register `GraphQL` as valid code
  src/api/client/links/renderErrors.link.tsx
  src/api/errorHandling/error.types.ts
Due: eslint --ext .ts,.tsx --fix

Fix the session link not checking NoSession properly
  src/api/client/links/session.link.ts
Due: eslint --ext .ts,.tsx --fix

update caniuse-lite
  yarn.lock
Due: none

Update browser list caniuse-lite (#1529)
  yarn.lock
Due: none

When merging new items to all-pages cache, limit item fields to only the key args
  src/hooks/useTable.tsx
Due: eslint --ext .ts,.tsx --fix

Extract data handing for tables to a generic hook
  package.json
  src/hooks/index.ts
  src/hooks/useTable.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Warn when an irregular scalar type is encountered
  src/api/schema/typePolicies/scalars/scalars.parser.ts
Due: eslint --ext .ts,.tsx --fix

Refactor/merge partner projects into a single component
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
Due: eslint --ext .ts,.tsx --fix

Add partner's engagements list
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.graphql
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Finish off implementation
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.graphql
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Invalidate cached partner's engagements when an engagement/partnership is created/deleted
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/invalidatePartnersEngagements.ts
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix

Use normalized sensitivity from the project instead of denormalized elsewhere
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.graphql
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

chore: interface updates
  package.json
  src/hooks/useTable.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Fix nested <p>
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Tooltip on disabled button
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

Fix header loading skeleton to align
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Partner layout to keep top toolbar in view & be consistent with other pages
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Move partner tab paper into each tab component
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerDetailFinance.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/PartnerTabContainer.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

Various layout tweaks
  src/scenes/Partners/Detail/Tabs/PartnerTabContainer.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

Make engagements table full width
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
Due: eslint --ext .ts,.tsx --fix

fix the max width for engagements table
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Run mui libs through babel to maintain compatibility with webpack v4
  razzle.config.js
Due: none

Workaround bug where razzle's babel loader tries to transpile `process` npm lib
  .yarn/patches/razzle-npm-4.2.18-e0a2c6fe0c.patch
  package.json
  yarn.lock
Due: none

Bump MUI libs
  package.json
  yarn.lock
Due: none

Migrate withStyles to styled
  src/components/CardGroup/CardGroup.tsx
  src/components/PaperTooltip/PaperTooltip.tsx
  src/components/ResponsiveDivider/ResponsiveDivider.tsx
Due: eslint --ext .ts,.tsx --fix

Upgrade MUI DataGrid v5 -> v7
  package.json
  src/components/Changeset/Grid/ChangesetCell.tsx
  src/components/Changeset/Grid/index.ts
  src/components/Grid/EditNumberCell.tsx
  src/components/Grid/useCurrencyColumn.tsx
  src/components/PeriodicReports/PeriodicReportRow.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/hooks/useTable.tsx
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/List/ProgressReportsTable.tsx
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/scenes/Projects/Files/FileRow.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/util.ts
  src/theme/overrides.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Suppress row count warning with client side pagination
  src/hooks/useTable.tsx
Due: eslint --ext .ts,.tsx --fix

Fix horizontal overflow on partner engagements
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
Due: eslint --ext .ts,.tsx --fix

Use reactflow to render project workflow
  package.json
  razzle.config.js
  src/common/transitionTypeStyles.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/Workflow/Flowchart/ProjectFlowchart.graphql
  src/scenes/Projects/Workflow/Flowchart/ProjectFlowchart.tsx
  src/scenes/Projects/Workflow/Flowchart/layout.ts
  src/scenes/Projects/Workflow/Flowchart/nodes.tsx
  src/scenes/Projects/Workflow/Flowchart/parse-node-edges.tsx
  src/scenes/Projects/Workflow/Flowchart/workflow.graphql
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --write

Auto layout without flashing or fixed timeouts
  src/scenes/Projects/Workflow/Flowchart/ProjectFlowchart.tsx
  src/scenes/Projects/Workflow/Flowchart/useAutoLayout.ts
Due: eslint --ext .ts,.tsx --fix
