Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Run gql-gen as first step of build process
  package.json
Due: none

Run gql-gen before type check & lint in CI. Also only once.
  .github/workflows/ci.yml
Due: none

Remove symlink note from readme
  README.md
Due: none

Add codegen.yml & .eslintignore to docker
  .dockerignore
Due: none

Use our eslint config during CRA build process
  .github/workflows/ci.yml
  package.json
Due: none

Add `react-dropzone` package
  yarn.lock
Due: none

- Create skeleton \`Upload\` component and \`UploadContext\` - Include \`UploadProvider\` in nested app-level providers
  src/App.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add temporary `Upload` scene to use for testing new upload components
  src/scenes/Root/Root.tsx
  src/scenes/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up Dropzone `onDrop` method to Upload Context
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Add basic layout/styles to `Upload` component - Create stories file for `Upload` component
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix incorrect type of input passed to `addFileToUploadQueue()` function in `onDrop()` method of `Dropzone` component
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upload Manager skeleton
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `react-draggable` package to app
  yarn.lock
Due: none

Success/Error Handling and Callback Param
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Support for Upload Callback
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change `files` array of upload state to `submittedFiles` to distinguish from later possible `addedFiles`
  src/components/Upload/Reducer/uploadInitialState.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Support separate `queueId` and `uploadId` properties
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create handler functions
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create `UploadItem` to display file upload progress - Style title bar and contents of `UploadManager`
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create `Context` folder in `Upload` component root folder, for tidiness - Create initial state, actions, typings, and reducer to handle state for file uploads
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/index.ts
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Build out initially required actions for upload reducer - Update `UploadContext` with reducer and basic handling of user action
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upload Manager Visibility Controls
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remaining Upload Manager UI Wiring (for now)
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create mutations for uploading files and re-generate typings
  src/components/Upload/Upload.generated.ts
  src/components/Upload/Upload.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove logging of various steps of upload process used for debugging
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update 'remove' action
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Upload Manager to use `Maximize` icon when collapsed instead of `MinimizeIcon`
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Status and Clear Button for upload items
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update text logged after file upload callback for clarity - Update `handleFileAdded()` function to pass forward the file with the returned `uploadId` added to it so it can be passed to the callback
  src/components/Upload/Dropzone.tsx
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create stories file for `UploadItem` - Update title for `Dropzone` story to place it in an "Upload" folder with `UploadItem`
  src/components/Upload/Dropzone.stories.tsx
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add ref to `Paper` component to set height of upload manager in state for reference when collapsing
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix bugs and over-rendering in Upload Context
  src/components/Upload/Dropzone.tsx
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add styling for Dropzone component when clicked instead of dragged into
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Properly capture xhr error and set `error` property on submitted file object for display in UI
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update name of mock file in `UploadItem` story file to be more intuitive - Update `UploadItem` to display different status messages depending on state of upload
  src/components/Upload/UploadItem.stories.tsx
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix error status looping error
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Collapse behavior and update opened/closed logic for Upload Manager
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `file` knob from `UploadItem` stories file
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
