Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageDetail.graphql): languge query and language detail fragment
  src/api/operations.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageDetail): boilerplate component copied from userdetail
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Languages.tsx): wire up LanguageDetail
  src/scenes/Languages/Languages.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(EditLanguage.graphql): updatelanguage mutation
  src/api/operations.generated.ts
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/Edit/EditLanguage.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(EditLanguage.tsx): EditLanguage Component created
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/Edit/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(LanguageDetail.tsx): show EditLanguage form
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageDetail.tsx): add in rest of the fields on component
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(EditLanguage.graphql): pull form data on edit
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/Edit/EditLanguage.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(EditLanguage): get rid of prefix prop and wrap submit on async await
  src/scenes/Languages/Edit/EditLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(api): SecuredProjectList fragment generated
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CreateProduct.graphql): CreateProduct mutation
  src/scenes/Products/Create/CreateProduct.generated.ts
  src/scenes/Products/Create/CreateProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Products/Create): wire up create product component skeleton
  src/api/operations.generated.ts
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProduct.graphql):query project breadcrumb
  src/api/operations.generated.ts
  src/scenes/Products/Create/CreateProduct.generated.ts
  src/scenes/Products/Create/CreateProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Work on language detail
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: update mui core to 4.11
  package.json
  yarn.lock
Due: none

feat(CreateProduct.tsx): breadcrumb
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added canReadAny, canEditAny helpers
  src/api/secured.ts
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wrap edit language sections in canReadAny so that headers aren't shown without any fields
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Skeleton of drag-and-drop
  package.json
  src/components/Table/Table.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix create language showing no fields
  src/api/secured.ts
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix language form section grids
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Create): wire up basic product type section
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/Sections/ProductTypeSection.jsx
  src/scenes/Products/Create/Sections/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CheckBoxesField): allow pickOne functionality
  src/components/form/CheckboxesField.stories.tsx
  src/components/form/CheckboxesField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(EditUser.tsx): wrap onsubmit on async await
  src/scenes/Users/Edit/EditUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Users): update detail and edit queries
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Edit/EditUser.generated.ts
  src/scenes/Users/Edit/EditUser.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(EditUser.tsx): pull email out of input
  src/scenes/Users/Edit/EditUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show project id and dept id
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move IDs out of data buttons since they are never editable
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(AccordionState): renderless component to track and update accordion state based on field state change
  src/scenes/Products/Create/AccordionState.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CreateProduct.tsx): consume AccordionState to match accordion view
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: new schema
  src/api/fragmentMatcher.generated.ts
  src/api/scalars/scalars.generated.ts
  src/api/schema.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CreateProduct): open verses modal WIP
  src/scenes/Products/Create/AccordionState.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/books.js
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Engagement): language engagement query and fragments
  src/api/operations.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Engagement): scenes skeleton with loading, language, and internship
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/EngagementDetailLoading.jsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/InternshipEngagement/index.ts
  src/scenes/Engagement/LanguageEngagement/LangaugeEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/index.ts
  src/scenes/Engagement/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Engagement): pass props through to lang and intern scenes
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LangaugeEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Engagement.gql) add project breadcrumb fragment
  src/api/operations.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Engagement): pass project prop through
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LangaugeEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageEngagementDetail): put in blank cards and basic styling
  src/scenes/Engagement/LanguageEngagement/LangaugeEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(LanguageEngagement.graphql): update query)
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageEngagementDetail): show name and start end date range
  src/scenes/Engagement/LanguageEngagement/LangaugeEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
