Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

create locations section
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLocationSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

add fieldRegions and countries to gql
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: prettier --write

typo fix
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
Due: eslint --ext .ts,.tsx --fix

create UserDataGrid
  src/components/UserDataGrid/UserColumns.tsx
  src/components/UserDataGrid/userDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

replace user list with datagrid
  src/scenes/Users/List/UserGrid.tsx
  src/scenes/Users/List/UserList.tsx
  src/scenes/Users/List/users.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

remove unnecessary sort and filter files
  src/scenes/Users/List/UserFilterOptions.tsx
  src/scenes/Users/List/UserSortOptions.stories.tsx
  src/scenes/Users/List/UserSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix

add to users to query type
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

create and implement UserNameColumn
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/UserDataGrid/UserColumns.tsx
Due: eslint --ext .ts,.tsx --fix

styling and other small changes
  src/components/UserDataGrid/UserColumns.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

add id
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Fix regression in hiding the filter icon on column headers
  src/components/Grid/DefaultDataGridStyles.tsx
Due: eslint --ext .ts,.tsx --fix

"ID"
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Fix old ROD label
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Use UserLookupItem for generic UserNameColumn
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/UserDataGrid/userDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Convert People List to DataGrid (#1641)
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/UserDataGrid/UserColumns.tsx
  src/components/UserDataGrid/userDataGridRow.graphql
  src/scenes/Users/List/UserFilterOptions.tsx
  src/scenes/Users/List/UserGrid.tsx
  src/scenes/Users/List/UserList.tsx
  src/scenes/Users/List/UserSortOptions.stories.tsx
  src/scenes/Users/List/UserSortOptions.tsx
  src/scenes/Users/List/users.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Unflag dashboard & project workflow features
  src/scenes/Projects/WorkflowEvents/WorkflowEventsIcon.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix

create PartnerGrid
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
  src/scenes/Partners/List/PartnerGrid.tsx
  src/scenes/Partners/List/PartnerList.graphql
  src/scenes/Partners/List/PartnerList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

create PartnerNameColumn
  src/components/Grid/Columns/PartnerNameColumn.tsx
Due: eslint --ext .ts,.tsx --fix

remove unnecessary files
  src/scenes/Partners/List/PartnerFilterOptions.ts
  src/scenes/Partners/List/PartnerSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix

typo fix
  src/components/PartnersDataGrid/PartnerColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Use PartnerLookupItem for identity in the generic PartnerNameColumn
  src/components/Grid/Columns/PartnerNameColumn.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix partner name server sorting
  src/components/PartnersDataGrid/PartnerColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Remove unused import
  src/scenes/Partners/List/PartnerList.tsx
Due: eslint --ext .ts,.tsx --fix

Move the Acronym column to 2nd, next to the name
  src/components/PartnersDataGrid/PartnerColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust User & Partner grids to max @ content size
  src/components/UserDataGrid/UserColumns.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

Convert Partner List to DataGrid (#1642)
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/Grid/Columns/PartnerNameColumn.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
  src/components/UserDataGrid/UserColumns.tsx
  src/scenes/Partners/List/PartnerFilterOptions.ts
  src/scenes/Partners/List/PartnerGrid.tsx
  src/scenes/Partners/List/PartnerList.graphql
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Partners/List/PartnerSortOptions.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add id column
  src/components/LanguageDataGrid/LanguageColumns.tsx
Due: eslint --ext .ts,.tsx --fix

create LanguageList and LanguageColumns
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageGrid.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Languages/List/LanguageSortOptions.stories.tsx
  src/scenes/Languages/List/LanguageSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix

fix styling
  src/scenes/Languages/List/LanguageList.tsx
Due: eslint --ext .ts,.tsx --fix

add to language gql for partner language section
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: prettier --write

create PartnerLanguageSection
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguageSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Better SubmitError styling w/ Alert & Markdown
  src/components/form/SubmitError.tsx
  src/scenes/Authentication/ChangePassword/ChangePassword.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix

Allow error handlers to return a React element as the form error
  src/api/errorHandling/form-error-handling.ts
Due: eslint --ext .ts,.tsx --fix

Custom UI for EngagementDateOverrideConflict error
  src/api/errorHandling/error.types.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

add startDate to partners table
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Custom UI for EngagementDateOverrideConflict error (#1653)
  src/api/errorHandling/error.types.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Custom default handling of MissingRequiredFields error
  src/api/errorHandling/error.types.ts
  src/api/errorHandling/form-error-handling.ts
Due: eslint --ext .ts,.tsx --fix

Bump browserlist db to suppress warning
  yarn.lock
Due: none

Custom default handling of MissingRequiredFields error (#1655)
  src/api/errorHandling/error.types.ts
  src/api/errorHandling/form-error-handling.ts
Due: eslint --ext .ts,.tsx --fix

Add Start Date column to Partners Table (#1654)
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
