Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Remove placeholder images from project cards
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove placeholder image from internship engagement card and update format to match language engagement. Tweak width on both
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix auto select goals available steps
  src/scenes/Products/ProductForm/StepsSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix 'Required' message after submiting a post
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/PostForm/PostForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump gql codegen
  package.json
  src/api/client-schema.graphql.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Patch @graphql-tools/utils to support deprecated enum values
  package.json
  patches/graphql-tools-utils.patch
  yarn.lock
Due: none

Ignore deprecated enum values when generating lists
  src/api/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Patch @graphql-codegen/plugin-helpers to always write type imports in generated files
  package.json
  patches/graphql-codegen-plugin-helpers.patch
  yarn.lock
Due: none

Revert type loosing on upload document for defined files
  src/components/DefinedFileCard/DefinedFileCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix type errors found from gql updates
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Specify TS types for URL & JSONObject scalars
  codegen.yml
Due: none

Bump progress reports to page size 100 just like the others
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.graphql
Due: prettier --write

Fix delete project member when removing all user roles from the form
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add sendIfClean to UpdateProjectChangeRequest form
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Limit population input to 2 billion
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak goals and product section
  src/scenes/Products/ProductForm/GoalsSection.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak goals section to clear lookup when changing productType
  src/scenes/Products/ProductForm/ProductSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add language pin feature
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix typo issue
  src/scenes/Languages/List/LanguageList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add spacing for header buttons
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix TogglePin icon size to reflect button size
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix language name skeleton being huge
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change language detail edit from FAB to IconButton
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix left offset on project name
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add user pin feature
  src/components/UserListItemCard/LandscapeCard.tsx
  src/components/UserListItemCard/PortraitCard.stories.tsx
  src/components/UserListItemCard/UserListItem.graphql
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/List/UserFilterOptions.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Label user pin as person
  src/components/UserListItemCard/LandscapeCard.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak user detail header spacing & skeletons & edit icon
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add partner pin feature
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/List/PartnerFilterOptions.ts
  src/scenes/Partners/List/PartnerList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak partner detail header spacing & skeletons & edit icon
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Shrink partner pin toggle on partner list item to fit better
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add posts to partner details page
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/PartnerPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add disableMembership prop to PostForm
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/EditPost/EditPost.tsx
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/scenes/Partners/Detail/PartnerPostList.tsx
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add PostList component and filter to PostForm shareability options
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/EditPost/EditPost.tsx
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerPostList.tsx
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak posts abstract types & split gql queries to their own files
  src/api/displayEnums.ts
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerPostList.graphql
  src/scenes/Partners/Detail/PartnerPostList.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectPostList.graphql
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add posts to language details page
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/LanguagePostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use post abstraction & move query to separate file
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguagePostList.graphql
  src/scenes/Languages/Detail/LanguagePostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add optimistic response to toggle pin so the UI stays snappy regardless of network
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix modifyList (caching) to work with optimistic responses
  src/api/list-caching/modifyList.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Clean up ProductForm fragment
  src/scenes/Products/ProductForm/ProductForm.graphql
Due: prettier --write

Don't show blank produces section when product type is not derivative scripture
  src/scenes/Products/ProductForm/ProductSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
