Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Implement Create Person
  src/api/operations.generated.ts
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
  src/scenes/Users/Create/index.ts
  src/util/timezones.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove timezone list for now. Will pull from API in future.
  src/scenes/Users/Create/CreateUser.tsx
  src/util/timezones.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update form to have all 4 user fields. Change field names to match what API will give back with validation errors
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update DialogForm props to accept decorators and other react-final-form props that are non-rendering
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add & use decorator to match two fields if they are the same.
  src/components/form/decorators.ts
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove autofocus from create user field
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refetch user list on user create
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Dump WIP
  src/components/form/DateField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/VerseField.stories.tsx
  src/components/form/VerseField.tsx
  src/components/form/VersesField.stories.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
  src/hooks/index.ts
  src/hooks/useMergeRefs.tsx
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement user details
  src/api/operations.generated.ts
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Detail/index.ts
  src/scenes/Users/Users.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Finish off user details
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement edit user
  src/api/operations.generated.ts
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.generated.ts
  src/scenes/Users/Edit/EditUser.graphql
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/Edit/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Created SecuredField wrapper to abstract common practices of rendering secured fields
  src/components/form/SecuredField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Abstracted UserForm from CreateUser & EditUser. Wrapped form fields in SecuredFields.
  src/api/operations.generated.ts
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.generated.ts
  src/scenes/Users/UserForm/UserForm.graphql
  src/scenes/Users/UserForm/UserForm.tsx
  src/scenes/Users/UserForm/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Hide user edit button if the current user cannot edit any fields
  src/api/secured.ts
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak user detail loading skeletons to match closer
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Language edit and overview
  src/api/operations.generated.ts
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/Edit/EditLanguage.graphql
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/Edit/EditLanguageForm.tsx
  src/scenes/Languages/Edit/index.ts
  src/scenes/Languages/Languages.tsx
  src/scenes/Languages/Overview/Language.generated.ts
  src/scenes/Languages/Overview/LanguageOverview.generated.ts
  src/scenes/Languages/Overview/LanguageOverview.graphql
  src/scenes/Languages/Overview/LanguageOverview.tsx
  src/scenes/Languages/Overview/index.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `react-dropzone` package
  package.json
  yarn.lock
Due: none

- Create skeleton \`Upload\` component and \`UploadContext\` - Include \`UploadProvider\` in nested app-level providers
  src/App.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Build out initially required actions for upload reducer - Update `UploadContext` with reducer and basic handling of user action
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create handler functions
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create mutations for uploading files and re-generate typings
  src/api/operations.generated.ts
  src/components/Upload/Upload.generated.ts
  src/components/Upload/Upload.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

- Create `Context` folder in `Upload` component root folder, for tidiness - Create initial state, actions, typings, and reducer to handle state for file uploads
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/index.ts
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Support for Upload Callback
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Add basic layout/styles to `Upload` component - Create stories file for `Upload` component
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Success/Error Handling and Callback Param
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upload Manager Visibility Controls
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Support separate `queueId` and `uploadId` properties
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change `files` array of upload state to `submittedFiles` to distinguish from later possible `addedFiles`
  src/components/Upload/Reducer/uploadInitialState.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remaining Upload Manager UI Wiring (for now)
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create `UploadItem` to display file upload progress - Style title bar and contents of `UploadManager`
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `react-draggable` package to app
  package.json
  yarn.lock
Due: none

Upload Manager skeleton
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix bugs and over-rendering in Upload Context
  src/components/Upload/Dropzone.tsx
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add temporary `Upload` scene to use for testing new upload components
  src/scenes/Root/Root.tsx
  src/scenes/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix incorrect type of input passed to `addFileToUploadQueue()` function in `onDrop()` method of `Dropzone` component
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up Dropzone `onDrop` method to Upload Context
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add styling for Dropzone component when clicked instead of dragged into
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Properly capture xhr error and set `error` property on submitted file object for display in UI
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update 'remove' action
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Status and Clear Button for upload items
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
