Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

added custom functionality to mock API
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlight.tsx
Due: eslint --ext .ts,.tsx --fix

removed promptVariant from context and other components
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportStepper.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/RoleIcon.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepIcon.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/progressReport.fixture.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/types.fixture.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/variantResponses.fixtures.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/colorPalette.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix

added API integration
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/PromptsForm.graphql
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

updated Drawer to query the full progress report
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

removed variant buttons from header
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
Due: eslint --ext .ts,.tsx --fix

added form wrappers for prompts and responses
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix

updated TeamHighlight step to consume new form wrapper comps
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlight.tsx
Due: eslint --ext .ts,.tsx --fix

made PromptVariantStep component reusable for community story
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlight.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/index.tsx
Due: eslint --ext .ts,.tsx --fix

extracted NextStepButton to it's own file
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/NextStepButton.tsx
  src/scenes/ProgressReports/Detail/TemporarySteps.tsx
Due: eslint --ext .ts,.tsx --fix

updated DrawerHeader to show report real data
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

moved TeamHighlight and VariantPrompt
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/index.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

display ProgressReport due date in drawer
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

renamed ProgressReport fragment to ProgressReportDetail
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

using RichTextField for responses
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix

finilizing ProgressREportDrawerHeader
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/NextStepButton.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fixed import paths for PromptsForm
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
Due: eslint --ext .ts,.tsx --fix

bye bye fixtures
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/progressReport.fixture.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/prompts.fixtures.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/types.fixture.ts
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/fixtures/variantResponses.fixtures.ts
Due: eslint --ext .ts,.tsx --fix

renamed GQL fragments in ProgressReport drawer
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.graphql
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

pulled out VariantReponsesAccordion to its own file
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix

made drawer sidebar fixed when scrolling and added due date
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

fixed eslint issue of unnecessary condition
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

added back the question in the VariantPrompts form
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix

final gql fragment renaming on ProgressReport drawer
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

added communityStories alias
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
Due: prettier --write

updated the TeamHighlightStep gql mutations
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.graphql
Due: prettier --write

moved mutations in PromptVariantStep and made it accespt stepData
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

made due date display relative
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

removed `overflow: hidden` fom ProgressReportStepper
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportStepper.tsx
Due: eslint --ext .ts,.tsx --fix

changed 'question' to 'prompt'
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
Due: eslint --ext .ts,.tsx --fix

changed to using variant.key as unique identifiers
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

updated RoleIcon to hide icon when invalid role
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/RoleIcon.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

moved reportId value to come from scope
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
Due: eslint --ext .ts,.tsx --fix

updated ResponseForm savedAt to display relative time
  src/components/Formatters/FormattedDate.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

updated NextStepButton styling
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/NextStepButton.tsx
Due: eslint --ext .ts,.tsx --fix

updated PromptForms typographys to use gutterBottom
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
Due: eslint --ext .ts,.tsx --fix

cleaned up StepContainer
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
Due: eslint --ext .ts,.tsx --fix

inverted condition for displaying VariantResponses in Accordion
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

fixed `yarn:lint` infinite loop
  package.json
Due: none

Fix RichTextField not being able to delete empty lines
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Fix swallowed null from typecasting ProgressReportEdit query results
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
