Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Add Location.defaultFieldRegion form field
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Allow columns to dynamically declare edit-ability via custom function
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/index.tsx
  src/components/Grid/isCellEditable.ts
Due: eslint --ext .ts,.tsx --fix

Remove redundant fragment for `EngagementDescription` in the update mutation
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.graphql
Due: prettier --write

Connect LanguageEngagement Grid edits to API
  src/components/EngagementDataGrid/UpdateLanguageEngagementGrid.graphql
  src/components/EngagementDataGrid/index.ts
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/Projects/List/EngagementsPanel.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Setup editing for milestoneReached
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump cross-fetch to actually use browser native fetch
  package.json
  yarn.lock
Due: none

Change enum edit selects to auto close on change
  src/components/Grid/ColumnTypes/enumColumn.tsx
  src/components/Grid/ColumnTypes/multiEnumColumn.tsx
Due: eslint --ext .ts,.tsx --fix

Create boolean nullable column type
  src/components/Grid/ColumnTypes/booleanNullableColumn.tsx
  src/components/Grid/index.tsx
Due: eslint --ext .ts,.tsx --fix

Setup editing for usingAIAssistedTranslation
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
Due: eslint --ext .ts,.tsx --fix

Fix FOUC on the current icon value of boolean nullable column edit
  src/components/Grid/ColumnTypes/booleanNullableColumn.tsx
Due: eslint --ext .ts,.tsx --fix

Fix weird text selection AI assist on edit
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

add PnpProblem widget to the dashboard
  src/components/Widgets/WidgetGrid.tsx
  src/scenes/Dashboard/Dashboard.tsx
Due: eslint --ext .ts,.tsx --fix

create pnpProblem widget/gql
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/PnpProblemsWidget/pnpProblemsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

DRY QuarterSelect
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
  src/scenes/Dashboard/ProgressReportsWidget/QuarterSelect.tsx
Due: eslint --ext .ts,.tsx --fix

Add type for huge input object literal
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Polish
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/pnpProblemsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

create new field region ui
  src/components/FieldRegion/CreateFieldRegion.graphql
  src/components/FieldRegion/CreateFieldRegion.tsx
  src/components/FieldRegion/index.tsx
  src/components/form/Lookup/FieldRegion/FieldRegionField.tsx
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

create new field zone ui
  src/components/FieldZone/CreateFieldZone.graphql
  src/components/FieldZone/CreateFieldZone.tsx
  src/components/FieldZone/index.tsx
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

comments
  src/components/FieldRegion/CreateFieldRegion.tsx
  src/components/FieldZone/CreateFieldZone.tsx
Due: eslint --ext .ts,.tsx --fix

make current and next link to qtrly report
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

Current and Next Quarterly Report Link (#1637)
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

Fix type generation to match generated schema names
  package.json
  src/api/schema/enumLists/enumLists.codegen.ts
  src/api/schema/typeMap/typeMap.codegen.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

add filtering to milestone and ai
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor usingAIAssistedTranslation to an enum
  src/components/AIAssistanceChip/AIAssistanceChip.tsx
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Don't send GQL mutation if no change
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
Due: eslint --ext .ts,.tsx --fix

add keepDirtyOnReinitialize to form
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
Due: eslint --ext .ts,.tsx --fix

Fix QR photo caption reverting to stale value while typing & auto saving (#1640)
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
Due: eslint --ext .ts,.tsx --fix

add EthnologueLanguage to global
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix

remove quarterly report skip button
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Create FieldZone form
  src/components/FieldZone/CreateFieldZone.graphql
  src/components/FieldZone/CreateFieldZone.tsx
  src/components/FieldZone/index.tsx
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create FieldRegion form
  src/components/FieldRegion/CreateFieldRegion.graphql
  src/components/FieldRegion/CreateFieldRegion.tsx
  src/components/FieldRegion/index.tsx
  src/components/form/Lookup/FieldRegion/FieldRegionField.tsx
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix SecuredField / ChangesOf / SecuredEditableKeys to work with unions
  src/components/form/SecuredField.tsx
Due: eslint --ext .ts,.tsx --fix

Simplify Engagement key types
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Type org/partner path split better
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Use standard id suffix for Product produces
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/GoalsSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
Due: eslint --ext .ts,.tsx --fix

Simplify Product form types
  src/scenes/Products/ProductForm/ProductFormFields.tsx
Due: eslint --ext .ts,.tsx --fix

separate organization from partner in gql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/UpdatePartner.graphql
Due: prettier --write

create new file for DisplaySecuredList
  src/scenes/Partners/Detail/Tabs/Profile/DisplaySecuredList.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

add type and reach section in partner profile
  src/scenes/Partners/Detail/Tabs/Profile/AdditionalInformationSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

change label
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
