Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Fix setup of react refresh
  razzle.config.js
  src/client.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move Apollo & Snackbar Provider back to App (isomorphic)
  .storybook/preview.js
  src/App.tsx
  src/api/ApolloProvider.tsx
  src/client.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split SessionLink out of error rendering link
  src/api/ApolloProvider.tsx
  src/api/session.link.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move delay link into another file
  src/api/ApolloProvider.tsx
  src/api/delay.link.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move rendering errors to a separate file
  src/api/ApolloProvider.tsx
  src/api/renderErrors.link.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Manage caching of API errors (for SSR) manually as Apollo does not store them
  src/api/ApolloProvider.tsx
  src/api/errorCache.link.ts
  src/server/indexHtml.ts
  src/server/renderServerSideApp.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Prevent edge case of user credentials in url if javascript has not been loaded
  src/scenes/Authentication/Login/LoginForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix type policies types not including the root query
  src/api/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added StatusCode component to set the http status code (server side)
  src/components/Routing/Navigate.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split error types out of form error handling code so they can be re-used for query errors
  src/api/error.types.ts
  src/api/form-error-handling.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rework the Error component. Updated ProjectOverview to use it.
  src/components/Error/Error.tsx
  src/components/Error/error-handling.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Created generic not found page
  src/components/Error/NotFoundPage.tsx
  src/components/Error/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix Error stories
  src/components/Error/Error.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Error to allow ReactNodes as children. Update NotFoundPage to take custom children or message string.
  src/components/Error/Error.tsx
  src/components/Error/NotFoundPage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update all routes & data errors to use NotFoundPage/Error components. Handle unmatched routes as 404 as well.
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Languages.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Partners.tsx
  src/scenes/Products/Products.tsx
  src/scenes/Products/index.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/Files.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Projects.tsx
  src/scenes/Root/Root.tsx
  src/scenes/SearchResults/SearchResults.tsx
  src/scenes/Users/Users.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix SERVER_PORT not being defined for prod build
  razzle.config.js
Due: none

Fix loadable stats file path for prod build
  razzle.config.js
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix static assets path for prod build
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Suppress experimental warning for AbortController
  src/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix up docker configuration
  Dockerfile
  codegen.yml
  package.json
  razzle.config.js
  yarn.lock
Due: none

Close server on signal
  src/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move apollo links to their own folder
  src/api/ApolloProvider.tsx
  src/api/links/delay.link.ts
  src/api/links/errorCache.link.ts
  src/api/links/renderErrors.link.tsx
  src/api/links/session.link.ts
  src/server/indexHtml.ts
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move name resolution & disabled into our useField hook
  src/components/form/AutocompleteField.tsx
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/Dropzone.tsx
  src/components/form/EnumField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/SelectField.tsx
  src/components/form/SwitchField.tsx
  src/components/form/TextField.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge useFocusOnEnabled hook into useField
  src/components/form/AutocompleteField.tsx
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/SwitchField.tsx
  src/components/form/TextField.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
  src/components/form/util.ts
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix autofocus sync between server and client for relevant form fields
  src/client.tsx
  src/components/form/AutocompleteField.tsx
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/SelectField.tsx
  src/components/form/TextField.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add note about focusFirstFieldRegistered form decorator
  src/components/form/decorators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable data fetching via fetchData function on components
  src/scenes/Authentication/Login/Login.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable ssr for all queries (except session) right now since API is slow
  .babelrc
  src/components/Session/Session.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
  src/server/disableSsrByDefault.js
  src/server/disableSsrByDefault.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update CI build for razzle
  .github/workflows/ci.yml
Due: none

Ignore razzle cache dir
  .dockerignore
  .gitignore
Due: none

Disable performance hints right now
  razzle.config.js
Due: none

Rename local lazy import so that loadable names the generated chunks
  src/components/files/FilePreview/FilePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Further code split all major scenes
  src/scenes/Projects/Projects.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add circular dependency check to webpack & fix some of those errors
  package.json
  razzle.config.js
  src/components/Upload/UploadFilesForm.tsx
  src/components/form/DateField.tsx
  src/components/form/EmailField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
  src/scenes/Partners/Create/CreatePartnerForm.tsx
  src/scenes/Projects/Files/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix some file circular dependencies
  src/components/files/FileActions/FileAction.enum.ts
  src/components/files/FileActions/FileActions.graphql
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FileActions/getPermittedFileActions.ts
  src/components/files/FileActions/index.ts
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/hooks/DownloadFile.graphql
  src/components/files/hooks/useGetFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Ignore rest of circular dependency errors for files
  razzle.config.js
Due: none

dedupe dependencies
  yarn.lock
Due: none

Replace node-fetch with cross-fetch
  package.json
  src/api/ApolloProvider.tsx
  src/server/renderServerSideApp.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade razzle and patch it to fix jest config
  package.json
  patches/razzle.patch
  yarn.lock
Due: none

Initial pass at getting tests working for new ssr
  package.json
  src/App.test.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
