Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Work on product detail page
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/Detail/index.ts
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/Products.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Pull StepList & StepEditDialog from #874
  src/scenes/Products/Detail/StepEditDialog.tsx
  src/scenes/Products/Detail/StepList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off progress UI & edit form
  src/components/ProductCard/ProductCard.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/Progress/ProductProgress.graphql
  src/scenes/Products/Detail/Progress/ProgressIcon.tsx
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
  src/scenes/Products/Detail/Progress/StepList.tsx
  src/scenes/Products/Detail/Progress/StepProgress.tsx
  src/scenes/Products/Detail/Progress/index.ts
  src/scenes/Products/Detail/StepEditDialog.tsx
  src/scenes/Products/Detail/StepList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak responsiveness of layout
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak skeleton width of product page type
  src/scenes/Products/Detail/ProductDetailHeader.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix regression in product accordions styling
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add completion description to product form
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/CompletionSection.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/SecuredAccordion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add completion description to product detail page
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update AutocompleteField to work with options from API. Create useAutocompleteQuery helper.
  src/components/form/AutocompleteField.tsx
  src/components/form/index.ts
  src/components/form/useAutocompleteQuery.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update description completion to autocomplete from API
  src/scenes/Products/ProductForm/CompletionDescriptionLookup.graphql
  src/scenes/Products/ProductForm/CompletionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix missing completion description label
  src/scenes/Products/ProductForm/CompletionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Avoid breaking change with user optional email
  src/api/fragments/user.graphql
Due: prettier --write

Make person email field optional
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Send null to DataButton if there's no date range
  src/components/Formatters/FormattedDate.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Produces field isn't missing for scripture products
  src/scenes/Products/ProductForm/ProducesSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Secure project form fields to disable editing when not allowed
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Hide empty date range on Partnership Card too
  src/components/Formatters/FormattedDate.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show final report on reports list
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportLabel.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Send email changes to API
  src/scenes/Users/Edit/EditUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Report's period to just "Final" as we'll already be inside of report UI section
  src/components/PeriodicReports/ReportLabel.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add placeholder text to verses field
  src/components/form/VersesField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add default helper text for verses field
  src/components/form/VersesField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unused file
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportLabel.tsx
  src/components/PeriodicReports/Upload/UploadPeriodicReport.graphql
  src/components/PeriodicReports/Upload/useUploadPeriodicReport.ts
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/ReportFiles/ReportFileRow.tsx
  src/scenes/Projects/ReportFiles/ReportFiles.graphql
  src/scenes/Projects/ReportFiles/ReportFiles.tsx
  src/scenes/Projects/ReportFiles/index.ts
  src/scenes/Projects/ReportFiles/useProjectReport.ts
  src/scenes/Projects/ReportFiles/useReportId.ts
  src/scenes/Projects/ReportFiles/useUploadReportFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove single report file upload
  src/components/PeriodicReports/DropOverlay.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/ReportInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Edit and delete functionality for posts
  src/components/posts/CreatePost/CreatePost.graphql
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/CreatePost/index.ts
  src/components/posts/CreatePostForm/CreatePostForm.tsx
  src/components/posts/CreatePostForm/index.ts
  src/components/posts/DeletePost/DeletePost.graphql
  src/components/posts/DeletePost/DeletePost.tsx
  src/components/posts/DeletePost/index.ts
  src/components/posts/EditPost/EditPost.graphql
  src/components/posts/EditPost/EditPost.tsx
  src/components/posts/EditPost/index.ts
  src/components/posts/PostForm/PostForm.graphql
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostForm/index.ts
  src/components/posts/PostListItemCard/PostListItemCard.graphql
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/components/posts/PostListItemCard/PostListItemMenu.tsx
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Delete post is not changeset aware
  src/components/posts/DeletePost/DeletePost.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Give CreatePost the postable object so it can handle the cache update
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/PostForm/PostForm.graphql
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix passing onEdit, onDelete props to Menu
  src/components/posts/PostListItemCard/PostListItemMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak placement of post options menu
  src/components/posts/PostListItemCard/PostListItemMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Reference generic postable parent instead of project in post list item and delete dialog
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/DeletePost/DeletePost.tsx
  src/components/posts/PostForm/PostForm.graphql
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/components/posts/PostableId.graphql
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix extra spacing between posts title and card list
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix edit/delete post transition close animation & standardize state management
  src/components/posts/DeletePost/DeletePost.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

No snackbar for post creation, the result is visible on screen
  src/components/posts/CreatePost/CreatePost.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename products to goals
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProducesSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add Preset Inventory Component
  src/components/PresetInventoryFlag/PresetInventory.stories.tsx
  src/components/PresetInventoryFlag/PresetInventoryFlag.tsx
  src/components/PresetInventoryFlag/PresetInventoryFlagIcon.tsx
  src/components/PresetInventoryFlag/index.ts
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add received date to periodic reports
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/components/PeriodicReports/Upload/UploadPeriodicReport.graphql
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.ts
  src/components/PeriodicReports/Upload/useUploadPeriodicReport.ts
  src/components/files/FileActions/FileAction.enum.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FileVersionItem/FileVersionItem.tsx
  src/components/form/DateField.tsx
  src/components/form/Dropzone.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak DropzoneField's spacing with & without files list
  src/components/form/Dropzone.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Always open received date's modal to today's date
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add ToggleFlagButton
  src/components/Icons/PushFlagIconFilled.tsx
  src/components/Icons/PushFlagIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/InventoryFlagButton/ToggleFlagButton.graphql
  src/components/InventoryFlagButton/ToggleFlagButton.tsx
  src/components/InventoryFlagButton/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

adjusted pinned to flagged
  src/components/InventoryFlagButton/ToggleFlagButton.graphql
  src/components/InventoryFlagButton/ToggleFlagButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write
