Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Fix error status looping error
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Drag behavior and separate context for Upload Manager
  src/App.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItems.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Upload Manager to use `Maximize` icon when collapsed instead of `MinimizeIcon`
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Collapse behavior and update opened/closed logic for Upload Manager
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add ref to `Paper` component to set height of upload manager in state for reference when collapsing
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

ToggleButtonOption
  src/components/form/CheckboxesField.stories.tsx
  src/components/form/CheckboxesField.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unneeded focus handling
  src/components/form/CheckboxesField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak colors and fix spacing
  src/components/form/CheckboxesField.stories.tsx
  src/components/form/CheckboxesField.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added SecuredBreadcrumb to help handle breadcrumbs for API data
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/SecuredBreadcrumb.tsx
  src/components/Breadcrumb/index.ts
  src/components/Redacted/Redacted.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added ProjectBreadcrumb component & fragment
  src/api/operations.generated.ts
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.generated.ts
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.graphql
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.tsx
  src/components/ProjectBreadcrumb/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update PartnershipList to use ProjectBreadcrumb
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Project Members List
  src/api/operations.generated.ts
  src/components/ProjectMemberCard/ProjectMember.generated.ts
  src/components/ProjectMemberCard/ProjectMember.graphql
  src/components/ProjectMemberCard/ProjectMemberCard.stories.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.graphql
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
  src/scenes/Projects/Members/List/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak styling, loading and redacted state
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.graphql
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Limit avatar letters in MemberListSummary to 2 characters
  src/components/MemberListSummary/MemberListSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update text logged after file upload callback for clarity - Update `handleFileAdded()` function to pass forward the file with the returned `uploadId` added to it so it can be passed to the callback
  src/components/Upload/Dropzone.tsx
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove logging of various steps of upload process used for debugging
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `response` param from `handleFileUploadSuccess` function
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create stories file for `UploadItem` - Update title for `Dropzone` story to place it in an "Upload" folder with `UploadItem`
  src/components/Upload/Dropzone.stories.tsx
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `file` knob from `UploadItem` stories file
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update name of mock file in `UploadItem` story file to be more intuitive - Update `UploadItem` to display different status messages depending on state of upload
  src/components/Upload/UploadItem.stories.tsx
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change Upload Manager to being closed by default
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

reset apollo store on logout, ensuring all cached queries are cleared out
  src/scenes/Authentication/Logout/Logout.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

track user local timezone upon registering
  src/scenes/Authentication/Register/Register.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Project Files Skeleton
  src/api/operations.generated.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix import order error in `Root`
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update useField to correctly type `rest` props returned
  src/components/form/CheckboxesField.tsx
  src/components/form/DateField.tsx
  src/components/form/RadioField.tsx
  src/components/form/TextField.tsx
  src/components/form/useField.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

asdf
  src/components/form/AutocompleteField.stories.tsx
  src/components/form/AutocompleteField.tsx
  src/components/form/UserField/UserAutocomplete.generated.ts
  src/components/form/UserField/UserAutocomplete.graphql
  src/components/form/UserField/UserField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

adsf
  src/components/form/useField.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

asdfsadf
  src/components/form/UserField/UserField.tsx
  src/components/form/useField.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

asdf
  src/api/fragmentMatcher.generated.ts
  src/api/operations.generated.ts
  src/components/form/OrganizationField/OrganizationAutocomplete.generated.ts
  src/components/form/OrganizationField/OrganizationAutocomplete.graphql
  src/components/form/OrganizationField/OrganizationField.tsx
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `material-table` package to app
  package.json
  yarn.lock
Due: none

Add all required fields to `ProjectFiles` query and re-generate typings
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Re-create `Table` component created in a different PR that has not yet been merged
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Basic Table of Files
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Formatting for Files table entries
  src/components/Formatters/index.ts
  src/components/Formatters/useFileSizeFormatter.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add logic to remove `FileVersion` results from display of project files
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Require 1.60.0 exact version of `material-table` to prevent bug in most recent version
  package.json
  yarn.lock
Due: none

Dynamic folder ID based on route
  src/api/operations.generated.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Disable viewing folders not in current project
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add breadcrumbs for current folder and parents
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
