Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Add marketable and description to Internship UI (#1729)
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Description/Description.graphql
  src/scenes/Engagement/LanguageEngagement/Description/Description.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

change milestone descriptions
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Add `User.gender`
  src/common/fragments/user.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add `User.gender` (#1733)
  src/common/fragments/user.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add `User.photo`
  src/common/fragments/user.graphql
  src/scenes/Users/Create/CreateUser.tsx
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Simplify Avatar usage
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Bump TS 5.7 -> 5.9 / Yarn 4.6 -> 4.10
  package.json
  src/common/secured.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump TS 5.7 -> 5.9 / Yarn 4.6 -> 4.10 (#1734)
  package.json
  src/common/secured.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Fix dockerfile as casing
  Dockerfile
Due: none

Bump to Node 24
  .github/actions/setup/action.yml
  Dockerfile
  package.json
Due: none

user photo display, add, and update
  src/common/fragments/user.graphql
  src/components/UserPhoto/UpdateUserPhoto.graphql
  src/components/UserPhoto/UserPhoto.tsx
  src/components/UserPhoto/index.ts
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add completedMilestone boolean to UI
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

type-fest v5
  package.json
  yarn.lock
Due: none

type-fest v5 (#1737)
  package.json
  yarn.lock
Due: none

milestone planned and reached changes
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.graphql
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Feedback
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Milestone Planned and Reached Changes (#1738)
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.graphql
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish
  src/common/fragments/user.graphql
  src/components/UserPhoto/UpdateUserPhoto.graphql
  src/components/UserPhoto/UserPhoto.tsx
  src/components/UserPhoto/userPhoto.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Adjust engagement grid for milestonePlanned -> milestonePlanned rename
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

User Photo - display, add, and update (#1735)
  src/common/fragments/user.graphql
  src/components/UserPhoto/UpdateUserPhoto.graphql
  src/components/UserPhoto/UserPhoto.tsx
  src/components/UserPhoto/index.ts
  src/components/UserPhoto/userPhoto.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix the fragment name import, missing in e023456
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

"MOU Phase" -> "MOU" for milestone copy
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Fix photo upload with Safari
  src/components/UserPhoto/UserPhoto.tsx
Due: eslint --ext .ts,.tsx --fix

continue removing makeStyles
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Error/Error.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/FundingAccountCard/FundingAccountCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LocationCard/LocationCard.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/MethodologiesCard/MethodologiesCard.tsx
  src/components/OrganizationListItemCard/OrganizationListItemCard.tsx
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadItems.tsx
Due: eslint --ext .ts,.tsx --fix

small styling fixes
  src/components/Debug/Code.tsx
  src/components/Error/Error.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/MethodologiesCard/MethodologiesCard.tsx
  src/components/PartnerListItemCard/PartnerListItemCard.tsx
  src/components/ProgressButton/ProgressButton.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/Redacted/Redacted.tsx
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix

Use context for Session
  src/App.tsx
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix

Use context for Session (#1739)
  src/App.tsx
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix

Integrate live queries & subscriptions over SSE
  .yarnrc.yml
  package.json
  src/api/client/createClient.ts
  src/api/client/links/http.link.ts
  src/api/client/links/sse.link.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Example of live query working with user detail page
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Switch to `graphql-sse` library
  package.json
  src/api/client/links/http.link.ts
  src/api/client/links/sse.link.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Avoid executing subscriptions on SSR
  src/api/client/links/sse.link.ts
Due: eslint --ext .ts,.tsx --fix

Declare fetch for SSE for test suite
  src/api/client/links/http.link.ts
  src/api/client/links/sse.link.ts
Due: eslint --ext .ts,.tsx --fix

@apollo client 3.7 -> 3.11
  package.json
  yarn.lock
Due: none

GraphQLError -> GraphQLFormattedError
  src/api/client/links/errorCache.link.ts
  src/api/client/links/renderErrors.link.tsx
  src/api/client/links/session.link.ts
  src/api/errorHandling/error.types.ts
  src/api/errorHandling/form-error-handling.test.ts
  src/components/Error/Error.stories.tsx
  src/components/ToolUsage/ManageToolUsage/ManageToolUsage.tsx
Due: eslint --ext .ts,.tsx --fix

Switch (required) to apollo's print() with caching
  src/api/client/links/persisted-queries.link.ts
  src/api/client/links/sse.link.ts
Due: eslint --ext .ts,.tsx --fix

Update modifier types to be compatible with v3.8
  src/api/caching/lists/modifyList.ts
  src/scenes/Products/Edit/updateProgressSteps.ts
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
