Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Fix/issue 1783: disable registration form
  src/scenes/Authentication/Register/RegisterForm.tsx
Due: eslint --ext .ts,.tsx --fix

add language detail section to partner profile
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix Total Row Count on Grid (#1726)
  docs/data-grid-source.md
  src/components/Grid/Toolbar.tsx
  src/components/Grid/index.tsx
  src/components/Grid/useDataGridSource.tsx
  src/components/Grid/useGridFilteredRowCount.ts
  src/components/Grid/useViewState.ts
Due: eslint --ext .ts,.tsx --fix

Field Region & Field Zone project grids (#1718)
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/FieldRegions/Detail/FieldRegionDetail.graphql
  src/scenes/FieldRegions/Detail/FieldRegionDetail.test.tsx
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjects.graphql
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjectsPanel.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.graphql
  src/scenes/FieldZones/Detail/FieldZoneDetail.test.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjects.graphql
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjectsPanel.tsx
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix/issue 1783 disable registration form (#1793)
  src/scenes/Authentication/Register/RegisterForm.tsx
Due: eslint --ext .ts,.tsx --fix

New Parter Profile Languages Section (#1794)
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Rev79 Community fetch query and dropdown field (#1784)
  src/api/seed/seedClient.ts
  src/api/seed/useRev79Communities.ts
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Rev79CommunityField.tsx
  src/server/renderServerSideApp.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

add preflight header
  src/api/client/links/http.link.ts
Due: eslint --ext .ts,.tsx --fix

Add Apollo preflight header (#1797)
  src/api/client/links/http.link.ts
Due: eslint --ext .ts,.tsx --fix

inject seed env vars
  Dockerfile
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

Inject Seed Env Vars (#1798)
  Dockerfile
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

update rev79 community query
  src/api/client/links/http.link.ts
  src/api/seed/useRev79Communities.ts
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

Update Rev79 Community query (#1799)
  src/api/client/links/http.link.ts
  src/api/seed/useRev79Communities.ts
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

husky linting setup
  .husky/pre-commit
  lint-staged.config.mjs
  package.json
  yarn.lock
Due: none

fixing the non-blocking nature of the setup
  lint-staged.config.mjs
Due: none

removing a husky artifact leftover from some pervious version
  .huskyrc.json
Due: none

add editor js header to report team news, story
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

Add EditorJS header to report team news, story (#1801)
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

minor fixes
  src/components/Avatar/Avatar.tsx
  src/components/Dialog/DialogForm.tsx
  src/components/Icons/HugeIcon.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/Sensitivity/Sensitivity.tsx
  src/components/form/NumberField.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.tsx
Due: eslint --ext .ts,.tsx --fix

fix
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
Due: eslint --ext .ts,.tsx --fix

fix display property
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

leverage new Language.publicName for ui
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

remove Users - Partners tab/panel from UI
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

fix tests
  src/components/form/Lookup/Language/LanguageField.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
Due: eslint --ext .ts,.tsx --fix

Give preference to Language.publicName (#1802)
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/form/Lookup/Language/LanguageField.test.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/Tabs/Profile/LanguageDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Replace InfoIcon with a styled Button for viewing workflow in ProjectWorkflowDialog
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix

fix color
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

fix last day of month bug on calendar picker
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix

Fix MUI Calendar Picker bug (#1805)
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix

Fix tooltip font color (#1804)
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Use ButtonLink with outlined pill style for View Workflow button
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Enhance Project Workflow Visibility (#1803)
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix

update docker node vers
  Dockerfile
Due: none

Update Docker Node Version (#1809)
  Dockerfile
Due: none

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
