Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

add user status to details and grid
  src/common/fragments/user.graphql
  src/components/UserDataGrid/UserColumns.tsx
  src/components/UserDataGrid/userDataGridRow.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Improve tab scaling styles (#1706)
  src/components/Tabs/Tab.tsx
  src/components/Tabs/index.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Avoid stale organization data when calling UpdatePartner
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/UpdatePartner.graphql
Due: prettier --write

Create Reach and Org Type section for Partner
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerOrgReachAndTypeSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add parcel watcher for gql-gen watching
  package.json
  yarn.lock
Due: none

Allow serving static images to any domain to fix usage in emails
  package.json
  src/server/server.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Polish labels
  src/scenes/Partners/Detail/Tabs/Profile/PartnerOrgReachAndTypeSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Change Reach to one column to better convey locality sorting
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Add CORP cross-origin for images/
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix

Add transparent png cord icon for emails
  public/images/cord-icon.png
Due: none

Create Field Zone details page
  src/components/FieldZone/CreateFieldZone.tsx
  src/components/FieldZone/index.tsx
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
  src/scenes/FieldZones/CreateFieldZone/CreateFieldZone.graphql
  src/scenes/FieldZones/CreateFieldZone/CreateFieldZone.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.graphql
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Detail/index.tsx
  src/scenes/FieldZones/Edit/EditFieldZone.graphql
  src/scenes/FieldZones/Edit/EditFieldZone.tsx
  src/scenes/FieldZones/Edit/index.tsx
  src/scenes/FieldZones/FieldZoneForm/FieldZoneForm.graphql
  src/scenes/FieldZones/FieldZoneForm/FieldZoneForm.tsx
  src/scenes/FieldZones/FieldZones.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move FieldZone dialogs back to components/
  src/components/FieldZone/CreateFieldZone/CreateFieldZone.graphql
  src/components/FieldZone/CreateFieldZone/CreateFieldZone.tsx
  src/components/FieldZone/EditFieldZone/EditFieldZone.graphql
  src/components/FieldZone/EditFieldZone/EditFieldZone.tsx
  src/components/FieldZone/FieldZoneForm/FieldZoneForm.graphql
  src/components/FieldZone/FieldZoneForm/FieldZoneForm.tsx
  src/components/FieldZone/index.ts
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/FieldZones/Edit/index.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix zone director form value
  src/components/FieldZone/CreateFieldZone/CreateFieldZone.tsx
  src/components/FieldZone/EditFieldZone/EditFieldZone.tsx
  src/components/FieldZone/FieldZoneForm/FieldZoneForm.graphql
  src/components/FieldZone/FieldZoneForm/FieldZoneForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Change zone gql selections to only select what's used/needed
  src/common/fragments/location.graphql
  src/components/FieldZone/EditFieldZone/EditFieldZone.graphql
  src/scenes/FieldZones/Detail/FieldZoneDetail.graphql
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Ensure zone detail page loads needed fields for form
  src/scenes/FieldZones/Detail/FieldZoneDetail.graphql
Due: prettier --write

Inline FieldGroup & Remove unneeded Stack from form
  src/components/FieldZone/FieldZoneForm/FieldZoneForm.tsx
Due: eslint --ext .ts,.tsx --fix

Don't render broken director link
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Create Field Region detail page
  src/common/fragments/location.graphql
  src/components/FieldRegion/CreateFieldRegion.tsx
  src/components/FieldRegion/CreateFieldRegion/CreateFieldRegion.graphql
  src/components/FieldRegion/CreateFieldRegion/CreateFieldRegion.tsx
  src/components/FieldRegion/EditFieldRegion/EditFieldRegion.graphql
  src/components/FieldRegion/EditFieldRegion/EditFieldRegion.tsx
  src/components/FieldRegion/FieldRegionForm/FieldRegionForm.graphql
  src/components/FieldRegion/FieldRegionForm/FieldRegionForm.tsx
  src/components/FieldRegion/index.ts
  src/components/FieldRegion/index.tsx
  src/components/form/Lookup/FieldRegion/FieldRegionField.tsx
  src/scenes/FieldRegions/Detail/FieldRegionDetail.graphql
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldRegions/Detail/index.ts
  src/scenes/FieldRegions/FieldRegions.tsx
  src/scenes/FieldZones/Detail/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Convert User page to tab list and separate out profile from projects
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Create User Projects grid with gql
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Users/Detail/Tabs/Projects/UserDetailProjects.tsx
  src/scenes/Users/Detail/Tabs/Projects/UserProjectPanel/UserProjectList.graphql
  src/scenes/Users/Detail/Tabs/Projects/UserProjectPanel/UserProjectsPanel.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Partner fieldRegions & countries
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLocationSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Partner fieldRegions & countries (#1649)
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLocationSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Switched to outlined inputs so gray chips don't look weird on gray filled background
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

create field region card and gql
  src/components/FieldRegionCard/FieldRegionCard.graphql
  src/components/FieldRegionCard/FieldRegionCard.tsx
  src/components/FieldRegionCard/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

create field zone card and gql
  src/components/FieldZoneCard/FieldZoneCard.graphql
  src/components/FieldZoneCard/FieldZoneCard.tsx
  src/components/FieldZoneCard/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

add region and zone to global search
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fix styling
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix

Add Language.isAvailableForReporting
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Drop isWiderComm
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add new PartnerLanguageSection
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguageSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump yarn, posthog, caniuse db
  package.json
  yarn.lock
Due: none

fix region/zone card gql
  src/components/FieldRegionCard/FieldRegionCard.graphql
  src/components/FieldZoneCard/FieldZoneCard.graphql
Due: prettier --write

change display fields for region/zone cards
  src/components/FieldRegionCard/FieldRegionCard.tsx
  src/components/FieldZoneCard/FieldZoneCard.tsx
Due: eslint --ext .ts,.tsx --fix

replace with proper mui components
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix

Add Field Region / Zone to Global Search (#1710)
  src/components/FieldRegionCard/FieldRegionCard.graphql
  src/components/FieldRegionCard/FieldRegionCard.tsx
  src/components/FieldRegionCard/index.ts
  src/components/FieldZoneCard/FieldZoneCard.graphql
  src/components/FieldZoneCard/FieldZoneCard.tsx
  src/components/FieldZoneCard/index.ts
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

add dbl information sheet
  public/pdfs/dbl-uploads.pdf
Due: none

create profile page and move edit icon
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.graphql
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

refactor to set up tabs and remove edit icon
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Create User Profile
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.graphql
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
