Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Create isTypename helper
  src/api/index.ts
  src/api/isTypename.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileVersions.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: on user details show partners cards
  src/api/fragments/user.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add empty text when there are no available transitions
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectBudget.tsx): scroll budget content
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added `as const` to generated GQLOperations object to fix types when passed around
  codegen.yml
  src/api/operations.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweaked writing string array to be easier to use
  src/api/codeGenUtil/ts.util.ts
  src/api/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix regression in budget header spacing
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(LanguageDetail.tsx): remove add proj button
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `update` method using `cache.modify` to `createProject` mutation to add new project to the cache after creation
  src/scenes/Projects/Create/CreateProject.graphql
  src/scenes/Projects/Create/CreateProject.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Abstract logic for for updating Projects List after creation into `updateListQuery` function
  src/scenes/Projects/Create/CreateProject.tsx
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add logic to `updateListQueryItems` to update total along with items list; Add `update` method all to `updateListQueryItems` to all top-level create mutations
  src/scenes/Languages/Create/CreateLanguage.graphql
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.graphql
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
  src/util/index.ts
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak updateListQueryItems generic
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Users/Create/CreateUser.tsx
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor updateListQueryItems to addItemToList which abstracts more of the common logic
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Users/Create/CreateUser.tsx
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change fragment being referenced to the one used by list items
  src/scenes/Languages/Create/CreateLanguage.graphql
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.graphql
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Projects/Create/CreateProject.graphql
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Convert engagement status to secured object
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement engagement workflow (status transitions)
  src/scenes/Engagement/EditEngagement/EditEngagement.graphql
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/EditEngagement/EngagementWorkflowDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update codeowners
  .github/CODEOWNERS
Due: none

Add `react-window` and helper packages for infinite scroll and auto-sizing
  package.json
  yarn.lock
Due: none

Add field policies for `projects` Query to handle pagination
  src/api/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add rough version of infinite scroll/pagination to Projects List scene
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `itemKey` prop function to `FixedSizeList`
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove `itemKey` prop function, as it caused rendering issues that leaving it blank did not
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add optional `className` prop to `ListContainer` component
  src/components/Layout/ListContainer.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `height: 100%` property to `ListContainer` enclosing virtualized list so it can fill its container instead of having height hard-coded in `vh` units
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Clean up unused styles and combine import of `React` and `React.FC`
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace use of `react-window` and `react-window-infinite-loader` with `react-infinite-scroll-component`, which automatically handles children of varying size
  package.json
  src/scenes/Projects/List/ProjectList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Swap `react-virtualized-auto-sizer` for built-in features of `react-infinite-scroll-component` and calculation of container size
  package.json
  src/scenes/Projects/List/ProjectList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create `VirtualList` component and refactor `ProjectList` to consume
  src/components/VirtualList/VirtualList.tsx
  src/components/VirtualList/index.ts
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace inline calculation of projects to query per page with call to new `calculateItemsPerPage` function
  src/components/VirtualList/calculateItemsPerPage.ts
  src/components/VirtualList/index.ts
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace `loader` and `endMessage` props of `VirtualList` component with internal components
  src/components/VirtualList/VirtualList.tsx
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create stories file for `VirtualList` component
  src/components/VirtualList/VirtualList.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add nicer styling to `VirtualList` story
  src/components/VirtualList/VirtualList.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create `useItemsPerPage` hook to use with `VirtualList` instead of repeating the same combination of `useState`/`calculateItemsPerPage` in every consumer
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/calculateItemsPerPage.ts
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix bugs in data-loading logic for `VirtualList` story and improve styling
  src/components/VirtualList/VirtualList.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

ARIA attributes for Virtual List and Project List Item Card
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/VirtualList/VirtualList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update `VirtualList` story with required ARIA settings
  src/components/VirtualList/VirtualList.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change name of `calculateItemsPerPage` file to `useItemsPerPage`, to reflect its primary purpose
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/index.ts
  src/components/VirtualList/useItemsPerPage.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Organize `next` function of `VirtualList` to below both `useEffect` calls
  src/components/VirtualList/VirtualList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix hard-coded `count` option passed to query in `ProjectList` with dynamic `itemsPerPage`
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix missing destructuring of Apollo `fetchMore` function from `useQuery` hook introduced during rebase
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
