Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

TS 4.9 -> 5.2
  package.json
  src/api/schema/codeGenUtil/ts.util.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump babel
  .babelrc
  package.json
  src/server/disableSsrByDefault.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump gql codegen. Move rich text scalar type separate from codegen
  .yarnrc.yml
  codegen.schema.yml
  package.json
  src/api/schema/typePolicies/scalars/scalars.parser.ts
  src/common/index.ts
  src/common/scalar.types.ts
  src/scenes/Engagement/LanguageEngagement/Description/Description.tsx
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/useExecuteTransition.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Webpack 4.46 -> 4.47
  .yarn/patches/webpack-npm-4.46.0-a8158cfa7f.patch
  package.json
  yarn.lock
Due: none

Bump @date-io
  package.json
  src/common/LuxonCalenderDateUtils.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Modify reason list with deprecation check
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.graphql
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump @editorjs
  package.json
  razzle.config.js
  src/components/RichText/RichTextField.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Minor bump almost everything
  package.json
  yarn.lock
Due: none

Bump all transitive deps
  yarn.lock
Due: none

Yarn 3.6.6 -> 4.0.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

MUI fixes from upgrade
  src/components/Dialog/DialogForm.tsx
  src/components/Fab/Fab.tsx
  src/components/Routing/FabLink.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Change yarn caching in GitHub Actions to allow partial caching
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

Show deprecated reasons as disabled
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Convert empty email string to null instead of undefined
  src/components/form/EmailField.tsx
Due: eslint --ext .ts,.tsx --fix

Handle deprecated variance explanation reasons (#1486)
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.graphql
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Convert empty email string to null instead of undefined (#1492)
  src/components/form/EmailField.tsx
Due: eslint --ext .ts,.tsx --fix

Yarn 4.0.0 -> 4.0.1
  .yarn/releases/yarn-4.0.0.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
Due: none

Fix regression in makeQueryHandler from fbf94ad
  src/hooks/useQueryParams.ts
Due: eslint --ext .ts,.tsx --fix

Bump ci publish checkout action
  .github/workflows/publish.yml
Due: none

Switch to corepack
  .github/actions/setup/action.yml
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  Dockerfile
Due: none

Bump CI actions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-previews.yml
  .github/workflows/publish.yml
Due: none

Clean up yarn cache in built image
  Dockerfile
Due: none

Ensure all yarn libs are copied to final docker stage by disabling global cache
  Dockerfile
Due: none

Fix prod deps being while in docker image
  Dockerfile
Due: none

Fix docker image not having curl/wget needed for healthchecks (alpine had it, slim does not)
  Dockerfile
Due: none

New partner view UI
  src/components/EditableSection/EditableSection.tsx
  src/components/EditableSection/index.ts
  src/scenes/Partners/Detail/AddressCard.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/PartnerDetailOptions.ts
  src/scenes/Partners/Detail/PartnerTypesCard.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailsPeople.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.graphql
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish off new Partner UI
  src/components/EditableSection/EditableSection.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/PartnerDetailOptions.ts
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Prep for user phone, title, about to become nullable
  src/common/fragments/user.graphql
Due: prettier --write

No secured fragments
  src/common/fragments/location.graphql
  src/common/fragments/secured.graphql
  src/common/fragments/user.graphql
  src/components/FundingAccountCard/FundingAccountCard.graphql
  src/components/LocationCard/LocationCard.graphql
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/form/Lookup/Partner/PartnerLookup.graphql
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Edit/EditOrganizationName.graphql
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.graphql
Due: prettier --write

renamed marketingLocation
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

fix: remove aws-sdk npm prefix
  package.json
Due: none

fix: remove aws-sdk npm prefix (#1495)
  package.json
Due: none

feat: add finance and notes section to new partner UI
  src/common/secured.ts
  src/components/EditableSection/EditableSection.tsx
  src/components/List/List.tsx
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/CreatePost/hooks/useCreatePost.tsx
  src/components/posts/PostListItemCard/PostListItem.tsx
  src/components/posts/PostListItemCard/index.ts
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerDetailFinance.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

refactor: editable section to actionable section which can take events other than edit and fix import
  src/common/secured.ts
  src/components/ActionableSection/ActionableSection.tsx
  src/components/ActionableSection/index.ts
  src/components/EditableSection/index.ts
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

refactor: post review updates
  src/components/ActionableSection/ActionableSection.tsx
  src/components/List/List.tsx
  src/components/posts/PostListItemCard/PostListItem.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Revert unnecessary abstraction
  src/common/secured.ts
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/CreatePost/hooks/useCreatePost.tsx
Due: eslint --ext .ts,.tsx --fix

Polish action buttons
  src/components/ActionableSection/ActionableSection.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

Polish new PMC Entity Code display
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
