Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Invalidate budget cache on funding partnership changes
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/InvalidateBudget/ProjectsBudget.graphql
  src/scenes/Partnerships/InvalidateBudget/index.ts
  src/scenes/Partnerships/InvalidateBudget/invalidateBudgetRecords.ts
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Invalidate cached budget records & adjust cached partnerships & engagement date ranges when the project's date range is updated
  src/scenes/Projects/DateRangeCache/CachedProjectDateRanges.graphql
  src/scenes/Projects/DateRangeCache/index.ts
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Bump apollo which has the type fix I started
  package.json
  src/api/typePolicies/lists/page-limit-pagination.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Apply workaround apollo client with fast refresh
  package.json
  patches/apollo-client.patch
  yarn.lock
Due: none

Wrap project's budget & files cards
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update CardGroup to display horizontally at a breakpoint
  src/components/CardGroup/CardGroup.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change sidebar icons for people & partners to be unique
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change partnership summary title to match detail page
  src/components/PartnershipSummary/PartnershipSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor create menu & dialogs out of Sidebar
  src/scenes/Root/Creates/CreateDialogProviders.tsx
  src/scenes/Root/Creates/CreateMenu.tsx
  src/scenes/Root/Creates/Creates.tsx
  src/scenes/Root/Creates/index.ts
  src/scenes/Root/Root.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Simplify project filter mapping
  src/scenes/Projects/List/ProjectList.tsx
  src/util/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge order & sort into one query parameter
  src/components/Sort/useSort.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove default sort from query url & gql
  src/components/Sort/SortOption.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add badge to show number of currently selected filters
  src/components/Filter/FilterButtonDialog.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix project list scroll restoration
  src/components/List/List.tsx
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update SecuredField to work with relation changes (xId fields)
  src/api/list-caching/types.ts
  src/components/form/SecuredField.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update engagement form fields to be secured
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix Location.fundingAccount to use correct input name
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create primary partnership
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Primary partnership card
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/PartnershipPrimaryIcon/PartnershipPrimaryIcon.tsx
  src/components/PartnershipPrimaryIcon/index.ts
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix type check
  src/components/PartnershipCard/PartnershipCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Invalidate old primary partnership
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/PartnershipCard/PartnershipPrimaryIcon.tsx
  src/components/PartnershipCard/index.ts
  src/components/PartnershipPrimaryIcon/index.ts
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/Edit/InvalidateOldPrimaryPartnership.ts
  src/scenes/Partnerships/Edit/index.ts
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix comments
  src/components/PartnershipCard/PartnershipPrimaryIcon.tsx
  src/scenes/Partnerships/Edit/InvalidateOldPrimaryPartnership.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix unsecured primary field
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix redacted partners name & loading name skeleton
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix removing primary from existing primary partnership when it's not changing
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/Edit/InvalidateOldPrimaryPartnership.ts
  src/scenes/Partnerships/Edit/UpdateOldPrimaryPartnership.ts
  src/scenes/Partnerships/Edit/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix sending primary=false to API when we really mean no change
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix country of origin field not showing
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove location from language cache on delete
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change first scripture wording
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move AddItemCard to DefinedFileCard
  src/components/AddItemCard/AddItemCard.tsx
  src/components/AddItemCard/index.ts
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove refetchQueries for CreateProjectDirectory
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove updateCachedVersions
  src/components/files/updateCachedVersions.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move upload mutations logic into DefinedFileCard component
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/Files/index.ts
  src/scenes/Engagement/Files/useUploadEngagementFiles.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/CreateProjectDirectory.graphql
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix DefinedFileCard storybook
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add another sanity check in case the field is undefined
  src/components/form/SecuredField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

merge if statements and specifically check if the field is undefined
  src/components/form/SecuredField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

first rev of project comments
  src/components/posts/CreatePostForm/CreatePost.graphql
  src/components/posts/CreatePostForm/CreatePostForm.tsx
  src/components/posts/CreatePostForm/index.ts
  src/components/posts/PostList.graphql
  src/components/posts/PostListItemCard/PostListItemCard.graphql
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/components/posts/PostListItemCard/index.ts
  src/scenes/Projects/Create/CreateProject.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Overview/ProjectPostList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

take out a console.log statement, set the product to undefined when calling the SecuredAccordion if there is no produces field.
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

temp remove Carson from code owners
  .github/CODEOWNERS
Due: none

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
