Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Tweak positioning of skipped to align with due text
  src/components/PeriodicReports/OverviewCard/ReportInfo.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor ProgressReports overview card
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.graphql
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/index.ts
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.graphql
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Split ProgressAndPlanning GQL & prep for custom progress card
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Custom progress reports overview card
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Log when there's an API error
  src/api/client/links/renderErrors.link.tsx
Due: eslint --ext .ts,.tsx --fix

Cleanup FilesOverviewCard
  src/components/files/FilesOverviewCard/FilesOverviewCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Show total file count from API (finally)
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

have the error message be more informative to creating goal instead of engagmenet
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix

0 is not infinite
  src/components/files/FilesOverviewCard/FilesOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix

Merge field `ProgressReport.varianceExplanation` in cache
  src/api/schema/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix

Refactor ProgressReport context to do more calculations internally
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Allow steps to be conditionally enabled/disabled
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamNews/TeamNewsStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Fix bottom next button to align with top one
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
Due: eslint --ext .ts,.tsx --fix

Use current user's assignable roles when creating new user
  src/components/Session/session.graphql
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix merging of `ProgressReport.varianceExplanation` in cache (#1382)
  src/api/schema/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix

Use current user's assignable roles when creating new users (#1383)
  src/components/Session/session.graphql
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Update PnpFileAndSummary.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/PnpFileAndSummary.tsx
Due: eslint --ext .ts,.tsx --fix

Tweak layout & add title
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/PnpFileAndSummary.tsx
Due: eslint --ext .ts,.tsx --fix

Implement Instructions
  src/scenes/ProgressReports/EditForm/InstructionsDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add real Progress Report Instructions (#1384)
  src/scenes/ProgressReports/EditForm/InstructionsDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add status to progress report edit header
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Add status to progress report edit header (#1387)
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Add loading state to PromptResponseCards
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/PromptResponseCard.tsx
Due: eslint --ext .ts,.tsx --fix

Add loading state to StatusStepper
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/StatusStepper.tsx
Due: eslint --ext .ts,.tsx --fix

Fix showing invalid error while loading
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

Fix back navigate loop on invalid report type
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Update terminology
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix

Update progress reports terminology (#1386)
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportsOverviewCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix

Reverse order of transitions buttons so "forward-most" action comes first
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/TransitionButtons.tsx
Due: eslint --ext .ts,.tsx --fix

Reverse order of transitions buttons so "forward-most" action comes first (#1390)
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/TransitionButtons.tsx
Due: eslint --ext .ts,.tsx --fix

asdf
  package.json
  src/components/StyledRemoteSvg.tsx
  src/scenes/Root/Sidebar/Africa_Chad.svg
  src/scenes/Root/Sidebar/Sidebar.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Update some variance explanation copy
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Updated EnumOption to forward refs
  src/components/form/EnumField.tsx
Due: eslint --ext .ts,.tsx --fix

Added tooltips communicating thresholds to variance status group buttons
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Default to schedule status provided by the API
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Yarn 3.3.0 -> 3.4.1
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Bump deps
  .yarn/patches/final-form.patch
  .yarnrc.yml
  package.json
  src/components/files/fileTypes.ts
  src/components/form/useAutocompleteQuery.ts
  src/scenes/Products/ProductForm/constants.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump deps
  yarn.lock
Due: none

Bump deps (#1407)
  yarn.lock
Due: none

Move non-dialog stuff from DialogForm into separate Form wrapper
  src/components/Dialog/DialogForm.tsx
  src/components/form/Form.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
