Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Update main lists to use List & useListQuery
  src/components/Layout/ListContainer.tsx
  src/components/List/useListQuery.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Persist scroll state so navigating back returns you to the same spot.
  src/components/List/List.tsx
  src/components/Routing/index.ts
  src/components/Routing/useLocationState.ts
  src/hooks/usePersistedScroll.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change useListQuery to work with lists at nested properties and with more variables than just "input"
  src/components/List/List.tsx
  src/components/List/useListQuery.ts
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update engagement list to handle pagination
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `root` prop to useListQuery so that other non list data from query can be used.
  src/components/List/List.tsx
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Ensure hasMore doesn't get set back to true if/when another non-ending page is fetched
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update addItemToList to support list fields on objects. Added some documentation.
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update project members to handle pagination. Add new member to list cache instead of re-fetching from API.
  src/scenes/Projects/Members/Create/CreateProjectMember.graphql
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
  src/scenes/Projects/Members/List/ProjectMembers.graphql
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update addItemToList helper
  src/api/addItemToList.ts
  src/api/index.ts
  src/api/modifyList.ts
  src/api/secured.ts
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
  src/scenes/Users/Create/CreateUser.tsx
  src/util/array-helpers.ts
  src/util/index.ts
  src/util/updateListQueryItems.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move list caching to folder. Consolidate types.
  src/api/index.ts
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/index.ts
  src/api/list-caching/modifyList.ts
  src/api/list-caching/types.ts
  src/api/list-caching/util.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
  src/components/List/List.tsx
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create generic callAll & callSome functions to help merge functions together
  src/components/form/useField.ts
  src/components/form/validators.ts
  src/util/compose-fns.ts
  src/util/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create removeItemFromList list cache modifier
  src/api/list-caching/index.ts
  src/api/list-caching/removeItemFromList.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change deleting project member to update cache directly instead of re-fetching list
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update list pagination merging to be more robust
  src/api/typePolicies/lists/page-limit-pagination.ts
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add default sorting from gql schema to list pagination type policy
  src/api/list-caching/util.ts
  src/api/typePolicies/lists/lists.codegen.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Abstract object with id field to Entity interface. Move identifyList to function.
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/modifyList.ts
  src/api/list-caching/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Grab default sorting from type policies to use in addItemToList
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/modifyList.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move common pagination fields to fragment
  src/api/fragments/lists.graphql
  src/components/PartnershipSummary/PartnershipSummary.graphql
  src/components/ProjectMembersSummary/ProjectMembersSummary.graphql
  src/scenes/Languages/List/languages.graphql
  src/scenes/Partners/List/PartnerList.graphql
  src/scenes/Projects/List/projects.graphql
  src/scenes/Projects/Members/List/ProjectMembers.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Users/List/users.graphql
Due: prettier --write

Define custom schema loader for client-side fields
  codegen.yml
  src/api/client-schema.graphql
  src/api/client-schema.graphql.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move next page "cursor" to cache so that it is resumed correctly next time the list is mounted
  src/api/fragments/lists.graphql
  src/api/list-caching/types.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Revert cd07db2f
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

If we've completed paging but our list is not complete, then restart at first page to try and find it.
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Correct nextPage comment
  src/api/client-schema.graphql
Due: prettier --write

Update partnership list to handle pagination. Update list cache on create/delete instead of refetching list
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Create/CreatePartnership.graphql
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix lists being considered a variation when its not
  src/api/list-caching/modifyList.ts
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Optimize list keyArgs for no args, which is the case most of the time
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix missing pagination props on storybook stories
  src/components/PartnershipSummary/PartnershipSummary.stories.tsx
  src/components/ProjectMembersSummary/ProjectMembersSummary.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove itemFragment from addItemToList
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/util.ts
  src/scenes/Languages/Create/CreateLanguage.tsx
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Projects/Create/CreateProject.tsx
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move delete product submit handler from form component to EditProduct
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix edit/create/delete product errors not populating on form
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add/remove products from list on create/delete
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix isPlainObject import
  .eslintrc.yml
  src/api/secured.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update List abstraction to use Grid components & allow props customization
  src/components/List/List.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add renderCreate option to list and only show when data.canCreate
  src/components/List/List.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor product list to handle pagination
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Products/List/ProductList.graphql
  src/scenes/Products/List/ProductList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix max width on project & partner list
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show pin in project list and detail page
  src/components/Icons/PushPinIconFilled.tsx
  src/components/Icons/PushPinIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/TogglePinButton/TogglePinButton.graphql
  src/components/TogglePinButton/TogglePinButton.tsx
  src/components/TogglePinButton/index.ts
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Allow TogglePinButton to function just like an IconButton.
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move pin button out of project list card action area
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change pin toggle default color to secondary
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
