Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use dash for not planned steps
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Highlight skipped progress report row on list
  src/components/PeriodicReports/PeriodicReportRow.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add skipped prefix to tooltip for clarity
  src/components/PeriodicReports/PeriodicReportRow.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace date range hyphen with en dash
  src/components/Formatters/FormattedDate.tsx
  src/components/Formatters/useDateFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add OralStories to PnP file upload dialog form
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show steps in the left sidebar if no current progress report
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix label
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Simplify reduce to flatMap for excel preview
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Don't render hidden and empty sheets
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix unwanted extra spacing between project list cards
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change default report list order to desc to match how we show in UI
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.graphql
  src/scenes/Projects/Reports/ProjectReports.graphql
Due: prettier --write

Bump required nodejs 12 -> 16
  .github/workflows/ci.yml
  Dockerfile
  package.json
Due: none

Update @apollo/client 3.3.19 -> 3.5.6
  package.json
  patches/apollo-client.patch
  razzle.config.js
  src/api/updateFragment.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace apollo's deprecated MutationUpdaterFn with new version
  src/api/invalidate-props.ts
  src/api/list-caching/addItemToList.ts
  src/api/list-caching/removeItemFromList.ts
  src/api/updateFragment.ts
  src/components/TogglePinButton/TogglePinButton.tsx
  src/scenes/Engagement/LanguageEngagement/Create/recalculateSensitivity.ts
  src/scenes/Partnerships/Edit/UpdateOldPrimaryPartnership.ts
  src/scenes/Partnerships/InvalidateBudget/invalidateBudgetRecords.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade Yarn 2.4.1 -> 3.1.1
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Upgrade TS 4.2 -> 4.5, ESLint v8 & latest TS-ESLint. Fix lint errors
  package.json
  src/api/form-error-handling.ts
  src/api/secured.ts
  src/components/Session/Session.tsx
  src/components/Upload/DraggablePaper.tsx
  src/components/files/FilePreview/HtmlPreview.tsx
  src/components/form/EnumField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/VersesField.tsx
  src/util/FileSaver.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Formatting changes from Prettier
  src/api/readFragment.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/Routing/Navigate.tsx
  src/components/ServerData.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Better types for entries() & partnership producing mediums form field
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/PartnershipProducingMediumsSection.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary optional chains now that TS is better :tada:
  src/api/changesets/modifyChangesetDiff.ts
  src/components/PeriodicReports/DropOverlay.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix compilation of cjs files from libraries for SSR
  razzle.config.js
Due: none

Remove storybook for now
  .eslintignore
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/webpack.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: none

Fix some yarn warnings
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Remove unnecessary conditional on gql error extensions which is no longer nullable
  src/api/error.types.ts
  src/api/links/renderErrors.link.tsx
  src/api/links/session.link.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Explicitly add mini-css-extract-plugin since razzle requires it
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Ignoring blame for latest prettier commit
  .git-blame-ignore-revs
Due: none

AbortController is no longer experimental in Node 16
  src/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add toggle pin button transition animation
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Append operation name to graphql server url
  src/api/ApolloProvider.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix product creation results not returning info needed for displaying in list
  src/scenes/Products/Create/CreateProduct.graphql
Due: prettier --write

Add ability to cycle through progress formats on progress report detail page
  src/api/displayEnums.ts
  src/components/PeriodicReports/Upload/UpdatePeriodicReport.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak Partner detail page
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix css not applying & not allowing external overrides
  src/components/TogglePinButton/TogglePinButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add download action on file preview dialog
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FilePreview/FilePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move download button to DialogAction button to save a click. Reuse existing file data instead of calling API & S3 again.
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FilePreview/FilePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Open product form accordions when they have validation errors
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/SecuredAccordion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Convert SecuredAccordion to just wrap DefaultAccordion
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
  src/scenes/Products/ProductForm/MethodologySection.tsx
  src/scenes/Products/ProductForm/SecuredAccordion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show product section's title in error color when the field has an error
  src/scenes/Products/ProductForm/CompletionSection.tsx
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
  src/scenes/Products/ProductForm/OtherProductSection.tsx
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/Products/ProductForm/ProductSection.tsx
  src/scenes/Products/ProductForm/ProgressMeasurementSection.tsx
  src/scenes/Products/ProductForm/ProgressTargetSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

If a section has an error keep it open to highlight the problems
  src/scenes/Products/ProductForm/DefaultAccordion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add react-error-boundary
  package.json
  yarn.lock
Due: none

Fix server routes when PUBLIC_URL is a full url
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
