Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Implement canBypassTransitions for projects & engagement statuses
  src/scenes/Engagement/EditEngagement/EditEngagement.graphql
  src/scenes/Engagement/EditEngagement/EngagementWorkflowDialog.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix undefined step on project for workflow project update
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade razzle
  .babelrc
  package.json
  patches/razzle.patch
  razzle.config.js
  yarn.lock
Due: none

Upgrade to TS 4.2
  .yarn/releases/yarn-2.4.0.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Upgrade razzle for bugfix
  package.json
  razzle.config.js
  yarn.lock
Due: none

Allow SubmitButton to be disabled
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Prohibit project completion if any engagements do not have a terminal status
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Manually define Readable, Editable since they were removed from the API
  src/api/secured.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename Secured to SecuredProp to not conflict with gql interface type
  src/api/dateRange.ts
  src/api/secured.ts
  src/components/BooleanProperty/BooleanProperty.tsx
  src/components/Breadcrumb/SecuredBreadcrumb.tsx
  src/components/DataButton/DataButton.tsx
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/components/form/SecuredField.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix reference to old, now non-existent role
  src/components/ProjectMemberCard/ProjectMemberCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Ensure all queries for entities ask for IDs
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItem.graphql
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/PartnerListItemCard/PartnerListItemCard.graphql
  src/components/ProjectMembersSummary/ProjectMemberItem.graphql
  src/components/ProjectMembersSummary/ProjectMembersSummary.stories.tsx
  src/components/form/Lookup/Partner/PartnerLookup.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update tsMorphPlugin to start with .base.ts file automatically if it exists
  src/api/codeGenUtil/ts.util.ts
  src/api/typePolicies/typePolicies.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace fragment matcher generator with our own
  codegen.yml
  package.json
  src/api/ApolloProvider.tsx
  src/api/fragmentMatcher/fragmentMatcher.base.ts
  src/api/fragmentMatcher/fragmentMatcher.codegen.ts
  src/api/fragmentMatcher/index.ts
  src/server/renderServerSideApp.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix possibleTypes type incompatibility
  src/api/ApolloProvider.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update fragment matcher to handle existing lists
  src/api/codeGenUtil/ts.util.ts
  src/api/fragmentMatcher/fragmentMatcher.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add some heuristic fragment matching
  src/api/fragmentMatcher/fragmentMatcher.base.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add abstract types to type map codegen.
  src/api/typeMap.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Apollo as of 3.3.0 can have `merge` defined just on the type instead of every field the type is used.
  src/api/typePolicies/secured/secured.codegen.ts
  src/api/typePolicies/typePolicies.base.ts
  src/api/typePolicies/typePolicies.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix dumb prompt to continue on razzle build
  Dockerfile
  package.json
Due: none

Fix camel-case import
  .eslintrc.yml
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix financial reporting types label to be plural and clean up some code
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Unselect financial reporting types if user unselects managing type
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update partner types to account for not being able to edit or read
  src/scenes/Partners/Detail/PartnerTypesCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Convert partner types enums to labels on partner detail
  src/api/displayEnums.ts
  src/scenes/Partners/Detail/PartnerTypesCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update partner address to account for no edit & read
  src/scenes/Partners/Detail/AddressCard.tsx
  src/scenes/Partners/Detail/PartnerTypesCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix runtime env vars not being correctly forwarded to app config provided by SSR
  razzle.config.js
Due: none

Add LogRocket
  package.json
  src/App.tsx
  src/components/Session/session.graphql
  src/scenes/Authentication/Authentication.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add download button to preview not supported dialog
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
  src/components/files/hooks/useDownloadFile.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix file icon for excel with macros
  src/components/files/fileTypes.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add outlook message preview support
  package.json
  patches/msg-reader.patch
  src/components/files/FilePreview/EmailPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/fileTypes.ts
  src/util/array-helpers.ts
  typings/@freiraum/msgreader/index.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix mime type of outlook messages when uploading
  src/components/Upload/getMimeType.ts
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix preview/download from file history
  src/components/files/hooks/useGetFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add preview support for xlsb files
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/fileTypes.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Handle both "macroenabled" & "macroEnabled" cases for mimetypes
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/fileTypes.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Define a custom Apollo cache field policy for our paginated lists
  src/api/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update type policy codegen to connect in our pagination field policy to all fields that are paginated lists
  src/api/typePolicies/lists/lists.codegen.ts
  src/api/typePolicies/typePolicies.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create List & useListQuery
  src/api/typePolicies/lists/page-limit-pagination.ts
  src/components/List/List.tsx
  src/components/List/index.ts
  src/components/List/useListQuery.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow List classes to be overridden
  src/components/List/List.tsx
  src/util/index.ts
  src/util/use-styles.types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
