Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

feat(CreateProduct.tsx): show all accordion
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProduct): group the buttons and fix ui
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProduct.graphql): update breadcrumb query
  src/scenes/Products/Create/CreateProduct.generated.ts
  src/scenes/Products/Create/CreateProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(CreateProduct.tsx): only show selected on closed accordion
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: add success snackbar and fix urls
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProductForm): separate out ProductForm
  src/scenes/Products/ProductForm/ProductForm.tsx
  src/scenes/Products/ProductForm/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProduct.tsx): consume ProductForm
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProductForm.tsx): remove external form state
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProductForm): separate out the accordion component with the form
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: Clean up unused code and files
  src/scenes/Products/Create/AccordionState.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/Sections/ProductTypeSection.jsx
  src/scenes/Products/Create/Sections/index.ts
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/constants.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(EditProduct.graphql): update product mutation
  src/scenes/Products/Edit/EditProduct.generated.ts
  src/scenes/Products/Edit/EditProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(UpdateProduct): update product component
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/Edit/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): show and submit product id only if given
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): only submit unused fields
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): add types
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProduct.tsx): add scripture refereces override
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): fix form types
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): fix urls
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(RadioField.tsx): allow required = false prop
  src/components/form/RadioField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): use radio fields for single select
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): generated queries
  src/scenes/Products/Create/CreateProduct.generated.ts
  src/scenes/Products/Edit/EditProduct.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): fix urls
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): pass through edit or create input type as generic to form
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(EditProduct.graphql): update mutation
  src/scenes/Products/Edit/EditProduct.generated.ts
  src/scenes/Products/Edit/EditProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(EditProduct.tsx): add scripture referecne and produces on initial values
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProductForm): move product fields to a fragment
  src/scenes/Products/ProductForm/ProductForm.generated.ts
  src/scenes/Products/ProductForm/ProductForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(EditProduct.graphql): consume product form fragment
  src/scenes/Products/Edit/EditProduct.generated.ts
  src/scenes/Products/Edit/EditProduct.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Products):pass through product object on update to the AccordionSection renderer and secure the accordions with SecuredField
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): catch submit errors
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): load accordions only when project or products loaded
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): style product form
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(EngagementBreadcrumb): create engagement breadcrumb component
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.generated.ts
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.tsx
  src/components/EngagementBreadcrumb/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(EditProduct): consume engagement breadcrumb
  src/scenes/Products/Edit/EditProduct.generated.ts
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(CreateProduct): consume engagement breadcrumb
  src/scenes/Products/Create/CreateProduct.generated.ts
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(ProductCard.graphwl): create Product Card fragment
  src/components/ProductCard/ProductCard.generated.ts
  src/components/ProductCard/ProductCard.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageEngagementDetail.graphql): consume product card fragment
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: prettier --write

feat(ProductCard): create product card component
  src/components/ProductCard/ProductCard.tsx
  src/components/ProductCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageEngagementDetail.tsx): consume Product Card
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProductCard): WIP
  src/components/ProductCard/ProductCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Products): clean up constants and helpers
  src/api/displayEnums.ts
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Products/ProductForm/constants.ts
  src/scenes/Products/ProductForm/helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
