Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Show placeholder when no file actions are available
  src/components/files/FileActions/FileActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show year in due date when it's not the current year
  src/components/PeriodicReports/ReportInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show "rejected" drop overlay when drop is not accepted. Tweak overlay text & add icon
  src/components/PeriodicReports/DropOverlay.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show API errors and fix loading state of progress reports
  src/scenes/Engagement/ProgressReports/ProgressReports.tsx
  src/scenes/Projects/Reports/ProjectReports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix date fields in stories
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix FundingAccount createdAt display
  src/components/FundingAccountCard/FundingAccountCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix types on DateField
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Split gql schema generation from operations generation
  codegen-operations.yml
  codegen.yml
  package.json
Due: none

Change to plan skeleton ui
  src/api/displayEnums.ts
  src/components/PlanChangeCard/PlanChange.graphql
  src/components/PlanChangesSummary/PlanChangesSummary.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.graphql
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChangeForm.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

List plan changes UI
  src/api/displayEnums.ts
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/components/PlanChangeCard/index.ts
  src/components/PlanChangesSummary/PlanChangesSummary.tsx
  src/components/PlanChangesSummary/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
  src/scenes/Projects/PlanChange/List/PlanChangesList.tsx
  src/scenes/Projects/PlanChange/List/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

CRUD for plan changes
  src/components/PlanChangeCard/PlanChange.graphql
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChangeForm.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
  src/scenes/Projects/PlanChange/List/PlanChangesList.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.graphql
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
  src/scenes/Projects/PlanChange/Update/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix list plan changes
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Project name CR aware
  src/App.tsx
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/components/PlanChangeCard/PlanChangeContext.tsx
  src/components/PlanChangeCard/index.ts
  src/scenes/Projects/Overview/ProjectChangesOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderPlanChange/HeaderPlanChange.tsx
  src/scenes/Root/Header/HeaderPlanChange/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Approve CR
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
  src/scenes/Projects/Update/UpdateProject.graphql
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Project step CR aware
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
  src/scenes/Projects/PlanChange/List/PlanChangesList.tsx
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Exit CR mode after approval
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Engagement CR aware
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use FormattedDateTime instead of hook
  src/components/PlanChangeCard/PlanChangeCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move current plan change state to url so it's state is transparent
  src/App.tsx
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/components/PlanChangeCard/PlanChangeContext.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
  src/scenes/Root/Header/HeaderPlanChange/HeaderPlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Store changeset aware objects in cache separately based on each changeset
  src/api/fragments/changeset.graphql
  src/api/typePolicies/typePolicies.base.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Sync with latest changeset/plan change API schema.
  src/api/fragments/changeset.graphql
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/components/PlanChangeCard/PlanChangeContext.tsx
  src/components/PlanChangesSummary/PlanChangesSummary.graphql
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectChangesOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
  src/scenes/Projects/PlanChange/List/PlanChangesList.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
  src/scenes/Projects/Update/UpdateProject.graphql
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/scenes/Root/Header/HeaderPlanChange/HeaderPlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

No snackbar for newly created item that's in the middle of the screen
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix delete button submit progress
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

PlanChange summary multiline. Remove unnecessary container in update dialog
  src/scenes/Projects/PlanChange/Create/CreatePlanChangeForm.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Partially revert storing changeset in url as this doesn't work across path navigation
  src/api/changeset.ts
  src/api/index.ts
  src/components/PlanChangeCard/PlanChangeCard.tsx
  src/components/PlanChangeCard/PlanChangeContext.tsx
  src/components/PlanChangeCard/index.ts
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.tsx
  src/scenes/Root/Header/HeaderPlanChange/HeaderPlanChange.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create ChangesetBadge to indicate a property has changed and to show the difference
  src/api/secured.ts
  src/components/BadgeWithTooltip/BadgeWithTooltip.tsx
  src/components/BadgeWithTooltip/index.ts
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChangeForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove the create change to plan fab.
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak plan changes summary icon & loading state
  src/components/PlanChangesSummary/PlanChangesSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update redirectToTypeById field policy to be changeset aware
  src/api/typePolicies/id-lookup/field-policy.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

PlanChange -> ProjectChangeRequest
  src/api/displayEnums.ts
  src/components/PlanChangeCard/index.ts
  src/components/PlanChangesSummary/PlanChangesSummary.graphql
  src/components/PlanChangesSummary/index.ts
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.graphql
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/ProjectChangeRequestListItem/index.ts
  src/components/ProjectChangeRequestSummary/ProjectChangeRequestSummary.graphql
  src/components/ProjectChangeRequestSummary/ProjectChangeRequestSummary.tsx
  src/components/ProjectChangeRequestSummary/index.ts
  src/scenes/Projects/ChangeRequest/Create/CreateProjectChangeRequest.graphql
  src/scenes/Projects/ChangeRequest/Create/CreateProjectChangeRequest.tsx
  src/scenes/Projects/ChangeRequest/Create/index.ts
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.graphql
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.tsx
  src/scenes/Projects/ChangeRequest/List/index.ts
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.graphql
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/ChangeRequest/Update/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.graphql
  src/scenes/Projects/PlanChange/Create/CreatePlanChange.tsx
  src/scenes/Projects/PlanChange/Create/CreatePlanChangeForm.tsx
  src/scenes/Projects/PlanChange/List/PlanChanges.graphql
  src/scenes/Projects/PlanChange/List/index.ts
  src/scenes/Projects/PlanChange/Update/UpdatePlanChange.graphql
  src/scenes/Projects/PlanChange/Update/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use new ChangeRequest.canEdit instead of copying the business logic here
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.graphql
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.graphql
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refactor ChangesetBadge into ChangesetPropertyBadge & dumb ChangesetBadge (now with add & remove styles as well)
  src/components/Changeset/ChangesetBadge.tsx
  src/components/Changeset/ChangesetPropertyBadge.tsx
  src/components/Changeset/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/util/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Grab changeset difference and store it in a context for ProjectOverview
  src/api/fragments/changeset.graphql
  src/components/Changeset/ChangesetDiffContext.ts
  src/components/Changeset/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update List to show changeset badges for its items based on changeset diff context
  src/components/List/List.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak property badge spacing
  src/components/Changeset/ChangesetPropertyBadge.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move fetching/holding/providing project change request diff out of ProjectOverview to apply to all project detail scenes
  src/api/fragments/changeset.graphql
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move changeset notifications into ProjectDetailWrapper so it only shows on project scenes
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Changeset/index.ts
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderPlanChange/HeaderPlanChange.tsx
  src/scenes/Root/Header/HeaderPlanChange/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add ChangesetModificationWarning and apply to project's own forms
  src/components/Changeset/ChangesetModificationWarning.tsx
  src/components/Changeset/index.ts
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove hardcoded pending status on changeset creation. API handles this internally now.
  src/scenes/Projects/ChangeRequest/Create/CreateProjectChangeRequest.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Form interface rename
  src/scenes/Projects/ChangeRequest/List/ProjectChangeRequestList.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
