Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Further break down pnp validation components for more composability
  src/components/PnpValidation/PnPExtractionProblems.tsx
  src/components/PnpValidation/PnpExtractionResultDialog.tsx
  src/components/PnpValidation/PnpValidation.tsx
  src/components/PnpValidation/PnpValidationIcon.tsx
  src/components/PnpValidation/ProblemsWithSheetsAsTabs.tsx
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
  src/scenes/ProgressReports/PnpValidation/PnpProgressValidation.tsx
  src/scenes/ProgressReports/PnpValidation/pnpProgressValidation.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add extraction problems to pnp planning card
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.graphql
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheetHeader.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add PnP Extraction Result to Planning Sheet Card (#1621)
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.graphql
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheetHeader.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Make TriStateBooleanField
  src/components/form/EnumField.tsx
  src/components/form/TriStateBooleanField.tsx
Due: eslint --ext .ts,.tsx --fix

Add Milestone to Engagement Columns and Detail (#1626)
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/form/SelectField.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.graphql
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

remove header filter
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

ai assisted gql
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Engagement/LanguageEngagement/AIAssistedTranslation/AIAssistedTranslation.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: prettier --write

add ai assist column to engagment table
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

add ai assist to engagement detail page
  src/components/BooleanProperty/BooleanProperty.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

created aiAssist types
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

create TriStateBoolean, adjust EnumField
  src/components/form/EnumField.tsx
  src/components/form/TriStateBooleanField.tsx
Due: eslint --ext .ts,.tsx --fix

implement input and switch to booleanColumn
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

fix boolean cell display
  src/components/Grid/booleanColumn.tsx
Due: eslint --ext .ts,.tsx --fix

create reusuable column components, restructure Grid folder
  src/components/Grid/ColumnTypes/booleanColumn.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/Grid/ColumnTypes/enumColumn.tsx
  src/components/Grid/ColumnTypes/multiEnumColumn.tsx
  src/components/Grid/ColumnTypes/textColumn.tsx
  src/components/Grid/Columns/IdColumn.tsx
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/Grid/RichTextCell.tsx
  src/components/Grid/index.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/VariantResponseCell.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

refactor gql
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

implement new column components in grids
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

make ID column more flexible
  src/components/Grid/Columns/IdColumn.tsx
Due: eslint --ext .ts,.tsx --fix

create PnpProblemsWidget and gql
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/PnpProblemsWidget/pnpProblemsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

name changes
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

fix sort
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

implement PnPValidation
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

remove generics
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Remove language milestone reached grid filter
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Make TriStateBooleanField
  src/components/form/EnumField.tsx
  src/components/form/TriStateBooleanField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix

Fix <BooleanProperty sx> precedence
  src/components/BooleanProperty/BooleanProperty.tsx
Due: eslint --ext .ts,.tsx --fix

add ai assist to engagement detail page
  src/scenes/Engagement/LanguageEngagement/AIAssistedTranslation/AIAssistedTranslation.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add editing ai assist to dialog
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

add ai assist column to engagement table
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Tweak labels
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Fix boolean columns to render nulls as empty
  src/components/Grid/booleanColumn.tsx
Due: eslint --ext .ts,.tsx --fix

introduce cell editing for datagrid milestone and ai
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Projects/List/EngagementsPanel.tsx
Due: eslint --ext .ts,.tsx --fix

Bump TS 5.2 -> 5.7
  package.json
  src/components/Formatters/useCurrencyFormatter.tsx
  src/components/PnpValidation/ProblemsWithSheetsAsTabs.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Bump TS 5.2 -> 5.7 (#1631)
  package.json
  src/components/Formatters/useCurrencyFormatter.tsx
  src/components/PnpValidation/ProblemsWithSheetsAsTabs.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Move column types to their own folder
  src/components/Grid/ColumnTypes/booleanColumn.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/Grid/ColumnTypes/enumColumn.tsx
  src/components/Grid/ColumnTypes/multiEnumColumn.tsx
  src/components/Grid/ColumnTypes/textColumn.tsx
  src/components/Grid/index.tsx
Due: eslint --ext .ts,.tsx --fix

Create `column` function to help declare column types
  src/components/Grid/ColumnTypes/booleanColumn.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/Grid/ColumnTypes/definition.types.ts
  src/components/Grid/ColumnTypes/enumColumn.tsx
  src/components/Grid/ColumnTypes/multiEnumColumn.tsx
  src/components/Grid/ColumnTypes/textColumn.tsx
Due: eslint --ext .ts,.tsx --fix

Abstract LinkColumn
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/Columns/LinkColumn.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Abstract SensitivityColumn & Create a `columnWithDefaults` function to help create columns from two inputs.
  src/common/index.ts
  src/common/merge.ts
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/ColumnTypes/definition.types.ts
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Abstract ProjectNameColumn
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Abstract LanguageNameColumn
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move Field Region & Zone Lookup fields out Location
  src/components/form/Lookup/FieldRegion/FieldRegionField.stories.tsx
  src/components/form/Lookup/FieldRegion/FieldRegionField.tsx
  src/components/form/Lookup/FieldRegion/FieldRegionLookup.graphql
  src/components/form/Lookup/FieldRegion/index.ts
  src/components/form/Lookup/FieldZone/FieldZoneField.stories.tsx
  src/components/form/Lookup/FieldZone/FieldZoneField.tsx
  src/components/form/Lookup/FieldZone/FieldZoneLookup.graphql
  src/components/form/Lookup/FieldZone/index.ts
  src/components/form/Lookup/Location/LocationField.tsx
  src/components/form/Lookup/Location/LocationFields.tsx
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/components/form/Lookup/Location/index.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
