Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Change pre-commit hook to not block commit
  .huskyrc.json
  .lintstagedrc
Due: none

Change user roles to be enabled from `User.roles.assignable` instead of removed `GrantRole` power
  src/scenes/Users/UserForm/UserForm.graphql
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump caniuse db
  yarn.lock
Due: none

Tweak Engagement progress reports to not use named fragment
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.graphql
Due: prettier --write

Configure persisted queries for Apollo
  src/api/client/createClient.ts
  src/api/client/links/persisted-queries.link.ts
Due: eslint --ext .ts,.tsx --fix

initial comments functionality
  package.json
  src/common/local-storage.ts
  src/common/urls.ts
  src/components/EditorJsWrapper/EditorJsWrapper.tsx
  src/components/EditorJsWrapper/editorJsTools.ts
  src/components/EditorJsWrapper/index.tsx
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/editorJsTools.d.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/Commentsbar/CommentItem/CommentItem.tsx
  src/scenes/Root/Commentsbar/CommentItem/index.tsx
  src/scenes/Root/Commentsbar/CommentItemMenu/CommentMenuItem.tsx
  src/scenes/Root/Commentsbar/CommentItemMenu/index.tsx
  src/scenes/Root/Commentsbar/CommentReply/CommentReply.tsx
  src/scenes/Root/Commentsbar/CommentReply/index.tsx
  src/scenes/Root/Commentsbar/CommentThread/CommentThread.tsx
  src/scenes/Root/Commentsbar/CommentThread/index.tsx
  src/scenes/Root/Commentsbar/CommentsBar.graphql
  src/scenes/Root/Commentsbar/CommentsBar.tsx
  src/scenes/Root/Commentsbar/index.tsx
  src/scenes/Root/MainLayout.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix, prettier --write

fixed no caching if input is undefined but other args exist
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

restructured some comment logic
  src/common/local-storage.ts
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/scenes/Root/Commentsbar/CommentItem/CommentItem.tsx
  src/scenes/Root/Commentsbar/CommentItemMenu/CommentMenuItem.tsx
  src/scenes/Root/Commentsbar/CommentReply/CommentReply.tsx
  src/scenes/Root/Commentsbar/CommentThread/CommentThread.tsx
  src/scenes/Root/Commentsbar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/Commentsbar/CommentsBar.graphql
  src/scenes/Root/Commentsbar/CommentsBar.tsx
  src/scenes/Root/Commentsbar/CommentsThreadList.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

more cleanup and attempt to use cookies for comments bar
  .graphqlrc
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentItem/index.tsx
  src/scenes/Root/CommentsBar/CommentItemMenu/CommentMenuItem.tsx
  src/scenes/Root/CommentsBar/CommentItemMenu/index.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentReply/index.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/CommentThread/index.tsx
  src/scenes/Root/CommentsBar/CommentsBar.graphql
  src/scenes/Root/CommentsBar/CommentsBar.tsx
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
  src/scenes/Root/CommentsBar/index.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

made comments editable
  src/components/EditorJsWrapper/EditorJsWrapper.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentItemMenu/CommentMenuItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/CommentsBar.graphql
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

deduped dependencies
  yarn.lock
Due: none

comment options if canDelete
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
Due: eslint --ext .ts,.tsx --fix

added inital tests for comments
  src/App.test.tsx
  src/TestContext.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.test.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentItem/__snapshots__/CommentItem.test.tsx.snap
Due: eslint --ext .ts,.tsx --fix

fixed time issue in test
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.test.tsx
Due: eslint --ext .ts,.tsx --fix

finilizing CommentsBar context provider
  src/App.tsx
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentItem/__snapshots__/CommentItem.test.tsx.snap
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/CommentsBar.tsx
  src/scenes/Root/CommentsBar/CommentsBarContext.tsx
Due: eslint --ext .ts,.tsx --fix

reverted initial tests idea
  src/App.test.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.test.tsx
  src/scenes/Root/CommentsBar/CommentItem/__snapshots__/CommentItem.test.tsx.snap
Due: eslint --ext .ts,.tsx --fix

removed console.logs
  src/scenes/Root/CommentsBar/CommentsBar.tsx
  src/scenes/Root/CommentsBar/CommentsBarContext.tsx
Due: eslint --ext .ts,.tsx --fix

made comments bar closable anywhere
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/scenes/Root/CommentsBar/CommentsBar.tsx
  src/scenes/Root/CommentsBar/CommentsBarContext.tsx
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Fix peer deps for react-editor-js
  .yarnrc.yml
Due: none

Adjust editorjs tool types to have an actual type declaration
  src/editorJsTools.d.ts
  typings/declarations.d.ts
Due: eslint --ext .ts,.tsx --fix

Declare type for editorjs tools map
  src/components/EditorJsWrapper/editorJsTools.ts
Due: eslint --ext .ts,.tsx --fix

made editorjs toolset customizable
  src/components/EditorJsWrapper/EditorJsWrapper.tsx
  src/components/EditorJsWrapper/editorJsTools.ts
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
Due: eslint --ext .ts,.tsx --fix

cleaned comments and split graphql file
  src/components/EditorJsWrapper/editorJsTools.ts
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.graphql
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.graphql
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/CommentsThreadList.graphql
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

removed TestContext
  src/TestContext.tsx
Due: eslint --ext .ts,.tsx --fix

split comment reply and edit; made editor toolset customization easier
  src/common/array-helpers.ts
  src/common/urls.ts
  src/components/EditorJsWrapper/EditorJsWrapper.tsx
  src/components/EditorJsWrapper/editorJsTools.ts
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentItemMenu/CommentMenuItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.graphql
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/EditComment/EditComment.graphql
  src/scenes/Root/CommentsBar/EditComment/EditComment.tsx
  src/scenes/Root/CommentsBar/EditComment/index.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

replaced textfield with button for comment reply
  src/components/ToggleCommentButton/ToggleCommentButton.tsx
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThreadAccordion.tsx
  src/scenes/Root/CommentsBar/CommentsBarContext.tsx
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

attempt to fix editorJs window issue on ssr
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/EditComment/EditComment.tsx
Due: eslint --ext .ts,.tsx --fix

wrap the output of useBetaFeatures in a ReadonlySet, and usehas() where applicable to check if the user is allowed to see projectChangeRequests feature
  src/components/Changeset/ChangesetDiff.graphql
  src/components/Changeset/useChangesetAwareIdFromUrl.ts
  src/components/Session/Session.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

better expand/collapse layout for comment threads
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
Due: eslint --ext .ts,.tsx --fix

fixed a few issues on Comments
  src/components/EditorJsWrapper/EditorJsTheme.ts
  src/components/EditorJsWrapper/editorJsTools.ts
  src/scenes/Root/CommentsBar/CommentItem/CommentItem.tsx
  src/scenes/Root/CommentsBar/CommentReply/CommentReply.tsx
  src/scenes/Root/CommentsBar/CommentThread/CommentThread.tsx
  src/scenes/Root/CommentsBar/CommentsThreadList.graphql
  src/scenes/Root/CommentsBar/CommentsThreadList.tsx
  src/scenes/Root/CommentsBar/EditComment/EditComment.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

take care of an accidental change from other work
  src/components/Changeset/ChangesetDiff.graphql
Due: prettier --write

use the Beta feature fragment instead of using the type generated by schema
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix

Fix BetaFeatures to use new API object instead of old Power (#1171)
  src/components/Changeset/useChangesetAwareIdFromUrl.ts
  src/components/Session/Session.tsx
  src/components/Session/session.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

initial ProgressReportDrawer stub
  src/App.tsx
  src/scenes/ProgressReports/Detail/NewProgressReportCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportStepper.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/index.tsx
  src/scenes/ProgressReports/Detail/TemporarySteps.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix

added InstructionsDialog
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/InstructionsDialog.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

put new progress report behind beta flag
  src/components/Session/session.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

changed context state to match query params
  src/scenes/ProgressReports/Detail/NewProgressReportCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix

extracted colors to palette object
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportStepper.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/colorPalette.tsx
Due: eslint --ext .ts,.tsx --fix

changed beta feature flag name
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

conditionally render the ProgressReportDrawer
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
