Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

refactor engagement data grid columns, remove useQuarterState
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
Due: eslint --ext .ts,.tsx --fix

fixes critical deps by forcing resolutions & adds nvmrc setup
  .nvmrc
  package.json
  yarn.lock
Due: none

User - Partner Grids (#1832)
  src/components/Grid/GridFilterInputBoolean.tsx
  src/components/Grid/useDataGridSource.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/People/AddPersonToPartnerForm.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailsPeople.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat(mobile): useIsMobile hook + reusable mobile list engine
  src/common/index.ts
  src/common/useIsMobile.ts
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/index.tsx
  src/components/Grid/useDataGridSource.tsx
  src/components/Grid/useResponsiveColumnVisibility.ts
  src/components/List/EntityList.tsx
  src/components/List/EntityListItem.tsx
  src/components/List/List.tsx
  src/components/List/MobileFilterButton.test.tsx
  src/components/List/MobileFilters.tsx
  src/components/List/gridColumnAdapters.test.ts
  src/components/List/gridColumnAdapters.ts
  src/components/List/index.ts
  src/components/List/usePagedListQuery.test.tsx
  src/components/List/usePagedListQuery.ts
  src/components/PartnersDataGrid/renderPartnerRow.tsx
Due: eslint --ext .ts,.tsx --fix

feat(mobile): responsive Tabs — dropdown on mobile
  src/components/PnpValidation/ProblemsWithSheetsAsTabs.tsx
  src/components/Tabs/TabList.test.tsx
  src/components/Tabs/TabList.tsx
  src/components/Tabs/index.tsx
  src/scenes/FieldRegions/Detail/FieldRegionDetail.tsx
  src/scenes/FieldZones/Detail/FieldZoneDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Tools/Detail/ToolDetail.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

feat(mobile): responsive app shell — drawer nav, header, notifications
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Notifications/NotificationList.tsx
  src/scenes/Root/Notifications/Notifications.tsx
  src/scenes/Root/Notifications/index.ts
  src/scenes/Root/Notifications/useNotifications.ts
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/theme/createTheme.ts
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

feat(mobile): render grids as dense row lists across scenes
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjectsPanel.tsx
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjectsPanel.tsx
  src/scenes/Languages/Detail/Tabs/Locations/LanguageDetailLocations.tsx
  src/scenes/Languages/Detail/Tabs/Projects/LanguageDetailProjects.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/List/EngagementList.graphql
  src/scenes/Projects/List/EngagementsPanel.tsx
  src/scenes/Projects/List/ProjectList.graphql
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/EngagementPanel.tsx
  src/scenes/Tools/Detail/Tabs/Usages/Panels/ProjectPanel.tsx
  src/scenes/Users/Detail/Tabs/Partners/UserDetailPartners.tsx
  src/scenes/Users/Detail/Tabs/Partners/UserPartnerPanel/UserPartnersPanel.tsx
  src/scenes/Users/Detail/Tabs/Projects/UserDetailProjects.tsx
  src/scenes/Users/Detail/Tabs/Projects/UserProjectPanel/UserProjectsPanel.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat(mobile): full-screen dialogs, comments overlay, search and dashboard polish
  src/components/Comments/CommentsBar.tsx
  src/components/Dialog/DialogForm.tsx
  src/components/Widgets/WidgetGrid.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/SearchResults/SearchResults.tsx
  src/scenes/Users/Detail/Tabs/Profile/UserDetailProfile.tsx
Due: eslint --ext .ts,.tsx --fix

feat(mobile): polish intern engagement page and progress report edit form
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
Due: eslint --ext .ts,.tsx --fix

fix(mobile): address CodeRabbit review
  src/components/Grid/useResponsiveColumnVisibility.ts
  src/components/List/gridColumnAdapters.test.ts
  src/components/List/gridColumnAdapters.ts
  src/components/List/usePagedListQuery.test.tsx
  src/components/List/usePagedListQuery.ts
  src/components/PartnersDataGrid/renderPartnerRow.tsx
  src/scenes/FieldRegions/Detail/Tabs/Projects/FieldRegionProjectsPanel.tsx
  src/scenes/FieldZones/Detail/Tabs/Projects/FieldZoneProjectsPanel.tsx
  src/scenes/Languages/Detail/Tabs/Projects/LanguageDetailProjects.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Notifications/useNotifications.ts
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix

fix(mobile): constrain app shell so list rows ellipsize instead of overflowing
  src/components/List/EntityList.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

Mobile fix: Overflow constrained for all lists & Move Total Rows (#1847)
  src/components/List/EntityList.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

fix: mobile QA follow-ups — list filter/sort persistence, widget scroll, overview cards
  src/components/List/EntityList.tsx
  src/components/List/MobileFilters.tsx
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Mobile fix: list filter/sort persistence, expanded-widget scroll, split overview cards (#1848)
  src/components/List/EntityList.tsx
  src/components/List/MobileFilters.tsx
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Add Tools list page with sidebar nav and Create menu entry
  src/components/ToolDataGrid/ToolColumns.tsx
  src/components/ToolDataGrid/index.ts
  src/components/ToolDataGrid/toolDataGridRow.graphql
  src/scenes/Root/Creates/Creates.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Tools/List/ToolGrid.tsx
  src/scenes/Tools/List/ToolList.tsx
  src/scenes/Tools/List/index.ts
  src/scenes/Tools/List/tools.graphql
  src/scenes/Tools/Tools.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Render Tools as dense row list on mobile
  src/scenes/Tools/List/ToolList.tsx
Due: eslint --ext .ts,.tsx --fix

Add Tool grid (#1844)
  src/components/ToolDataGrid/ToolColumns.tsx
  src/components/ToolDataGrid/index.ts
  src/components/ToolDataGrid/toolDataGridRow.graphql
  src/scenes/Root/Creates/Creates.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Tools/List/ToolGrid.tsx
  src/scenes/Tools/List/ToolList.tsx
  src/scenes/Tools/List/index.ts
  src/scenes/Tools/List/tools.graphql
  src/scenes/Tools/Tools.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Narrative reports for Multiplication engagements (#1842)
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/PeriodicReportRow.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/components/PeriodicReports/fileField.ts
  src/components/ProgressReportsOverviewCard/NarrativeReportsOverviewCard.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/components/files/FileActions/DeleteFile.tsx
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileVersions.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/ProgressReports/List/NarrativeReportListPage.tsx
  src/scenes/ProgressReports/List/ProgressReportListItem.graphql
  src/scenes/ProgressReports/List/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create engagements using ai widget
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

reorganize engagement data grid fragments
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: prettier --write

Use merged EngagementFilters.tool (singular) filter name
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Move Engagement link column to 2nd in AI engagements widget
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Add Marketing Region functionality to location and project components (#1833)
  AGENTS.md
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/components/form/Lookup/Location/MarketingRegionField.tsx
  src/components/form/Lookup/Location/MarketingRegionLookup.graphql
  src/components/form/Lookup/Location/index.ts
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.test.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.test.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Engagements Using AI Widget (#1728)
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

follow region icon pattern already in place
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Fix: marketing region icon (#1850)
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Fix dangling "see the frontend report" comment references (budget-line-items-poc)
  src/scenes/Projects/Budget/BudgetAssumptionsForm.tsx
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql.ts
  src/scenes/Projects/Budget/OtherPartnerContribution.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add budget line-items POC: line-item grid, summary panel, assumptions form
  src/scenes/Projects/Budget/BudgetAssumptionsForm.tsx
  src/scenes/Projects/Budget/BudgetCalculationSummary.graphql
  src/scenes/Projects/Budget/BudgetCalculationSummary.graphql.ts
  src/scenes/Projects/Budget/BudgetLineItem.graphql
  src/scenes/Projects/Budget/BudgetLineItem.graphql.ts
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql.ts
  src/scenes/Projects/Budget/BudgetSummaryPanel.tsx
  src/scenes/Projects/Budget/OtherPartnerContribution.graphql
  src/scenes/Projects/Budget/OtherPartnerContribution.graphql.ts
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Budget/ProjectBudgetLineItems.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Budget line-items POC phase 4: section rows, benchmark calculator modal, read-only country/language count
  src/scenes/Projects/Budget/BudgetAssumptionsForm.tsx
  src/scenes/Projects/Budget/BudgetBenchmark.graphql
  src/scenes/Projects/Budget/BudgetBenchmark.graphql.ts
  src/scenes/Projects/Budget/BudgetLineItem.graphql
  src/scenes/Projects/Budget/BudgetLineItem.graphql.ts
  src/scenes/Projects/Budget/BudgetLineItemCalculatorDialog.tsx
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql.ts
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql.ts
  src/scenes/Projects/Budget/ProjectBudgetLineItems.tsx
  src/scenes/Projects/Budget/budgetLineHelpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix Breakdown/Partner Budgets tabs to apply entry->display currency conversion
  src/scenes/Projects/Budget/BudgetBreakdown.tsx
  src/scenes/Projects/Budget/BudgetPartnerLedger.tsx
  src/scenes/Projects/Budget/budgetLineHelpers.ts
Due: eslint --ext .ts,.tsx --fix

Add Budget page richer-data-use features (line-items total, org-scoped service provider/funder/donor pickers, OPC grid UI, approval stats table, Breakdown/Partner Budgets tabs, project MOU dates)
  src/components/Grid/ColumnTypes/organizationColumn.tsx
  src/components/Grid/index.tsx
  src/scenes/Projects/Budget/BudgetAssumptionsForm.tsx
  src/scenes/Projects/Budget/BudgetBreakdown.tsx
  src/scenes/Projects/Budget/BudgetCalculationSummary.graphql.ts
  src/scenes/Projects/Budget/BudgetLineItem.graphql.ts
  src/scenes/Projects/Budget/BudgetPartnerLedger.tsx
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql.ts
  src/scenes/Projects/Budget/BudgetSummaryPanel.tsx
  src/scenes/Projects/Budget/OtherPartnerContribution.graphql.ts
  src/scenes/Projects/Budget/OtherPartnerContributionsGrid.tsx
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Budget/ProjectBudgetLineItems.tsx
  src/scenes/Projects/Budget/budgetLineHelpers.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Field Budget page: tabs, sticky header, partner links, and popover fix
  src/components/Grid/index.tsx
  src/components/Grid/withEditTooltip.tsx
  src/components/form/SelectField.tsx
  src/scenes/Projects/Budget/BudgetApprovalStatsTab.tsx
  src/scenes/Projects/Budget/BudgetAssumptionsFields.tsx
  src/scenes/Projects/Budget/BudgetAssumptionsForm.tsx
  src/scenes/Projects/Budget/BudgetLineItem.graphql
  src/scenes/Projects/Budget/BudgetLineItem.graphql.ts
  src/scenes/Projects/Budget/BudgetLineItemCalculatorDialog.tsx
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql
  src/scenes/Projects/Budget/BudgetReferenceCountry.graphql.ts
  src/scenes/Projects/Budget/BudgetSummaryPanel.tsx
  src/scenes/Projects/Budget/LanguageEngagementsSummary.tsx
  src/scenes/Projects/Budget/OtherPartnerContributionsGrid.tsx
  src/scenes/Projects/Budget/PartnersSummary.tsx
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.graphql.ts
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Budget/ProjectBudgetLineItems.tsx
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
  src/scenes/Projects/Budget/budgetLineHelpers.ts
  src/scenes/Projects/Budget/chartOfAccounts.ts
  src/scenes/Projects/Budget/useHoverPopoverAnchor.ts
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Promote Other Partner Contributions to a top-level Budget tab
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix

Add final notes section to WorkflowCard component
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor: update WorkflowCard to use isDataEmpty for notes validation
  src/components/RichText/RichTextField.tsx
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
Due: eslint --ext .ts,.tsx --fix

Add Playwright E2E suite with persona auth and GraphQL coverage tracking
  .gitignore
  package.json
  playwright.config.ts
  tests/e2e/README.md
  tests/e2e/auth.setup.ts
  tests/e2e/personas/administrator/language-edit.spec.ts
  tests/e2e/personas/administrator/languages.spec.ts
  tests/e2e/personas/administrator/partner-edit.spec.ts
  tests/e2e/personas/administrator/partners.spec.ts
  tests/e2e/personas/administrator/progress-reports.spec.ts
  tests/e2e/personas/administrator/user-edit.spec.ts
  tests/e2e/personas/fieldpartner/visibility.spec.ts
  tests/e2e/personas/fieldpartner/workflow-history.spec.ts
  tests/e2e/personas/intern/languages.spec.ts
  tests/e2e/personas/projectmanager/users.spec.ts
  tests/e2e/smoke/projects.spec.ts
  tests/e2e/support/auth.ts
  tests/e2e/support/coverage-report.ts
  tests/e2e/support/personas.ts
  tests/e2e/support/test.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Add FieldRegions, FieldZones, and Tools Playwright coverage
  tests/e2e/personas/administrator/field-regions.spec.ts
  tests/e2e/personas/administrator/field-zones.spec.ts
  tests/e2e/personas/administrator/tools.spec.ts
Due: eslint --ext .ts,.tsx --fix

Add Products and Locations Playwright coverage
  tests/e2e/personas/administrator/locations.spec.ts
  tests/e2e/personas/administrator/products.spec.ts
Due: eslint --ext .ts,.tsx --fix
