Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

add apostrophe
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Update Global Innovations to Growth Partners label (#1566)
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Tweak id link column
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Switch to new engagedName filter to not include project names
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Engagement Grid: Name -> Project, Language, Link columns (#1576)
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Reorder engagement columns
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

ensure calendar popper doesn't overflow
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix

Fix initial/default sorting column name missed in column split
  src/scenes/Partners/Detail/Tabs/Engagements/PartnerDetailEngagements.tsx
  src/scenes/Projects/List/EngagementsPanel.tsx
Due: eslint --ext .ts,.tsx --fix

Added partnership types
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: prettier --write

Add Partnership Type column
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix field value to be partnership.types
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Add multiSelectColumn
  src/components/Grid/index.tsx
  src/components/Grid/multiSelectColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

pull `createdAt` from API
  src/components/Comments/CommentsThreadList.graphql
Due: prettier --write

comment on popper props change
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix

Language: Replace all instances of Registry Of Dialects with Registry Of Language Varieties (#1574)
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add cancel edit button
  src/components/Comments/CommentEdit/CommentEdit.tsx
  src/components/Comments/CommentItem/CommentItem.tsx
Due: eslint --ext .ts,.tsx --fix

display menu button on replies
  src/components/Comments/CommentItem/CommentItem.tsx
Due: eslint --ext .ts,.tsx --fix

create date filters for data grid
  src/components/Grid/GridFilterInputNull.tsx
  src/components/Grid/dateColumn.tsx
  src/components/Grid/nullColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

create grid header add filter button
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/GridHeaderAddFilterButton.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust column defaults to always sort nulls last
  src/components/Grid/index.tsx
  src/components/Grid/sorting.ts
Due: eslint --ext .ts,.tsx --fix

Add `sortBy` column helper to get sort values without needing to compare
  src/components/Grid/sorting.ts
Due: eslint --ext .ts,.tsx --fix

Update enumColumn to use new sortBy helper
  src/components/Grid/enumColumn.tsx
Due: eslint --ext .ts,.tsx --fix

Fix empty values on ISO & ROLV to be null not empty string
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Project Country column having too many operators
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

render visual media
  src/scenes/ProgressReports/EditForm/Steps/Media/ImageField.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/progressReportMedia.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

extend `accept` prop to Dropzone
  src/components/form/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix

cleaner card for non-image media
  src/scenes/ProgressReports/EditForm/Steps/Media/ImageField.tsx
Due: eslint --ext .ts,.tsx --fix

HOTFIX: Render Visual Media in Quarterly Reports (#1581)
  src/components/form/Dropzone.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/ImageField.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/progressReportMedia.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Prevent Calendar Popper from Overflowing (#1577)
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor multiSelectColumn and move logic per Carson's review
  src/components/Grid/multiSelectColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

revised toSpliced
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

removed getColumnIndex method
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

Move PartnershipColumns and other review requests
  src/common/findIndexOrThrow.ts
  src/components/Grid/multiSelectColumn.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

Polish
  src/common/findIndexOrThrow.ts
  src/common/index.ts
  src/common/unmatchedIndex.ts
  src/components/Grid/index.tsx
  src/components/Grid/multiEnumColumn.tsx
  src/components/Grid/multiSelectColumn.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

Add Partner.projects.partnershipTypes column (#1575)
  src/common/index.ts
  src/common/unmatchedIndex.ts
  src/components/Grid/index.tsx
  src/components/Grid/multiEnumColumn.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
