Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add buttons for adding folder and uploading a file to files list view nav
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add default handling for Input & Duplicate server errors
  src/api/form-error-handling.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(api) new schema and fragmentMatcher
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Language): updated query, components, and story
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.generated.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.generated.ts
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update label
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(MemberListSummary.tsx): MemberSummaryItem interface includes id
  src/components/MemberListSummary/MemberListSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(MemberSummaryItem): when creating member summary item include id
  src/components/MemberListSummary/MemberListSummary.stories.tsx
  src/components/PartnershipSummary/PartnershipSummary.tsx
  src/components/ProjectMembersSummary/ProjectMembersSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectMemberItem.graphql): pull canRead canEdit fields
  src/components/ProjectMembersSummary/ProjectMemberItem.generated.ts
  src/components/ProjectMembersSummary/ProjectMemberItem.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(ProjectMemberSummary.tsx): filter out users without read access
  src/components/ProjectMembersSummary/ProjectMembersSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectMembersSummary.stories): add canRead and canEdit values on user
  src/components/ProjectMembersSummary/ProjectMembersSummary.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak summarizing members
  src/components/ProjectMembersSummary/ProjectMembersSummary.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update generated API types
  src/api/fragmentMatcher.generated.ts
  src/api/fragments/location.generated.ts
  src/api/scalars/scalars.generated.ts
  src/api/schema.generated.ts
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.generated.ts
  src/components/ProjectListItemCard/ProjectListItem.generated.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Projects/Create/CreateProject.generated.ts
  src/scenes/Projects/List/projects.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

show Project.modifiedAt
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Shrink updated at text to body2
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update generated API types. Replace product.type for now.
  src/api/fragmentMatcher.generated.ts
  src/api/scalars/scalars.generated.ts
  src/api/schema.generated.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.generated.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageForm.graphql): lang form fragment created
  src/api/operations.generated.ts
  src/scenes/Languages/LanguageForm/LangugeForm.generated.ts
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageForm): skeleton copied from Userform
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateLanguage): consumes new LangugaeForm
  src/scenes/Languages/Create/CreateLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageForm): add remaining fields
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateLanguage.tsx): remove number coersing because using new NumberField
  src/scenes/Languages/Create/CreateLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(validators.ts): add twoOrMoreChars validator
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(validators.ts): numberString charString validator
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageForm): add validators
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateLanguage): use correct props type
  src/scenes/Languages/Create/CreateLanguage.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateLanguageForm.tsx): delete old form
  src/scenes/Languages/Create/CreateLangaugeForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create mutations for uploading files and re-generate typings
  src/api/operations.generated.ts
  src/components/Upload/Upload.generated.ts
  src/components/Upload/Upload.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `react-dropzone` package
  package.json
  yarn.lock
Due: none

- Create skeleton \`Upload\` component and \`UploadContext\` - Include \`UploadProvider\` in nested app-level providers
  src/App.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Build out initially required actions for upload reducer - Update `UploadContext` with reducer and basic handling of user action
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create handler functions
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create `Context` folder in `Upload` component root folder, for tidiness - Create initial state, actions, typings, and reducer to handle state for file uploads
  src/components/Upload/Context/UploadContext.tsx
  src/components/Upload/Context/index.ts
  src/components/Upload/Context/uploadActions.ts
  src/components/Upload/Context/uploadInitialState.ts
  src/components/Upload/Context/uploadReducer.ts
  src/components/Upload/Context/uploadTypings.ts
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Add basic layout/styles to `Upload` component - Create stories file for `Upload` component
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change `files` array of upload state to `submittedFiles` to distinguish from later possible `addedFiles`
  src/components/Upload/Reducer/uploadInitialState.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Support for Upload Callback
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create `UploadItem` to display file upload progress - Style title bar and contents of `UploadManager`
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Support separate `queueId` and `uploadId` properties
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upload Manager skeleton
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Success/Error Handling and Callback Param
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `react-draggable` package to app
  package.json
  yarn.lock
Due: none

Remaining Upload Manager UI Wiring (for now)
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
