Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix submitting clean form with default config
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Recalculate project sensitivity when engagement is created
  src/api/index.ts
  src/api/sensitivity.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.graphql
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.tsx
  src/scenes/Engagement/LanguageEngagement/Create/recalculateSensitivity.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Rename Internship Engagement to Intern Engagement
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update type policies to automatically remove items from cache when their delete mutation is called
  src/api/typePolicies/deletes/deletes.codegen.ts
  src/api/typePolicies/deletes/handleDelete.ts
  src/api/typePolicies/typePolicies.base.ts
  src/api/typePolicies/typePolicies.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement engagement delete
  src/scenes/Engagement/Delete/DeleteEngagement.graphql
  src/scenes/Engagement/Delete/DeleteEngagement.tsx
  src/scenes/Engagement/Delete/index.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Create/recalculateSensitivity.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add sensitivity to lang eng story
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix DialogForm title & actions scrolling with body
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade & patch MUI date pickers to fix bugs
  package.json
  patches/mui-pickers.patch
  src/components/form/DateField.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Workaround for DateField inside of Dialogs
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix mui pickers config provider
  src/App.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump razzle 4.0.1-canary.9 -> 4.0.4
  package.json
  yarn.lock
Due: none

Bump most dependencies
  package.json
  src/components/files/FilePreview/RtfPreview.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/hooks/useQueryParams.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump notistack
  package.json
  yarn.lock
Due: none

Remove unused constate library
  package.json
  yarn.lock
Due: none

Replace FileNode.parents list on update, no merging
  src/api/typePolicies/typePolicies.base.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump react-pdf
  package.json
  patches/pdfjs-dist.patch
  src/components/files/FilePreview/PdfPreview.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump MUI
  package.json
  yarn.lock
Due: none

Fix Pdf type
  src/components/files/FilePreview/PdfPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump react-final-form to 6.5.3. Patch out index signatures which break mapped types
  package.json
  patches/react-final-form.patch
  yarn.lock
Due: none

Expand query string enum handling
  src/hooks/useQueryParams.ts
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Increase tooltip size by 2px and 4% more opaque background
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add sensitivity to project breadcrumb. Closes #471
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.graphql
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add tooltip to SensitivityIcon
  src/components/Sensitivity/SensitivityIcon.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added ProjectBreadcrumb fragment to ProjectBudget query
  src/scenes/Projects/Budget/ProjectBudget.graphql
Due: prettier --write

Fix scroll on budget details screen. Fixes #584
  src/components/Layout/ContentContainer.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix spacing on budget total
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add checkbox field for setting `hasExternalFirstScripture` value on `LanguageForm`
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add query fields and UI to display whether language has an engagement with a First Scripture or is marked as having an external First Scripture
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Query canRead/canEdit values for `firstScripture` and use to improve logic for `canRead` property of Boolean Property for First Scripture
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Swap reduce() with flatMap() which is more readable
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move to FirstScripture component
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.graphql
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
  src/scenes/Languages/Detail/FirstScripture/index.ts
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change server error messages to be more clear and concise
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move estimated submission tooltip placement so it doesn't interfere with date or redacted tooltip
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove ArrayItem in favor of [number]
  src/components/ProjectMembersSummary/ProjectMembersSummary.stories.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

DateField - show today & days outside current month. Allow same date selection.
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add a warning for non-prod environments
  src/scenes/Root/Root.tsx
  src/scenes/Root/useNonProdWarning.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Check if engagement exists on engagement workflow submit
  src/scenes/Engagement/EditEngagement/EngagementWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change project tab name
  src/scenes/Projects/List/ProjectList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update budget total in cache on record change
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add optimistic response for budget record change
  src/scenes/Projects/Budget/ProjectBudgetRecords.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
