Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove inline styling of wrapper `div`; Provide stronger typing
  src/components/files/FilePreview/RtfPreview.tsx
  typings/@iarna/rtf-to-html/index.d.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add comment explaining the necessity of the wrapper `div` element around the content in `RtfPreview`
  src/components/files/FilePreview/RtfPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectOverview.tsx): move engagement cards out of grid
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Copy patches to docker image before running yarn
  Dockerfile
Due: none

Skip CRA preflight check when building in docker
  Dockerfile
Due: none

Patch file-saver to skip HEAD requests to check CORS.
  package.json
  patches/file-saver.patch
  yarn.lock
Due: none

Ported file-saver to our src
  package.json
  patches/file-saver.patch
  src/components/files/hooks/useDownloadFile.tsx
  src/util/FileSaver.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add option to skip cors check
  src/components/files/hooks/useDownloadFile.tsx
  src/util/FileSaver.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add AutocompleteField (for use like SelectField)
  src/components/form/AutocompleteField.stories.tsx
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix AutocompleteFieldProps name
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix identity not being defined while AutocompleteField is executing
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove `endRow` and `endColumn` properties from cell-spanning data object, as they did not end up being used
  src/components/files/FilePreview/ExcelPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Display of merged cells in HTML for Excel Previews
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/SpreadsheetView.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix incorrect default value for AutocompleteField
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectOverview.graphql): include update mutation
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: prettier --write

feat(displayEnums.ts): display project step helper
  src/api/displayEnums.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(projectSteps.ts): add projectsteps constants
  src/api/projectSteps.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(UpdateProject.graphql): update mutation
  src/scenes/Projects/Update/UpdateProject.graphql
Due: prettier --write

feat:(rojects/Update): update dialog component
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/scenes/Projects/Update/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectOVerview.tsx): update project step dialog
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(UpdateProjectDialog.tsx): rename component to match file Loop through projectStepToStatusMap entries
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectOverview.tsx): rename import
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add typename to setting session to make apollo cache happy
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add entries & keys helpers that have strict keys
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix missing key warning
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change step to an autocomplete field
  src/api/projectSteps.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix AutocompleteField selectOnFocus to work with autoFocus
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Modify LookupField to support create dialog
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Film LookupField
  src/components/form/Lookup/Film/FilmField.stories.tsx
  src/components/form/Lookup/Film/FilmField.tsx
  src/components/form/Lookup/Film/FilmLookup.graphql
  src/components/form/Lookup/Film/index.ts
  src/components/form/Lookup/Product/ProductFields.stories.tsx
  src/components/form/Lookup/Product/ProductFields.tsx
  src/components/form/Lookup/Product/ProductLookup.graphql
  src/components/form/Lookup/Product/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Film/CreateFilm.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Film/CreateFilm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add LiteracyMaterial LookupField
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.stories.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialLookup.graphql
  src/components/form/Lookup/LiteracyMaterial/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Literacy Material/CreateLiteracyMaterial.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Literacy Material/CreateLiteracyMaterial.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add Song LookupField
  src/components/form/Lookup/Song/SongField.stories.tsx
  src/components/form/Lookup/Song/SongField.tsx
  src/components/form/Lookup/Song/SongLookup.graphql
  src/components/form/Lookup/Song/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Song/CreateSong.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Song/CreateSong.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add Story LookupField
  src/components/form/Lookup/Story/StoryField.stories.tsx
  src/components/form/Lookup/Story/StoryField.tsx
  src/components/form/Lookup/Story/StoryLookup.graphql
  src/components/form/Lookup/Story/index.ts
  src/components/form/Lookup/index.ts
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Story/CreateStory.graphql
  src/scenes/Engagement/LanguageEngagement/Product/Producibles/Story/CreateStory.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix LookupField getOptionLabel
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Only add free solo option if we aren't loading
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move LookupField props being passed down so they don't override ours
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix LookupField being opened when blurred
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

LookupField clearOnBlur=true
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

LookupField autoHighlight=true
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change to not import from '.'
  src/components/form/Lookup/Film/FilmField.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.tsx
  src/components/form/Lookup/Project/ProjectFields.tsx
  src/components/form/Lookup/Song/SongField.tsx
  src/components/form/Lookup/Story/StoryField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Internalize LookupField.freeSolo
  src/components/form/Lookup/Film/FilmField.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/Lookup/Song/SongField.tsx
  src/components/form/Lookup/Story/StoryField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
