Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Drag behavior and separate context for Upload Manager
  src/App.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItems.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `response` param from `handleFileUploadSuccess` function
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix import order error in `Root`
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change Upload Manager to being closed by default
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Re-create `Table` component created in a different PR that has not yet been merged
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `material-table` package to app
  yarn.lock
Due: none

Require 1.60.0 exact version of `material-table` to prevent bug in most recent version
  yarn.lock
Due: none

Basic Table of Files
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add logic to remove `FileVersion` results from display of project files
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add all required fields to `ProjectFiles` query and re-generate typings
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Formatting for Files table entries
  src/components/Formatters/index.ts
  src/components/Formatters/useFileSizeFormatter.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Project Files Skeleton
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Disable viewing folders not in current project
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Dynamic folder ID based on route
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add buttons for adding folder and uploading a file to files list view nav
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add breadcrumbs for current folder and parents
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up "Create Folder" button
  src/scenes/Projects/Files/CreateDirectory.tsx
  src/scenes/Projects/Files/CreateProjectFile.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Files/useProjectCurrentDirectory.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add `CreateProjectFileVersion` mutation to use when uploading a file from the project files scene
  src/scenes/Projects/Files/CreateProjectFile.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Change message displayed when no records are display in `Table` component to empty string
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Dropzone Field component and uploading files to project
  src/components/Upload/Dropzone.stories.tsx
  src/components/Upload/Dropzone.tsx
  src/components/Upload/index.ts
  src/components/form/Dropzone.stories.tsx
  src/components/form/Dropzone.tsx
  src/components/form/index.ts
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/UploadProjectFiles.tsx
  src/scenes/Root/Root.tsx
  src/scenes/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create reusable `UploadFilesForm`
  src/components/Upload/UploadFilesForm.tsx
  src/components/Upload/index.ts
  src/scenes/Projects/Files/UploadProjectFiles.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename `CreateDirectory` component to `CreateProjectDirectory`
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add fix for bug that causes Table to always have fixed columns instead of auto
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Post-upload error handling
  src/components/Upload/Upload.generated.ts
  src/components/Upload/Upload.graphql
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Rename icons used in menu for better clarity
  src/components/FileActionsMenu/FileActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use `type` instead of `category` property of item for determining whether to display text 'Directory' or 'File' when renaming
  src/components/FileActionsMenu/RenameFile.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up file/directory renaming
  src/components/FileActionsMenu/FileActionsMenu.tsx
  src/components/FileActionsMenu/RenameFile.tsx
  src/components/FileActionsMenu/index.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create `RenameFileNode` mutation and re-generate typings
  src/components/FileActionsMenu/FileActions.generated.ts
  src/components/FileActionsMenu/FileActions.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove History from File Actions Menu until it can be wired up
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `react-file-viewer` package to application and create type declaration for it
  global.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create `DeleteFile` dialog form and wire up to file actions menu UI
  src/components/FileActionsMenu/DeleteFile.tsx
  src/components/FileActionsMenu/FileActions.generated.ts
  src/components/FileActionsMenu/FileActions.graphql
  src/components/FileActionsMenu/index.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

File Download; File Component Organization
  src/components/files/FileActionsMenu/DeleteFile.tsx
  src/components/files/FileActionsMenu/FileActions.generated.ts
  src/components/files/FileActionsMenu/FileActions.graphql
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
  src/components/files/FileActionsMenu/RenameFile.tsx
  src/components/files/FileActionsMenu/index.ts
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/index.ts
  src/components/files/FilesOverviewCard/FilesOverviewCard.stories.tsx
  src/components/files/FilesOverviewCard/FilesOverviewCard.tsx
  src/components/files/FilesOverviewCard/index.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

File preview first pass
  src/components/FilePreview/FilePreview.tsx
  src/components/FilePreview/index.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Create `FileNodeInfo` fragment to encapsulate frequently used fields in `ProjectDirectory` query
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix incorrect `DialogForm` type parameter in `DeleteFile` component
  src/components/files/FileActionsMenu/DeleteFile.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update logic of `Dropzone` component to handle use cases where only one file is permitted to be uploaded at a time
  src/components/form/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

File Version UI
  src/components/Dialog/useDialog.tsx
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
  src/components/files/FileVersionItem/FileVersionItem.generated.ts
  src/components/files/FileVersionItem/FileVersionItem.graphql
  src/components/files/FileVersionItem/FileVersionItem.tsx
  src/components/files/FileVersionItem/index.ts
  src/components/files/index.ts
  src/components/files/useFileNodeIcon.ts
  src/scenes/Projects/Files/FileVersions.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add optional `multiple` prop to `Dropzone` field component
  src/components/Upload/Upload.graphql
  src/components/Upload/UploadFilesForm.tsx
  src/components/form/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Hooks folder for `files` components
  src/components/files/hooks/index.ts
  src/components/files/hooks/useDownloadFile.tsx
  src/components/files/hooks/useFileNodeIcon.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create new file version; Download file version
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
  src/components/files/FileVersionItem/FileVersionItem.generated.ts
  src/components/files/FileVersionItem/FileVersionItem.graphql
  src/components/files/FileVersionItem/FileVersionItem.tsx
  src/components/files/index.ts
  src/scenes/Projects/Files/FileVersions.tsx
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/UploadProjectFileVersion.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write
