Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

feat(CeremonyCard): show planned and type
  src/components/CeremonyCard/CeremonyCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(InternshipEngagementDetail): remove ceremony card title
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CeremonyCard.stories): show planned and type
  src/components/CeremonyCard/CeremonyCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageEngagementDetail.graphql): include ceremony
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LanguageEngagementDetail): show Ceremony Card
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix engagement list item urls
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.stories.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Merge fetching project breadcrumb into engagement query
  src/api/operations.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refactor CeremonyCard
  src/api/fragmentMatcher.generated.ts
  src/api/operations.generated.ts
  src/components/CeremonyCard/CeremonyCard.generated.ts
  src/components/CeremonyCard/CeremonyCard.graphql
  src/components/CeremonyCard/CeremonyCard.stories.tsx
  src/components/CeremonyCard/CeremonyCard.tsx
  src/components/CeremonyCard/CeremonyPlanned.tsx
  src/components/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move IDs out of data buttons since they are never editable
  src/components/DataButton/DataButton.tsx
  src/components/Formatters/useDateFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow FieldOverviewCard to omit viewLabel to hide action row
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add BooleanProperty component to display secured booleans as blue chips
  src/components/BooleanProperty/BooleanProperty.tsx
  src/components/BooleanProperty/index.ts
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor LanguageEngagementDetail
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/EngagementDetailLoading.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refactor MethodologiesCard
  src/api/approach.tsx
  src/api/displayEnums.ts
  src/api/index.ts
  src/api/methodologies.ts
  src/api/operations.generated.ts
  src/components/MethodologiesCard/MethodologiesCard.generated.ts
  src/components/MethodologiesCard/MethodologiesCard.graphql
  src/components/MethodologiesCard/MethodologiesCard.stories.tsx
  src/components/MethodologiesCard/MethodologiesCard.tsx
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

FieldOverviewCard flex height to match siblings
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor MentorCard
  src/components/MentorCard/MentorCard.generated.ts
  src/components/MentorCard/MentorCard.graphql
  src/components/MentorCard/MentorCard.tsx
  src/components/UserListItemCard/PortraitCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Next pass of InternshipEngagement
  src/components/CeremonyCard/CeremonyCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Moved Ceremony & Mentor cards to engagement scene folder
  src/api/operations.generated.ts
  src/scenes/Engagement/CeremonyCard/CeremonyCard.generated.ts
  src/scenes/Engagement/CeremonyCard/CeremonyCard.graphql
  src/scenes/Engagement/CeremonyCard/CeremonyCard.stories.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyCard.tsx
  src/scenes/Engagement/CeremonyCard/CeremonyPlanned.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/CeremonyCard/index.ts
  src/scenes/Engagement/EngagementDetailLoading.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.generated.ts
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.graphql
  src/scenes/Engagement/InternshipEngagement/MentorCard/MentorCard.tsx
  src/scenes/Engagement/InternshipEngagement/MentorCard/index.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update generated API types
  src/api/scalars/scalars.generated.ts
  src/api/schema.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

ProgressButton tweak spinner size to have more spacing
  src/components/ProgressButton/ProgressButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

ProgressButton fix spinner color on contained variant while not disabled
  src/components/ProgressButton/ProgressButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix language engagement name & completeDate label
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add isDialect field to create/edit language form
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Link engagement title to language/user detail page
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.generated.ts
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.generated.ts
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Allow rest of chip props to be passed through BooleanProperty
  src/components/BooleanProperty/BooleanProperty.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add PaperTooltip
  src/components/PaperTooltip/PaperTooltip.tsx
  src/components/PaperTooltip/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show least of these (boolean & reason) on language detail page
  src/api/operations.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Detail/LeastOfThese/LeastOfThese.generated.ts
  src/scenes/Languages/Detail/LeastOfThese/LeastOfThese.graphql
  src/scenes/Languages/Detail/LeastOfThese/LeastOfThese.tsx
  src/scenes/Languages/Detail/LeastOfThese/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Calculate total population of all language engagements for a project and display at top of Project Overview screen
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add typename to ProjectOverview query since we use it
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak population total summing
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable population tooltip while loading
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update graphql-codegen 1.13.2 -> 1.17.4
  package.json
  src/api/fragmentMatcher.generated.ts
  src/api/schema.generated.ts
  src/components/Session/session.generated.ts
  src/scenes/Authentication/ForgotPassword/ForgotPassword.generated.ts
  src/scenes/Authentication/Login/Login.generated.ts
  src/scenes/Authentication/Logout/logout.generated.ts
  src/scenes/Authentication/Register/register.generated.ts
  src/scenes/Authentication/ResetPassword/ResetPassword.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Languages/Create/CreateLanguage.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/List/languages.generated.ts
  src/scenes/Organizations/Create/CreateOrganization.generated.ts
  src/scenes/Organizations/Detail/OrganizationDetail.generated.ts
  src/scenes/Organizations/Edit/EditOrganization.generated.ts
  src/scenes/Organizations/List/Organizations.generated.ts
  src/scenes/Partnerships/Edit/EditPartnership.generated.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Projects/Create/CreateProject.generated.ts
  src/scenes/Projects/List/projects.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Edit/EditUser.generated.ts
  src/scenes/Users/List/users.generated.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add some comments & separation to codegen config
  codegen.yml
Due: none

Considered new preResolveTypes feature, but left it disabled
  codegen.yml
Due: none

Skipping operation's root __typename as they are worthless
  codegen.yml
  src/components/Session/session.generated.ts
  src/scenes/Authentication/ForgotPassword/ForgotPassword.generated.ts
  src/scenes/Authentication/Login/Login.generated.ts
  src/scenes/Authentication/Logout/logout.generated.ts
  src/scenes/Authentication/Register/register.generated.ts
  src/scenes/Authentication/ResetPassword/ResetPassword.generated.ts
  src/scenes/Engagement/Engagement.generated.ts
  src/scenes/Languages/Create/CreateLanguage.generated.ts
  src/scenes/Languages/Detail/LanguageDetail.generated.ts
  src/scenes/Languages/Edit/EditLanguage.generated.ts
  src/scenes/Languages/List/languages.generated.ts
  src/scenes/Organizations/Create/CreateOrganization.generated.ts
  src/scenes/Organizations/Detail/OrganizationDetail.generated.ts
  src/scenes/Organizations/Edit/EditOrganization.generated.ts
  src/scenes/Organizations/List/Organizations.generated.ts
  src/scenes/Partnerships/Edit/EditPartnership.generated.ts
  src/scenes/Partnerships/List/PartnershipList.generated.ts
  src/scenes/Projects/Create/CreateProject.generated.ts
  src/scenes/Projects/List/projects.generated.ts
  src/scenes/Projects/Members/List/ProjectMembers.generated.ts
  src/scenes/Projects/Overview/ProjectOverview.generated.ts
  src/scenes/Users/Create/CreateUser.generated.ts
  src/scenes/Users/Detail/UserDetail.generated.ts
  src/scenes/Users/Edit/EditUser.generated.ts
  src/scenes/Users/List/users.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Enable useTypeImports since we are TS 3.8+, though it's not yet working in all plugins
  codegen.yml
Due: none

Make note of typed-document-node plugin
  codegen.yml
Due: none

Update react-router alpha.5 -> beta.0
  package.json
  src/components/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update apollo client v3.0.0 beta.45 -> v3.1.1
  package.json
  src/api/ApolloProvider.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update MUI 4.10.1 -> 4.11.0 & lab alpha 55 -> 56
  package.json
  yarn.lock
Due: none
