Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Display location type enum
  src/api/displayEnums.ts
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: clean up edit location styling
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Locations/Create/): create location form
  src/scenes/Locations/Create/CreateLocation.graphql
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Create/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(/LocationFields.tsx): connect to create location
  src/components/form/Lookup/Location/LocationFields.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix:funding account card get rid of loading state
  src/components/FundingAccountCard/FundingAccountCard.stories.tsx
  src/components/FundingAccountCard/FundingAccountCard.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(validators.ts): add isAlpha and islength validator
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Lookup): create FundingAccount lookup field
  src/components/form/Lookup/FundingAccount/FundingAccountField.graphql
  src/components/form/Lookup/FundingAccount/FundingAccountField.tsx
  src/components/form/Lookup/FundingAccount/index.ts
  src/components/form/Lookup/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Adapt location field lookup, location form, create and edit to use funding account field
  src/components/form/Lookup/Location/LocationFields.tsx
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(FundingAccount): create funding account form and connect with funding account lookup field
  src/components/form/Lookup/FundingAccount/FundingAccountField.tsx
  src/scenes/Locations/LocationForm/FundingAccount/CreateFundingAccount.graphql
  src/scenes/Locations/LocationForm/FundingAccount/CreateFundingAccount.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LocationCard): card and story
  src/components/LocationCard/LocationCard.graphql
  src/components/LocationCard/LocationCard.stories.tsx
  src/components/LocationCard/LocationCard.tsx
  src/components/LocationCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(Locations): change ISO Alpha-3 Code to ISO Alpha-3 Country Code
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Locations): allow updating funding account on update location
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unneeded option label fn on FieldRegionField since it is the default
  src/components/form/Lookup/Location/LocationFields.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Passthrough margin prop on LookupField
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

LocationField remove initial values that the location field shouldn't guess on
  src/components/form/Lookup/Location/LocationFields.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off LocationForm
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off LocationCard
  src/components/LocationCard/LocationCard.graphql
  src/components/LocationCard/LocationCard.stories.tsx
  src/components/LocationCard/LocationCard.tsx
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update location routing for recent changes. Specifically the not found display
  src/scenes/Locations/Locations.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix editing funding account initial value
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update NumberField to allow grouping to be disabled
  src/components/form/NumberField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add server constraints to funding account number
  src/components/form/validators.ts
  src/scenes/Locations/LocationForm/FundingAccount/CreateFundingAccount.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off location details (at least for this pass)
  src/scenes/Locations/Detail/LocationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add create location to sidebar menu
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Languages/Detail/): add location card to lang detail
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Languages): AddLocationToLanguageForm component, gql, and connection to location detail
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/AddLocationToLanguageForm.tsx
  src/scenes/Languages/Edit/EditLanguage.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: allow delete location on location card
  src/components/LocationCard/LocationCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat: show loading animation on location card on delete
  src/components/LocationCard/LocationCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Don't show created at date when removal action is given. Tweak naming & styles.
  src/components/LocationCard/LocationCard.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/AddLocationToLanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectListItemCard.tsx): right content date justify to bottom
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade razzle canary 20 -> 29
  package.json
  patches/razzle.patch
  razzle.config.js
  yarn.lock
Due: none

Only run dependency check on server
  razzle.config.js
Due: none

Fix circular dependency with Locations & FundingAccount
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade yarn 2.3.3 -> 2.4.0
  .yarn/plugins/@yarnpkg/plugin-deduplicate.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-2.3.3.cjs
  .yarn/releases/yarn-2.4.0.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Filter yarn logs to not flood the build log (new feature 🎉)
  .yarnrc.yml
Due: none

Suppress clutter in gql-gen logs for CI/CD
  .github/workflows/ci.yml
  Dockerfile
Due: none

Forward new cookie values from API back to client
  src/App.test.tsx
  src/server/renderServerSideApp.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add padding to defined file card so name doesn't bump again context button
  src/components/DefinedFileCard/DefinedFileCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Improve search loading & no results
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add title to DefinedFileCard & tweak some styling for it
  src/components/AddItemCard/AddItemCard.tsx
  src/components/DefinedFileCard/DefinedFileCard.stories.tsx
  src/components/DefinedFileCard/DefinedFileCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Budget/ProjectBudget.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Passthrough margin prop on AutocompleteField
  src/components/form/AutocompleteField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
