Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Fix project workflow events `from` steps logic
  src/scenes/Projects/WorkflowEvents/WorkflowEventsList.tsx
Due: eslint --ext .ts,.tsx --fix

Fix DataGrid sorting when the initial order is desc
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

Fix project workflow events `from` steps logic (#1597)
  src/scenes/Projects/WorkflowEvents/WorkflowEventsList.tsx
Due: eslint --ext .ts,.tsx --fix

Prevent line clamp from happening below the cell boundary on the 2nd+ child
  src/scenes/Dashboard/ProgressReportsWidget/ExpansionCell.tsx
Due: eslint --ext .ts,.tsx --fix

Fix CalenderDate.now() returning DateTime
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix

Fix useDataGridSource external filters not applying on subsequent page queries
  src/components/Grid/useDataGridSource.tsx
Due: eslint --ext .ts,.tsx --fix

change the quarter pre-filter to minus 2 quarters
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Change Quarter pre-filter temporarily (#1598)
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Pass quarter into grid
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsCollapsedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor WidgetHeader / Decouple expandAction
  src/components/Widgets/ExpanderButton.tsx
  src/components/Widgets/WidgetHeader.tsx
  src/components/Widgets/index.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Allow report quarter to be selected
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Move current quarter state to url
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Maintain url query params when expanding
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor quarter state to its own file
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
  src/scenes/Dashboard/ProgressReportsWidget/useQuarterState.ts
Due: eslint --ext .ts,.tsx --fix

Suppress warning for first-child selector
  src/scenes/Dashboard/ProgressReportsWidget/ExpansionCell.tsx
Due: eslint --ext .ts,.tsx --fix

Fix pageLimitPagination not respecting non-`input` args
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

fix WebStorm `Start_All` task
  .idea/runConfigurations/Start_All.xml
Due: none

Fix hacky-inspect-dates somehow losing backing data properties if they are non-enumerable
  src/common/hacky-inspect-dates.ts
Due: eslint --ext .ts,.tsx --fix

Comments
  src/App.tsx
  src/common/array-helpers.ts
  src/components/Comments/CommentForm/CommentForm.tsx
  src/components/Comments/CommentForm/CreateComment.graphql
  src/components/Comments/CommentForm/UpdateComment.graphql
  src/components/Comments/CommentForm/index.ts
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentItem/CommentItemMenu.tsx
  src/components/Comments/CommentItem/DeleteComment.graphql
  src/components/Comments/CommentItem/comment.graphql
  src/components/Comments/CommentItem/index.ts
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/CommentThreadAccordion.tsx
  src/components/Comments/CommentThread/commentThread.graphql
  src/components/Comments/CommentThread/index.ts
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsBarContext.tsx
  src/components/Comments/CommentsThreadList.graphql
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ToggleCommentButton.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish
  src/App.tsx
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentItem/CommentItemMenu.tsx
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/CommentThreadAccordion.tsx
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsBarContext.tsx
  src/components/Comments/CommentsContext.tsx
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ToggleCommentButton.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix

Behind feature flag
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

Split Create/Update Comment out of CommentForm
  src/components/Comments/CommentForm/CommentForm.tsx
  src/components/Comments/CommentForm/CreateComment.tsx
  src/components/Comments/CommentForm/UpdateComment.tsx
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Show errors
  src/components/Comments/CommentsThreadList.tsx
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix

Fix loadMore of comment threads
  src/components/Comments/CommentsThreadList.graphql
Due: prettier --write

Use explicit setter for current comment resource open
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsContext.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Polish css layout & component boundaries
  src/components/Comments/CommentForm/CommentForm.tsx
  src/components/Comments/CommentForm/CreateComment.tsx
  src/components/Comments/CommentForm/UpdateComment.tsx
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/CommentThreadAccordion.tsx
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsThreadList.tsx
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Polish css layout
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Implement pagination for comments within a thread
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/LoadMoreComments.graphql
  src/components/Comments/CommentThread/commentThread.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Comments (#1567)
  src/App.tsx
  src/common/array-helpers.ts
  src/components/Comments/CommentForm/CommentForm.tsx
  src/components/Comments/CommentForm/CreateComment.graphql
  src/components/Comments/CommentForm/CreateComment.tsx
  src/components/Comments/CommentForm/UpdateComment.graphql
  src/components/Comments/CommentForm/UpdateComment.tsx
  src/components/Comments/CommentForm/index.ts
  src/components/Comments/CommentItem/CommentItem.tsx
  src/components/Comments/CommentItem/CommentItemMenu.tsx
  src/components/Comments/CommentItem/DeleteComment.graphql
  src/components/Comments/CommentItem/comment.graphql
  src/components/Comments/CommentItem/index.ts
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/LoadMoreComments.graphql
  src/components/Comments/CommentThread/commentThread.graphql
  src/components/Comments/CommentThread/index.ts
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsContext.tsx
  src/components/Comments/CommentsThreadList.graphql
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ToggleCommentButton.tsx
  src/components/List/useListQuery.ts
  src/components/RichText/RichTextField.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump Yarn 4.1.1 -> 4.5.0
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  package.json
Due: none

Reset CreateComment form on submit
  src/components/Comments/CommentForm/CreateComment.tsx
Due: eslint --ext .ts,.tsx --fix

Bump posthog
  yarn.lock
Due: none

Added notification severity to the isIncomplete function
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamNews/TeamNewsStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Do not disable SubmitButton when there are no fields & form validations errors
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix

Add required severity that blocks submit
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Polish incomplete list styles
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Mark Explanation of Progress as required
  src/scenes/ProgressReports/EditForm/Steps/ExplanationOfProgress/ExplanationOfProgress.tsx
Due: eslint --ext .ts,.tsx --fix

Put blocking functionality behind a feature flag
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add loading spinner and empty state to the comment thread list
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Missed some generated yarn sdk files for vscode
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/prettier/bin-prettier.js
Due: none
