Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

added pnpExtractionResult fragment
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.graphql
Due: prettier --write

Revised to utilize Preview component and added the PnPValidationIcon
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor: created reusable Preview component
  src/components/Preview.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

mostly working solution - still might need to tweak based on feedback
  src/components/RichText/MentionsTool.tsx
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

create pnp errors widget components
  src/hooks/useQuarterState.ts
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsCollapsedGrid.tsx
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsExpandedGrid.tsx
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsGrid.tsx
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsWidget.tsx
  src/scenes/Dashboard/PnpErrorsWidget/pnpErrorsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

saving work for now - adds @ user and their id
  src/components/RichText/MentionsTool.tsx
Due: eslint --ext .ts,.tsx --fix

properly tagged user - still some considerations that should be made
  src/components/RichText/MentionsTool.tsx
Due: eslint --ext .ts,.tsx --fix

fix linting stuffs
  src/components/RichText/MentionsTool.tsx
Due: eslint --ext .ts,.tsx --fix

revised schema to retrieve extraction results after engagement update
  src/scenes/Engagement/Files/UploadEngagementFiles.graphql
Due: prettier --write

remove row expansion buttons
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsExpandedGrid.tsx
Due: eslint --ext .ts,.tsx --fix

fix sorting and filtering
  src/scenes/Dashboard/PnpErrorsWidget/PnpErrorsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

feedback revisions: extract header into separate component and put preview back into progress and planning files
  src/components/Preview.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheet.tsx
  src/scenes/Engagement/LanguageEngagement/PlanningSpreadsheet/PlanningSpreadsheetHeader.tsx
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

Bump github actions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

asdf
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

create reusuable column components, restructure Grid folder
  src/components/Grid/ColumnTypes/booleanColumn.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/Grid/ColumnTypes/enumColumn.tsx
  src/components/Grid/ColumnTypes/multiEnumColumn.tsx
  src/components/Grid/ColumnTypes/textColumn.tsx
  src/components/Grid/Columns/IdColumn.tsx
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/Grid/RichTextCell.tsx
  src/components/Grid/index.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/VariantResponseCell.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

refactor gql
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

make ID column more flexible
  src/components/Grid/Columns/IdColumn.tsx
Due: eslint --ext .ts,.tsx --fix

implement new column components in grids
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

create PnpProblemsWidget and gql
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/PnpProblemsWidget/pnpProblemsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

name changes
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsWidget.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

shorten imports
  src/components/Grid/Columns/IdColumn.tsx
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/SensitivityColumn.tsx
Due: eslint --ext .ts,.tsx --fix

asdf
  src/common/types.ts
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/Columns/SensitivityColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Bump common lib
  package.json
  src/scenes/ProgressReports/PnpValidation/PnPExtractionProblems.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Display PnP problem doc link
  src/scenes/ProgressReports/PnpValidation/PnPExtractionProblems.tsx
  src/scenes/ProgressReports/PnpValidation/pnpExtractionResult.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Increase indentation to work around the layout weirdness with the severity icon
  src/scenes/ProgressReports/PnpValidation/PnPExtractionProblems.tsx
Due: eslint --ext .ts,.tsx --fix

fix sort
  src/scenes/Dashboard/PnpProblemsWidget/PnpProblemsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

remove unnecessary styling
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/PnpFileAndSummary.tsx
Due: eslint --ext .ts,.tsx --fix

add milestone graphql
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.graphql
Due: prettier --write

add milestone column
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

add milestone to engagement detail
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Prevent ProgressReportCard from overlapping ProgressSummaryCard (#1625)
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/PnpFileAndSummary.tsx
Due: eslint --ext .ts,.tsx --fix

Invalidate Language.firstScripture when Engagement.firstScripture changes
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Remove pnp-validation flag
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

add helper text, reduce input width
  src/components/form/SelectField.tsx
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

conditional and verbage change
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

text change
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor PnP validation components to be shared
  src/components/PnpValidation/PnPExtractionProblems.tsx
  src/components/PnpValidation/PnPReextractIconButton.tsx
  src/components/PnpValidation/PnpExtractionResultDialog.tsx
  src/components/PnpValidation/PnpValidationIcon.tsx
  src/components/PnpValidation/pnpExtractionResult.graphql
  src/components/files/FileActions/PreviewIconButton.tsx
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

ai assisted gql
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Engagement/LanguageEngagement/AIAssistedTranslation/AIAssistedTranslation.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
Due: prettier --write

add ai assist column to engagment table
  src/components/EngagementDataGrid/EngagementColumns.tsx
Due: eslint --ext .ts,.tsx --fix

add ai assist to engagement detail page
  src/components/BooleanProperty/BooleanProperty.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
