Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Adjust response's prompt to be secured to match API change
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Created Progress Report's Community Story step
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/CommunityStory/CommunityStoryStep.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/CommunityStory/index.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/VariantResponsesForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Update GQL to use community stories
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/CommunityStory/CommunityStoryStep.graphql
Due: prettier --write

Show rich text view while loading editor
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

Tweak types in RichTextField & DRY check for empty data
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

add some logging for now
  src/components/Changeset/ChangesetDiffContext.tsx
Due: eslint --ext .ts,.tsx --fix

add budgetrecord id and languageEngagement id
  src/components/Changeset/ProjectChangesetDiff.graphql
Due: prettier --write

take out getting the status of loading from the query. No longer debugging
  src/scenes/Projects/ProjectChangesetContext.tsx
Due: eslint --ext .ts,.tsx --fix

take out ChangedUnderProject stuff and just use the ChangesetDiff fragment
  src/components/Changeset/ChangesetContext.tsx
  src/components/Changeset/ChangesetDiffContext.tsx
  src/components/Changeset/ProjectChangesetDiff.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

move Projectchangesetdiff to ProjectChangesetDiffs. This query will definitely have to change...I'm thinking most likely it will go away in the future
  src/common/fragments/changeset.graphql
Due: prettier --write

query for parent's id for a changeset aware object
  src/common/fragments/identity.graphql
Due: prettier --write

query for props of project's children, and take out the ProjectchangeRequest stuff because we query for that in the ChangestBanner piece
  src/components/Changeset/ProjectChangesetDiff.graphql
Due: prettier --write

make a wrapper component that queries for the diff of project and provides that to it's children (which would be what's returned from ProjectOverview).... Not sure if this is even needed...
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/ProjectChangesetDiff.tsx
Due: eslint --ext .ts,.tsx --fix

do some minor cleanup
  src/components/Changeset/ChangesetChildrenBadge.tsx
Due: eslint --ext .ts,.tsx --fix

Add product progress for all variants to cache on product create
  src/common/fragments/index.ts
  src/common/fragments/variant.graphql
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/addProductProgress.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add variant as a key field of ProductProgress
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Products/Detail/Progress/ProductProgress.graphql
  src/scenes/Products/ProgressRefsRelatingToEngagement.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

added Progress step
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/StepContainer.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/ProgressStep/index.tsx
  src/scenes/ProgressReports/Detail/TemporarySteps.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

made drawer container 100% width
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

changed All reports button to 'Back'
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/ProgressReportDrawerHeader.tsx
Due: eslint --ext .ts,.tsx --fix

set PromptVariantStep maxWidth to md breakpoint
  src/scenes/ProgressReports/Detail/ProgressReportDrawer/Steps/PromptVariant/PromptVariantStep.tsx
Due: eslint --ext .ts,.tsx --fix

moved progress edit page to `EditFom` folder
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/EditForm/InstructionsDialog.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.graphql
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/RoleIcon.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/NextStepButton.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/index.tsx
  src/scenes/ProgressReports/EditForm/colorPalette.tsx
  src/scenes/ProgressReports/EditForm/index.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

made ProductTable editable
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

removed the AdditionalNotes step for now
  src/scenes/ProgressReports/Detail/TemporarySteps.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix

updated RoleIcon to accept sx props
  src/scenes/ProgressReports/EditForm/RoleIcon.tsx
Due: eslint --ext .ts,.tsx --fix

changed NewProgressReportCard text to 'Edit' instead of 'Add'
  src/scenes/ProgressReports/Detail/NewProgressReportCard.tsx
Due: eslint --ext .ts,.tsx --fix

added cumulativeSummary to currentReport
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.graphql
Due: prettier --write

fix eslint error in RichTextField
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

set custom tools for VariantResponses
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
Due: eslint --ext .ts,.tsx --fix

replaced instructions text with button
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
Due: eslint --ext .ts,.tsx --fix

extended pagination on ProductTable
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

renamed Submit prompt button to 'Save Prompt'
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptsForm.tsx
Due: eslint --ext .ts,.tsx --fix

added extended header component to ProductTable
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

extended sx to ProgressSummaryCard
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
Due: eslint --ext .ts,.tsx --fix

finalizing ProgressStep before PR
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

`extendedHeader` should optional
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

give the ToggleButton labels a bit more right padding
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
Due: eslint --ext .ts,.tsx --fix

renamed some fragments for the Progress Report Edit Form
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptVariantStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/PromptsForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesAccordion.tsx
  src/scenes/ProgressReports/EditForm/Steps/PromptVariant/VariantResponsesForm.tsx
  src/scenes/ProgressReports/ProgressReportContext.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

revert lint fix on RichTextField
  src/components/RichText/RichTextField.tsx
Due: eslint --ext .ts,.tsx --fix

changed ProgressReportContext to be local to EditForm
  src/App.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportSidebar.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/StepContainer.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/NextStepButton.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamHighlight/TeamHighlightStep.tsx
Due: eslint --ext .ts,.tsx --fix

removed useless console.log and added `rowsPerPageOptions`
  src/scenes/ProgressReports/Detail/ProductTable.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
