Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix
"**/*.graphql":
  - prettier --write

Only show <CreateComment /> if canCreate
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/commentThread.graphql
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsThreadList.graphql
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

initial draft to add cumulative progress column
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsCollapsedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Stop coupling color to typography
  src/scenes/ProgressReports/List/ProgressReportsTable.tsx
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix

text.primary #3c444e -> 75% black
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

text.secondary #8f928b -> 60% black (MUI default)
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Remove all caps from input labels
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Card elevation 8 -> 2 / Paper 1 -> 2
  src/scenes/ProgressReports/EditForm/ProgressReportStepper.tsx
  src/scenes/ProgressReports/EditForm/Steps/VariantAccordion.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

IconButton default size large -> medium (follow MUI/MD)
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

AppBar elevation 1 -> 2
  src/scenes/Root/Header/Header.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Change primary color
  src/components/Changeset/PropertyDiff.tsx
  src/theme/overrides.ts
  src/theme/palette.ts
Due: eslint --ext .ts,.tsx --fix

Change Dashboard card to use the new standard style
  src/components/Widgets/Widget.tsx
Due: eslint --ext .ts,.tsx --fix

refactor to utilize existing components
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryStats.tsx
  src/scenes/ProgressReports/Detail/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

removed commented out code
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Only show <CreateComment /> if canCreate (#1601)
  src/components/Comments/CommentThread/CommentThread.tsx
  src/components/Comments/CommentThread/commentThread.graphql
  src/components/Comments/CommentsBar.tsx
  src/components/Comments/CommentsThreadList.graphql
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Change Link to always underline
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/PnpValidation/PnPExtractionProblems.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix

Fix ProgressReportGrid Link column centering when expanded
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Stop trying to remove from projectMembers query that doesn't exist anymore
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix

Fix I think a mistake in key args skipping single arg
  src/api/schema/typePolicies/lists/page-limit-pagination.ts
Due: eslint --ext .ts,.tsx --fix

Avoid `changeset: null` in Apollo cache
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Changeset/useChangesetAwareIdFromUrl.ts
Due: eslint --ext .ts,.tsx --fix

Change the comment badge to only be thread count
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Change the comment badge color to primary
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

Move fetching thread total into button
  src/components/Comments/CommentsContext.tsx
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ThreadCount.graphql
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

GQL commentThreads -> Commentable.commentThreads
  src/components/Comments/CommentsThreadList.graphql
  src/components/Comments/CommentsThreadList.tsx
  src/components/Comments/ThreadCount.graphql
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Change comment threads to be sorted desc
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Only load comments if comments sidebar is open
  src/components/Comments/CommentsThreadList.tsx
Due: eslint --ext .ts,.tsx --fix

Only go to network for thread count if sidebar is closed
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

Add tooltip for comment toggle
  src/components/Comments/ToggleCommentButton.tsx
Due: eslint --ext .ts,.tsx --fix

Revert "removed commented out code"
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Revert "refactor to utilize existing components"
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/progressReportsDataGridRow.graphql
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryStats.tsx
  src/scenes/ProgressReports/Detail/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

expose `pollInterval` from `useListQuery`
  src/components/List/useListQuery.ts
Due: eslint --ext .ts,.tsx --fix

create Notification gql files
  src/components/NotificationsCenter/NotificationList.graphql
  src/components/NotificationsCenter/ReadNotification.graphql
  src/components/NotificationsCenter/notification.graphql
Due: prettier --write

create Notification component
  src/components/NotificationsCenter/Notification.tsx
Due: eslint --ext .ts,.tsx --fix

use NotificationCenter
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix

create NotificationCenter component
  src/components/NotificationsCenter/NotificationsCenter.tsx
Due: eslint --ext .ts,.tsx --fix

Create our own useSet hook
  src/hooks/index.ts
  src/hooks/useSet.ts
Due: eslint --ext .ts,.tsx --fix

Update comments to use our useSet
  src/components/Comments/CommentsContext.tsx
Due: eslint --ext .ts,.tsx --fix

Allow multiple rows to be expanded
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
Due: eslint --ext .ts,.tsx --fix

Split expansion state to be independent of selected
  src/scenes/Dashboard/ProgressReportsWidget/ExpansionCell.tsx
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/expansionState.tsx
Due: eslint --ext .ts,.tsx --fix

Add expand/collapse all buttons
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsExpandedGrid.tsx
  src/scenes/Dashboard/ProgressReportsWidget/expansionState.tsx
Due: eslint --ext .ts,.tsx --fix

Fix Quarter Select comparison of current value to available options
  src/scenes/Dashboard/ProgressReportsWidget/ProgressReportsWidget.tsx
Due: eslint --ext .ts,.tsx --fix
