Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Remove completed upload from manager when closing it
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/UserActionsMenu/UserActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update `collapsed` className used in `UploadManager` to use mui-style nesting
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove all remaining generated typings files
  src/components/Upload/Upload.generated.ts
  src/components/files/FileActionsMenu/FileActions.generated.ts
  src/components/files/FileVersionItem/FileVersionItem.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.generated.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove DialogState interface replace usage with existing DialogProps
  src/components/Dialog/useDialog.tsx
  src/scenes/Projects/Files/FileVersions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable eslint entirely from CRA start/build
  .github/workflows/ci.yml
  config-overrides.js
  package.json
Due: none

fix(LanguageDetail.tsx): make project and location grid containers span entire grid row
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectListItemCard): show engagement count
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(LanguageEngagementListItemCard): show ethnologue code same as ROD number
  src/components/DisplaySimpleProperty/DisplaySimpleProperty.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update eslint & config
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

Disable eslint entirely from CRA start/build
  .eslintrc.yml
Due: none

Apply auto fixes for new lint rules
  src/api/form-error-handling.ts
  src/components/BudgetOverviewCard/BudgetOverviewCard.tsx
  src/components/Formatters/formatFileSize.ts
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/MemberListSummary/MemberListSummary.stories.tsx
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/components/Upload/useUploadFile.ts
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
  src/components/form/CheckboxesField.tsx
  src/components/form/FieldSpy.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Location/LocationFields.tsx
  src/components/form/Lookup/Organization/OrganizationField.tsx
  src/components/form/Lookup/Product/ProductFields.tsx
  src/components/form/Lookup/Project/ProjectFields.tsx
  src/components/form/Lookup/User/UserField.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Yes yes much hack
  src/util/hacky-inspect-dates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Handle floating promises
  src/components/Dialog/DialogForm.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/useUploadFile.ts
  src/scenes/Authentication/Logout/Logout.tsx
  src/scenes/Organizations/Edit/EditOrganization.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Optional chain shortcut
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace object types with more appropriate ones
  src/components/Table/Table.tsx
  src/components/form/SubmitButton.tsx
  src/components/form/decorators.ts
  src/components/form/validators.ts
  src/hooks/useQueryParams.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Patch react-dropzone to fix types
  package.json
  patches/react-dropzone.patch
  yarn.lock
Due: none

Patch final form types
  package.json
  patches/final-form.patch
  src/components/form/decorators.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix unnecessary conditions (some code changes, some type changes)
  src/api/form-error-handling.ts
  src/components/MemberListSummary/MemberListSummary.tsx
  src/components/ProgressButton/ProgressButton.tsx
  src/components/files/hooks/useFileNodeIcon.ts
  src/components/form/CheckboxesField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Projects/Files/useProjectCurrentDirectory.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable restrict-template-expressions for now. Can be fixed later.
  .eslintrc.yml
Due: none

Skip CRA preflight checks
  .env
Due: none

Replace some eslint disable comments with better fixes
  src/index.tsx
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show population OR end date on language engagement card
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(anguageEngagementListItemCard.tsx): show population or enddate on right
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectListItemCard.tsx): show department id
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update react-dropzone which has our patched merged
  package.json
  patches/react-dropzone.patch
  yarn.lock
Due: none

Patch material-table types to correct Icons
  package.json
  patches/material-table.patch
  src/components/Table/Table.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move sorting arrow to left side of label when right aligned
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak column data mapping
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add EditCell to material-table types
  patches/material-table.patch
  yarn.lock
Due: none

Define icons only once
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Material-table has row hovering builtin, no need for a custom theme
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow our Table to pass-through all props to material-table
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move upload files & create folder button to table actions
  src/components/Table/Table.tsx
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix react key warning on new version menu item
  src/components/files/FileActionsMenu/FileActionsMenu.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `react-file-viewer` package to application and create type declaration for it
  global.d.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

File Version UI
  src/components/files/index.ts
  src/components/files/useFileNodeIcon.ts
  src/scenes/Projects/Files/FileVersions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove `react-file-viewer` and `FilePreview` component
  global.d.ts
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

File Download; File Component Organization
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Revert "Remove `react-file-viewer` and `FilePreview` component"
  global.d.ts
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create `PdfPreview` component and use in `FilePreview` instead of default
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
