Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Pin CI to Node 24.14.1 (#1835)
  .github/actions/setup/action.yml
Due: none

Replace Language.publicName with displayName.value
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/form/Lookup/Language/LanguageField.test.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Replace Language.publicName with displayName.value (#1834)
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/form/Lookup/Language/LanguageField.test.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.test.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguagesSection.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawerHeader.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/StatusHistory/StatusHistory.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add Partner People grid with point-of-contact management
  src/components/Grid/GridFilterInputBoolean.tsx
  src/components/Grid/useDataGridSource.tsx
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/People/AddPersonToPartnerForm.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailPeople.tsx
  src/scenes/Partners/Detail/Tabs/People/PartnerDetailsPeople.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Implement delete functionality for languages, partners, and users with corresponding UI components
  src/common/fragments/user.graphql
  src/scenes/Languages/Delete/DeleteLanguage.graphql
  src/scenes/Languages/Delete/DeleteLanguage.tsx
  src/scenes/Languages/Delete/index.ts
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Partners/Delete/DeletePartner.graphql
  src/scenes/Partners/Delete/DeletePartner.tsx
  src/scenes/Partners/Delete/index.ts
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Users/Delete/DeleteUser.graphql
  src/scenes/Users/Delete/DeleteUser.tsx
  src/scenes/Users/Delete/index.ts
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Revert out-of-scope changes to separate PRs
  src/api/seed/useRev79Communities.ts
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/PartnerNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/QuickFilters.tsx
  src/components/Grid/Toolbar.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/DashboardLayout.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

Fix lint warning in GridFilterInputBoolean renderValue
  src/components/Grid/GridFilterInputBoolean.tsx
Due: eslint --ext .ts,.tsx --fix

feat: full-screen mobile drawer with close button
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Sidebar/SidebarContent.tsx
Due: eslint --ext .ts,.tsx --fix

feat: persist desktop sidebar open state in localStorage
  src/scenes/Root/navOpenState.test.ts
  src/scenes/Root/navOpenState.ts
Due: eslint --ext .ts,.tsx --fix

Update src/scenes/Partners/Delete/DeletePartner.tsx
  src/scenes/Partners/Delete/DeletePartner.tsx
Due: eslint --ext .ts,.tsx --fix

Update src/scenes/Languages/Delete/DeleteLanguage.tsx
  src/scenes/Languages/Delete/DeleteLanguage.tsx
Due: eslint --ext .ts,.tsx --fix

fix linting error introduced when committing code rabbit's generated fix for the aria labels
  src/scenes/Languages/Delete/DeleteLanguage.tsx
  src/scenes/Partners/Delete/DeletePartner.tsx
Due: eslint --ext .ts,.tsx --fix

Surface narrative reports on Multiplication engagements
  src/components/PeriodicReports/PeriodicReport.graphql
  src/components/PeriodicReports/PeriodicReportRow.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/components/ProgressReportsOverviewCard/NarrativeReportsOverviewCard.tsx
  src/components/ProgressReportsOverviewCard/ProgressReportOverview.graphql
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/ProgressReports/List/NarrativeReportListPage.tsx
  src/scenes/ProgressReports/List/ProgressReportListItem.graphql
  src/scenes/ProgressReports/List/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Update Apollo cache when deleting a file version
  src/components/files/FileActions/DeleteFile.tsx
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileVersions.tsx
Due: eslint --ext .ts,.tsx --fix

Add Primary Partner column to Projects data grid
  src/components/Grid/Columns/PrimaryPartnerColumn.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix primary partner project grid data
  src/components/Grid/Columns/PrimaryPartnerColumn.tsx
  src/components/ProjectDataGrid/projectDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

test(grid): add PrimaryPartnerColumn unit tests
  src/components/Grid/Columns/PrimaryPartnerColumn.test.tsx
Due: eslint --ext .ts,.tsx --fix

test(grid): fix PrimaryPartnerColumn test typing
  src/components/Grid/Columns/PrimaryPartnerColumn.test.tsx
Due: eslint --ext .ts,.tsx --fix

Add tests for UpdateProjectDialog and LocationDetail components
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/scenes/Locations/Detail/LocationDetail.test.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.test.tsx
Due: eslint --ext .ts,.tsx --fix

Add marketing region override support to project overview and update dialog
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix import path for MarketingRegionField in LocationForm component
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor marketing region handling in ProjectOverview and UpdateProjectDialog components
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add Marketing Region functionality to location components and Project Details
  src/common/fragments/location.graphql
  src/components/LocationCard/LocationCard.tsx
  src/components/LocationDataGrid/LocationColumns.tsx
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/components/form/Lookup/Location/MarketingRegionField.tsx
  src/components/form/Lookup/Location/MarketingRegionLookup.graphql
  src/components/form/Lookup/Location/index.ts
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Simplify marketing region lookup and detail display
  src/common/fragments/location.graphql
  src/components/LocationCard/LocationCard.tsx
  src/components/LocationDataGrid/LocationColumns.tsx
  src/components/form/Lookup/Location/MarketingRegionField.tsx
  src/components/form/Lookup/Location/MarketingRegionLookup.graphql
  src/components/form/Lookup/LookupField.tsx
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Consume calculated Project.marketingRegion field
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Restore type cast for createdAt in LocationDetail test fixture
  src/scenes/Locations/Detail/LocationDetail.test.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor marketing region tests to behavior-focused style
  src/components/form/Lookup/Location/MarketingRegionField.test.tsx
  src/scenes/Locations/Detail/LocationDetail.test.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.test.tsx
Due: eslint --ext .ts,.tsx --fix

AGENTS.md: add patterns for domain logic, shared infra, and tests
  AGENTS.md
Due: none

Break circular dependency in PeriodicReports modules
  src/components/PeriodicReports/PeriodicReportRow.tsx
  src/components/PeriodicReports/PeriodicReportsTable.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/components/PeriodicReports/fileField.ts
  src/scenes/Projects/Reports/UpdatePeriodicReportDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Add Tools list page with sidebar nav and Create menu entry
  src/components/ToolDataGrid/ToolColumns.tsx
  src/components/ToolDataGrid/index.ts
  src/components/ToolDataGrid/toolDataGridRow.graphql
  src/scenes/Root/Creates/Creates.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Tools/List/ToolGrid.tsx
  src/scenes/Tools/List/ToolList.tsx
  src/scenes/Tools/List/index.ts
  src/scenes/Tools/List/tools.graphql
  src/scenes/Tools/Tools.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat: make data grid toolbar and filters responsive on mobile
  src/components/Grid/DefaultDataGridStyles.tsx
  src/components/Grid/QuickFilters.tsx
  src/components/Grid/Toolbar.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Partners/List/PartnerList.tsx
  src/scenes/Projects/List/ProjectList.tsx
  src/scenes/Users/List/UserList.tsx
Due: eslint --ext .ts,.tsx --fix

fix: update breakpoint for responsive layout in Toolbar component
  src/components/Grid/Toolbar.tsx
Due: eslint --ext .ts,.tsx --fix

feat: make Name columns responsive with minWidth floor
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/Grid/Columns/PartnerNameColumn.tsx
  src/components/Grid/Columns/ProjectNameColumn.tsx
  src/components/Grid/Columns/UserNameColumn.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

feat: responsive dashboard layout and widget sizing
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/DashboardLayout.tsx
Due: eslint --ext .ts,.tsx --fix

feat: show full name in profile menu on mobile
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
Due: eslint --ext .ts,.tsx --fix

refactor: simplify PrimaryPartnerColumn tests to follow AGENTS.md pattern
  src/components/Grid/Columns/PrimaryPartnerColumn.test.tsx
Due: eslint --ext .ts,.tsx --fix

Break circular dependency in LocationForm → Lookup barrel
  src/scenes/Locations/Detail/LocationDetail.test.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
Due: eslint --ext .ts,.tsx --fix

fix failing type-check
  src/components/Grid/Columns/PrimaryPartnerColumn.test.tsx
Due: eslint --ext .ts,.tsx --fix

Create engagements using ai widget
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/Dashboard.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIGrid.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/EngagementsUsingAIWidget.tsx
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

reorganize engagement data grid fragments
  src/components/EngagementDataGrid/engagementDataGridRow.graphql
  src/scenes/Dashboard/EngagementsUsingAIWidget/engagementsUsingAIDataGridRow.graphql
Due: prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
