Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Move product details/edit to top level route
  src/components/ProductCard/ProductCard.graphql
  src/components/ProductCard/ProductCard.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/Products.tsx
  src/scenes/Products/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Pass through changeset IDs in product & progress report queries
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Invalidate current & next progress reports due when project date range changes
  src/scenes/Projects/DateRangeCache/updateCachedDateRanges.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak paths to avoid circular dep imports
  src/components/Dialog/DialogForm.tsx
  src/scenes/Projects/useProjectId.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Redirect directly to search results page if it is the only result
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade router 6-beta.0 -> 6.2.2 (huge)
  package.json
  yarn.lock
Due: none

Replace imports of react-router with react-router-dom
  src/components/Changeset/ChangesetContext.tsx
  src/components/Routing/Navigate.tsx
  src/components/Routing/decorators.stories.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Altered .gitignore to now ignore .vscode/settings.json; removed .vscode/settings.json from repo.
  .gitignore
  .vscode/settings.json
Due: none

Remove entry entirely.
  .gitignore
Due: none

Move LogRocket.identify call to separate hook
  src/components/Session/Session.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move global css to our own baseline
  src/App.tsx
  src/scenes/Root/CssBaseline.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move app metadata to its own file
  src/scenes/Root/AppMetadata.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move main layout to its own component
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move login requirement/redirect to its own hook
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/index.ts
  src/scenes/Authentication/useAuthRequired.tsx
  src/scenes/Root/MainLayout.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor auth layout components out of Authentication file
  src/scenes/Authentication/AuthContent.tsx
  src/scenes/Authentication/AuthLayout.tsx
  src/scenes/Authentication/AuthWaiting.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPassword.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/ForgotPassword/ForgotPasswordSuccess.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
  src/scenes/Authentication/Logout/Logout.tsx
  src/scenes/Authentication/Register/RegisterForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordSuccess.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move authentication routes into <Root>
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix location type on splicePath
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Revert useSearchParams setter workaround
  src/hooks/useQueryParams.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak List/Menu ItemLink
  src/components/Routing/ListItemLink.tsx
  src/components/Routing/MenuItemLink.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak ChangesetContext param searching
  src/components/Changeset/ChangesetContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix p > hr in preset inventory tooltip
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade react-helmet-async
  package.json
  src/server/indexHtml.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move <base> to index html
  src/scenes/Root/AppMetadata.tsx
  src/server/indexHtml.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change <base> to use PUBLIC_URL
  src/server/indexHtml.ts
  src/server/server.ts
  src/util/array-helpers.ts
  src/util/index.ts
  src/util/urls.ts
  typings/declarations.d.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable x-powered-by header with helmet
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Define root routes and metadata with relative paths
  src/scenes/Root/AppMetadata.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change express routes to be relative & apply base path in single spot
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add PUBLIC_URL (path prefix) to router basename now that it's available
  src/client.tsx
  src/server/renderServerSideApp.tsx
  src/server/server.ts
  src/util/urls.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix public url handling in service worker
  src/server/renderServerSideApp.tsx
  src/serviceWorker.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add product placeholder field
  src/scenes/Products/Detail/ProductDetail.graphql
  src/scenes/Products/Detail/ProductDetailHeader.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductForm/PlaceholderDescriptionSection.tsx
  src/scenes/Products/ProductForm/ProductForm.graphql
  src/scenes/Products/ProductForm/ProductFormFields.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Resolve static files to always be the public/ dir next to server.js
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update js chunks to be based on PUBLIC_URL in production
  package.json
  razzle.config.js
  src/server/indexHtml.ts
  src/server/renderServerSideApp.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix useLocation.state no longer being generic
  src/components/Routing/useLocationState.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix IntersectionObserver in tests
  src/setupTests.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade Yarn 3.1.1 -> 3.2.0
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Move patches to .yarn which is the standard spot for them
  .dockerignore
  .gitignore
  .yarn/patches/final-form-calculate.patch
  .yarn/patches/final-form.patch
  .yarn/patches/graphql-codegen-plugin-helpers.patch
  .yarn/patches/graphql-tools-utils.patch
  .yarn/patches/msg-reader.patch
  .yarn/patches/mui-pickers.patch
  .yarn/patches/react-final-form.patch
  Dockerfile
  package.json
  yarn.lock
Due: none

Re-enable yarn network logs outside of docker
  .yarnrc.yml
  Dockerfile
Due: none

Update TS v4.6, lint config
  package.json
  yarn.lock
Due: none

Fix type problems from upgrade
  src/components/form/AlphaLowercaseField.tsx
  src/scenes/Locations/Create/CreateLocation.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Partners/Create/CreatePartner.tsx
  src/scenes/Products/ProductForm/VersesCountField.tsx
  src/scenes/Users/Create/CreateUser.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade final form
  .yarn/patches/final-form.patch
  .yarn/patches/react-final-form.patch
  package.json
  yarn.lock
Due: none
