Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Allow clean submit for lookup field create dialogs
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(CreateProjectMember.graphql) create proj member mutation
  src/scenes/Projects/Members/Create/CreateProjectMember.graphql
Due: prettier --write

feat(UserLookup.graphql): get roles in user lookup
  src/components/form/Lookup/User/UserLookup.graphql
Due: prettier --write

feat(CreateProjectMember.tsx) create proj member dialog component
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectMembersList.tsx): consumes create proj member component
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unneeded styles & props & generated lists
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak form types & values
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak title & add helper text for why roles is disabled
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace FormSpy & FieldGroup usage in CreateProjectMember with new DialogForm functionality
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add decorator to reset roles to empty list on user change
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: deprecate project deptId to departmentId
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix: remove all ethnologue id
  src/components/ProjectMemberCard/ProjectMemberCard.stories.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Connect create user form to user field
  src/components/form/Lookup/User/UserField.tsx
  src/scenes/Users/Create/CreateUser.graphql
  src/scenes/Users/Create/CreateUser.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update logic for checking whether `item` passed in `show` function of `useDialog` hook is a `React.SyntheticEvent` to first check whether `item` is defined
  src/components/Dialog/useDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename sponsorDate & remove begin fiscal year
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update all instances of `PartnershipFundingType` to `FinancialReportingType`, to match API change
  src/api/displayEnums.ts
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change `Parternship.fundingType` to `Partnership.financialReportingType`, to match API change
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Edit/EditPartnership.graphql
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update labels
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(UpdateProjectMember.graphql): get user roles query
  src/scenes/Projects/Members/Update/UpdateProjectMember.graphql
Due: prettier --write

feat(UpdateProjectMember.tsx): show available and default user roles
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectMember.graphql): get user id
  src/components/ProjectMemberCard/ProjectMember.graphql
Due: prettier --write

feat(UpdateProjectMember.graphql): update mutation
  src/scenes/Projects/Members/Update/UpdateProjectMember.graphql
Due: prettier --write

fix(Update): UpdateProjectMember component and export
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
  src/scenes/Projects/Members/Update/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(ProjectMemberList.tsx): consume UpdateProjectMember dialog and pass through props
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(UpdateProjectMember.tsx) import from roleList generated enum
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(LanguageEngagementListItemCard.tsx): add key to mapping
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(UpdateProjectMember.tsx): add loader
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(UpdateProjectMember.graphql): delete mutation
  src/scenes/Projects/Members/Update/UpdateProjectMember.graphql
Due: prettier --write

fix(UpdateProjectMember.tsx): add delete button and functionality
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectMembersList.tsx): pass through projectId to update project member
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Header.tsx): give slight bottom margin to header and align items to top
  src/scenes/Root/Header/Header.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update codeowners
  .github/CODEOWNERS
Due: none

Add deep equality and array value length functions
  src/components/form/util.ts
  src/components/form/validators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add VersesField internals
  src/util/biblejs/bibleBooks.ts
  src/util/biblejs/index.ts
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add VersesField
  src/components/form/VersesField.stories.tsx
  src/components/form/VersesField.tsx
  src/components/form/validators.ts
  src/util/biblejs/reference.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Require email in user form
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(ProjectOverview.tsx): add mui grid on cards to have consistent height
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(CreateProjectMember.tsx): add awaitRefetchQueries tag on useCreateProjectMemberMutation
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add user.title
  src/components/UserListItemCard/LandscapeCard.tsx
  src/components/UserListItemCard/PortraitCard.stories.tsx
  src/components/UserListItemCard/PortraitCard.tsx
  src/components/UserListItemCard/UserListItem.graphql
  src/scenes/Users/Detail/UserDetail.graphql
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/Edit/EditUser.tsx
  src/scenes/Users/UserForm/UserForm.graphql
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write
