Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add IDE hints to webpack config object
  package.json
  razzle.config.js
  yarn.lock
Due: none

Tweak cjs file loader tweak
  razzle.config.js
Due: none

Update babel to load .graphql imports from .graphql.ts files
  .babelrc
  package.json
  yarn.lock
Due: none

Generate json docs from gql documents
  .yarnrc.yml
  codegen-operations.yml
  package.json
  yarn.lock
Due: none

Rename codegen config files
  codegen.operations.yml
  codegen.schema.yml
  package.json
Due: none

Dedupe fragments before printing for wire
  src/api/ApolloProvider.tsx
  src/api/dedupeFragmentsPrinter.ts
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump minimist for security
  yarn.lock
Due: none

Fix watch command for gql-gen
  package.json
Due: none

Convert eslint config to js file
  .eslintrc.js
  .eslintrc.yml
  package.json
  tsconfig.json
  yarn.lock
Due: none

Allow absolute imports with ~
  package.json
  razzle.config.js
  tsconfig.json
  yarn.lock
Due: none

Restrict ~ alias usage to only other parents
  .eslintrc.js
Due: none

Unified apollo client creation
  src/App.test.tsx
  src/api/client/ApolloProvider.tsx
  src/api/client/createCache.ts
  src/api/client/createClient.ts
  src/api/client/links/dedupeFragmentsPrinter.ts
  src/api/client/links/http.link.ts
  src/api/client/links/renderErrors.link.tsx
  src/api/client/links/ssr.link.ts
  src/server/renderServerSideApp.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add apollo client awareness params
  src/api/client/createClient.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unused PoC for fetching data on server
  package.json
  src/App.test.tsx
  src/client.tsx
  src/components/ServerData.tsx
  src/server/fetchDataForRender.tsx
  src/server/renderServerSideApp.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

add an otherFiles card and OtherFiles directory for listing other files on a progress report
  src/scenes/ProgressReports/Detail/ProgressOtherFilesCard.tsx
  src/scenes/ProgressReports/OtherFiles/List.tsx
  src/scenes/ProgressReports/OtherFiles/OtherFiles.graphql
  src/scenes/ProgressReports/OtherFiles/Row.tsx
  src/scenes/ProgressReports/OtherFiles/usePeriodicReport.ts
  src/scenes/ProgressReports/OtherFiles/useReportId.ts
  src/scenes/ProgressReports/OtherFiles/useUploadOtherFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

query other files on a periodic report in the graphql files
  src/components/PeriodicReports/PeriodicReport.graphql
Due: prettier --write

add the otherFiles route and otherFiles card to the report detail
  src/components/PeriodicReports/ReportLabel.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/ProgressReports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add yarn sdk settings
  .vscode/extensions.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: none

Change extensions
  .vscode/extensions.json
Due: none

Update organization name
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Edit/EditOrganizationName.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Only call update partner operation if its fields are changing
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Call both update operations in parallel
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Require organization name
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Generate enum labels & allow API schema to define override via jsdoc-like @label syntax in enum value descriptions
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fallback enum label convert and -> &
  src/api/schema/enumLists/enumLists.codegen.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use title-case package to better format article words in labels
  package.json
  src/api/schema/enumLists/enumLists.codegen.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak react-router navigation after creating/deleting goals
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace displayEnum functions with new labelFrom helper & generated label maps
  src/common/displayEnums.ts
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
  src/components/ProjectChangeRequestListItem/ProjectChangeRequestListItem.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/ProjectMemberCard/ProjectMemberCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/EditEngagement/EngagementWorkflowDialog.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Engagement/LanguageEngagement/ProgressAndPlanning/ProgressAndPlanning.tsx
  src/scenes/Partners/Detail/PartnerTypesCard.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
  src/scenes/Products/Detail/Progress/StepProgress.tsx
  src/scenes/Products/ProductForm/MethodologySection.tsx
  src/scenes/Products/ProductForm/StepsSection.tsx
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/Projects/ChangeRequest/Create/CreateProjectChangeRequest.tsx
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Members/Create/CreateProjectMember.tsx
  src/scenes/Projects/Members/Update/UpdateProjectMember.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
  src/scenes/Users/Detail/UserDetail.tsx
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace more displayEnum functions with new labelFrom helper & generated label maps
  src/common/displayEnums.ts
  src/components/LocationCard/LocationCard.tsx
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/LocationForm/LocationForm.tsx
  src/scenes/Products/Detail/ProductInfo.tsx
  src/scenes/Products/ProductForm/MediumsSection.tsx
  src/scenes/Products/ProductForm/PartnershipProducingMediumsSection.tsx
  src/scenes/Products/ProductForm/ProgressMeasurementSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Bump async & ansi-regex for security
  yarn.lock
Due: none

Install source map support for server
  package.json
  src/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary env var to enable fast refresh
  .env
Due: none

Disable "are you sure?" check for build command
  razzle.config.js
Due: none

Move a couple razzle tweaks to an earlier hook
  razzle.config.js
Due: none

Add dev comment in razzle config to link to config src
  razzle.config.js
Due: none

Turn off minimization for server builds
  razzle.config.js
Due: none

Revert "Turn off minimization for server builds"
  razzle.config.js
Due: none

Guard against bad locale for number formatter
  src/components/Formatters/useCurrencyFormatter.tsx
  src/components/Formatters/useNumberFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add more info for number formatter failure
  src/components/Formatters/useNumberFormatter.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
