Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

sofia-pro font
  public/index.html
  src/theme/index.ts
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix password visibility toggle placement
  src/components/form/PasswordField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Work on theme
  src/components/form/SubmitButton.tsx
  src/scenes/Login/LoginForm.tsx
  src/theme/index.ts
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Page styling, nested authentication routing & styling
  src/api/graphql.generated.tsx
  src/scenes/Authentication/Authentication.tsx
  src/scenes/Authentication/Login/Login.stories.tsx
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
  src/scenes/Authentication/Login/queries.graphql
  src/scenes/Authentication/index.ts
  src/scenes/Login/LoginForm.tsx
  src/scenes/Login/index.tsx
  src/scenes/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Refactor showError, getHelperText, and useIsSubmitting functions out of useField
  src/components/form/CheckboxField.tsx
  src/components/form/TextField.tsx
  src/components/form/useField.ts
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create DateField with mui pickers
  package.json
  src/App.tsx
  src/components/form/DateField.tsx
  src/components/form/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Inject lodash and luxon into window for dev
  src/index.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disabled strict mode since pickers has a problem with it
  src/index.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Copy over CalenderDate from API
  src/index.tsx
  src/util/CalenderDate.ts
  src/util/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update DateField to use CalenderDate
  src/components/form/DateField.tsx
  src/util/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Make CalenderDate & DateTime objects easier to debug
  src/index.tsx
  src/util/CalenderDate.ts
  src/util/hacky-inspect-dates.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Don't autocomplete date fields
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Define default picker props ourselves since we can't import it
  src/components/form/DateField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename some methodologies for their new names
  src/app/core/models/product/methodology.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Import from date-io/luxon directly to be compatible with jest
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use app theme in storybook
  .storybook/preview-head.html
  .storybook/preview.js
Due: none

Add dark mode
  .storybook/main.js
  package.json
  yarn.lock
Due: none

Add some margin to storybook preview window
  .storybook/preview-body.html
Due: none

Add roots to titles, and use new syntax
  .storybook/preview.js
  src/components/ErrorButton/ErrorButton.stories.tsx
  src/components/ProgressButton/ProgressButton.stories.tsx
  src/scenes/Authentication/Login/Login.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use knobs to define component options, update button stories
  .storybook/main.js
  package.json
  src/components/ErrorButton/ErrorButton.stories.tsx
  src/components/ProgressButton/ProgressButton.stories.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Added CORD icon
  src/components/Icons/CordIcon.tsx
  src/components/Icons/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change SubmitError component to use submitError form state instead of submitErrors and check if it's a string
  src/components/form/SubmitError.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Return form submission error object on invalid credentials
  src/scenes/Authentication/Login/Login.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Mark login fields as invalid on submit error and valid on any change since they are validated as a pair
  src/scenes/Authentication/Login/LoginForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Disable SubmitButton if there are fields with submit errors that have not been changed
  src/components/form/SubmitButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Explicitly call focus() when elements are enabled and active
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/TextField.tsx
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix password field losing focus on visibility toggle
  src/components/form/PasswordField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Handle focusing fields on submit failure with decorators
  src/components/form/decorators.ts
  src/components/form/index.ts
  src/scenes/Authentication/Login/LoginForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add decorator to focus first field with submit error
  src/components/form/decorators.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update generated API types
  src/api/graphql.generated.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update readme to match new schema location
  README.md
Due: none

Fix useNavigate type def
  typings/react-router-dom/index.d.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Auto add issues and PRs to project board
  .github/workflows/add-to-project.yml
Due: none

Fix auto add for PRs
  .github/workflows/add-to-project.yml
Due: none

hookup session. hookup post-login state hydration and routing
  codegen.yml
  src/App.test.tsx
  src/App.tsx
  src/api/apolloClient.ts
  src/api/graphql.generated.tsx
  src/components/Session/Session.tsx
  src/components/Session/index.ts
  src/components/Session/session.graphql
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Login/queries.graphql
  src/scenes/Home/index.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use apollo cache instead of management state ourselves
  src/components/Session/Session.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Theme error color should use white text
  src/theme/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement Link which merges material-ui and react-router links together
  .eslintrc.yml
  src/components/Routing/Link.stories.tsx
  src/components/Routing/Link.tsx
  src/components/Routing/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement ListItemLink
  src/components/Routing/ListItemLink.stories.tsx
  src/components/Routing/ListItemLink.tsx
  src/components/Routing/index.ts
  typings/react-router-dom/index.d.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement MenuItemLink
  src/components/Routing/MenuItemLink.stories.tsx
  src/components/Routing/MenuItemLink.tsx
  src/components/Routing/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
