Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Add Created At column to Partner Table
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

convert DateTime in dateColumn
  src/components/Grid/ColumnTypes/dateColumn.tsx
Due: eslint --ext .ts,.tsx --fix

create LanguageList and LanguageColumns
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageGrid.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Languages/List/LanguageSortOptions.stories.tsx
  src/scenes/Languages/List/LanguageSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix

add id column
  src/components/LanguageDataGrid/LanguageColumns.tsx
Due: eslint --ext .ts,.tsx --fix

fix styling
  src/scenes/Languages/List/LanguageList.tsx
Due: eslint --ext .ts,.tsx --fix

Define own fragment instead of reusing from card
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/components/LanguageDataGrid/index.ts
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/scenes/Languages/List/LanguageGrid.tsx
  src/scenes/Languages/List/languages.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Small tweaks
  src/components/LanguageDataGrid/LanguageColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Fix LanguageDetail to prioritize real name
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Fix LanguageDetail to prioritize real name (#1658)
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust date override conflict to handle partnerships
  src/api/errorHandling/error.types.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust date override conflict to handle partnerships (#1659)
  src/api/errorHandling/error.types.ts
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Convert Language List to Datagrid (#1644)
  src/api/schema/typePolicies/typePolicies.base.ts
  src/components/LanguageDataGrid/LanguageColumns.tsx
  src/components/LanguageDataGrid/index.ts
  src/components/LanguageDataGrid/languageDataGridRow.graphql
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageGrid.tsx
  src/scenes/Languages/List/LanguageList.tsx
  src/scenes/Languages/List/LanguageSortOptions.stories.tsx
  src/scenes/Languages/List/LanguageSortOptions.tsx
  src/scenes/Languages/List/languages.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Stop implicitly parsing ISO date strings
  codegen.schema.yml
  src/api/schema/typePolicies/scalars/scalars.parser.ts
  src/common/CalenderDate.ts
  src/common/LuxonCalenderDateUtils.ts
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/Formatters/FormattedDate.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/PeriodicReports/OverviewCard/ReportInfo.tsx
  src/components/PeriodicReports/ReportLabel.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/components/form/DateField.tsx
  src/components/form/SavingStatus.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/ProgressReports/EditForm/ReportDue.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Adjust signatures
  src/common/CalenderDate.ts
Due: eslint --ext .ts,.tsx --fix

Stop implicitly parsing ISO date strings (#1660)
  codegen.schema.yml
  src/api/schema/typePolicies/scalars/scalars.parser.ts
  src/common/CalenderDate.ts
  src/common/LuxonCalenderDateUtils.ts
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/Formatters/FormattedDate.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/PeriodicReports/OverviewCard/ReportInfo.tsx
  src/components/PeriodicReports/ReportLabel.tsx
  src/components/PeriodicReports/Upload/useUpdatePeriodicReport.tsx
  src/components/form/DateField.tsx
  src/components/form/SavingStatus.tsx
  src/scenes/Engagement/CeremonyCard/LargeDate.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/ProgressReports/EditForm/ReportDue.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix

Unwrap secure date columns by default
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/Grid/ColumnTypes/dateColumn.tsx
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

Provide default setter for date columns
  src/components/Grid/ColumnTypes/dateColumn.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Undo the JSON unparse hack now that we don't need to normalize date scalars
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
Due: eslint --ext .ts,.tsx --fix

Abstract useGridMutation
  src/components/EngagementDataGrid/useProcessEngagementUpdate.ts
  src/components/Grid/index.tsx
  src/components/Grid/useGridMutation.ts
Due: eslint --ext .ts,.tsx --fix

make Start Date column editable
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/UpdatePartnerGrid.graphql
  src/components/PartnersDataGrid/useProcessPartnerUpdate.ts
  src/scenes/Partners/List/PartnerGrid.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Use new grid mutation abstraction
  src/components/PartnersDataGrid/useProcessPartnerUpdate.ts
Due: eslint --ext .ts,.tsx --fix

Restrict startDate editing to those with access
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Make Partner Start Date column editable (#1657)
  src/components/PartnersDataGrid/PartnerColumns.tsx
  src/components/PartnersDataGrid/UpdatePartnerGrid.graphql
  src/components/PartnersDataGrid/partnerDataGridRow.graphql
  src/components/PartnersDataGrid/useProcessPartnerUpdate.ts
  src/scenes/Partners/List/PartnerGrid.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix `addItemToList` cycling when sorting the new list
  yarn.lock
Due: none

Enhance `addItemToList` to sort items by with nested paths & unwrap secured values / lists
  src/api/caching/lists/addItemToList.ts
  src/common/secured.ts
  src/components/ProjectDataGrid/ProjectColumns.tsx
Due: eslint --ext .ts,.tsx --fix

copiot instructions
  .github/copilot-instructions.md
Due: none

Update milestone header from "Milestone Achieved" to "Milestone Planned" to clarify the current intent/use of this field.
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

Update milestone header for clarity (#1663)
  src/scenes/Engagement/LanguageEngagement/Milestone/Milestone.tsx
Due: eslint --ext .ts,.tsx --fix

create ai guidelines
  .junie/guidelines.md
Due: none

add Alliance Information section
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerAllianceSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

disable self-referencing option
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

update language form to include new fields
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/Edit/EditLanguage.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
  src/scenes/Languages/LanguageForm/LangugeForm.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

add new PartnerLanguageSection
  src/components/Grid/Columns/LanguageNameColumn.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/form/Lookup/Language/LanguageLookup.graphql
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLanguageSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Create Reach and Org Type section for Partner
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerOrgReachAndTypeSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
  src/scenes/Partners/Edit/UpdatePartner.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

update partnerDetails, location and field region lookup queries
  src/components/form/Lookup/FieldRegion/FieldRegionLookup.graphql
  src/components/form/Lookup/FieldRegion/index.ts
  src/components/form/Lookup/Location/LocationLookup.graphql
  src/components/form/Lookup/Location/index.ts
  src/scenes/Partners/Detail/PartnerDetail.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

create PartnerLocationSection
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerDetailProfile.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerLocationSection.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix

Fix #1018 by adding canRead check for projects before checking empty
  src/scenes/Languages/Detail/LanguageDetail.tsx
Due: eslint --ext .ts,.tsx --fix

send correct properties on region and zone creation
  src/components/FieldRegion/CreateFieldRegion.tsx
  src/components/FieldZone/CreateFieldZone.tsx
Due: eslint --ext .ts,.tsx --fix

Clarify First Scripture description in the UI
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
Due: eslint --ext .ts,.tsx --fix

Refactor First Scripture text to remove unnecessary whitespace
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
