Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Properly capture xhr error and set `error` property on submitted file object for display in UI
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up Dropzone `onDrop` method to Upload Context
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix bugs and over-rendering in Upload Context
  src/components/Upload/Dropzone.tsx
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
  src/components/Upload/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add temporary `Upload` scene to use for testing new upload components
  src/scenes/Root/Root.tsx
  src/scenes/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update 'remove' action
  src/components/Upload/Reducer/uploadActions.ts
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/Reducer/uploadTypings.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upload Manager Visibility Controls
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add styling for Dropzone component when clicked instead of dragged into
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix incorrect type of input passed to `addFileToUploadQueue()` function in `onDrop()` method of `Dropzone` component
  src/components/Upload/Dropzone.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update Upload Manager to use `Maximize` icon when collapsed instead of `MinimizeIcon`
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Status and Clear Button for upload items
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItem.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Collapse behavior and update opened/closed logic for Upload Manager
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Drag behavior and separate context for Upload Manager
  src/App.tsx
  src/components/Upload/UploadContext.tsx
  src/components/Upload/UploadItems.tsx
  src/components/Upload/UploadManager.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add ref to `Paper` component to set height of upload manager in state for reference when collapsing
  src/components/Upload/UploadManager.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix error status looping error
  src/components/Upload/Reducer/uploadReducer.ts
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change Upload Manager to being closed by default
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove logging of various steps of upload process used for debugging
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix import order error in `Root`
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update name of mock file in `UploadItem` story file to be more intuitive - Update `UploadItem` to display different status messages depending on state of upload
  src/components/Upload/UploadItem.stories.tsx
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Update text logged after file upload callback for clarity - Update `handleFileAdded()` function to pass forward the file with the returned `uploadId` added to it so it can be passed to the callback
  src/components/Upload/Dropzone.tsx
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `response` param from `handleFileUploadSuccess` function
  src/components/Upload/UploadContext.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

- Create stories file for `UploadItem` - Update title for `Dropzone` story to place it in an "Upload" folder with `UploadItem`
  src/components/Upload/Dropzone.stories.tsx
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove unnecessary `file` knob from `UploadItem` stories file
  src/components/Upload/UploadItem.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `material-table` package to app
  package.json
  yarn.lock
Due: none

Project Files Skeleton
  src/api/operations.generated.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add logic to remove `FileVersion` results from display of project files
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Re-create `Table` component created in a different PR that has not yet been merged
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add all required fields to `ProjectFiles` query and re-generate typings
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Formatting for Files table entries
  src/components/Formatters/index.ts
  src/components/Formatters/useFileSizeFormatter.ts
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Basic Table of Files
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Require 1.60.0 exact version of `material-table` to prevent bug in most recent version
  package.json
  yarn.lock
Due: none

Add buttons for adding folder and uploading a file to files list view nav
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Wire up "Create Folder" button
  src/api/operations.generated.ts
  src/scenes/Projects/Files/CreateDirectory.tsx
  src/scenes/Projects/Files/CreateProjectFile.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.graphql
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Files/index.ts
  src/scenes/Projects/Files/useProjectCurrentDirectory.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Dynamic folder ID based on route
  src/api/operations.generated.ts
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Disable viewing folders not in current project
  src/scenes/Projects/Files/ProjectFiles.generated.ts
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Add breadcrumbs for current folder and parents
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change message displayed when no records are display in `Table` component to empty string
  src/components/Table/Table.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create reusable `UploadFilesForm`
  src/components/Upload/UploadFilesForm.tsx
  src/components/Upload/index.ts
  src/scenes/Projects/Files/UploadProjectFiles.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Dropzone Field component and uploading files to project
  src/components/Upload/Dropzone.stories.tsx
  src/components/Upload/Dropzone.tsx
  src/components/Upload/index.ts
  src/components/form/Dropzone.stories.tsx
  src/components/form/Dropzone.tsx
  src/components/form/index.ts
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/UploadProjectFiles.tsx
  src/scenes/Root/Root.tsx
  src/scenes/Upload/Upload.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Rename `CreateDirectory` component to `CreateProjectDirectory`
  src/scenes/Projects/Files/CreateProjectDirectory.tsx
  src/scenes/Projects/Files/FileCreateActions.tsx
  src/scenes/Projects/Files/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add `CreateProjectFileVersion` mutation to use when uploading a file from the project files scene
  src/api/operations.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.generated.ts
  src/scenes/Projects/Files/CreateProjectFile.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
