Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Remove unused post membership
  src/components/posts/PostListItemCard/PostListItem.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
Due: eslint --ext .ts,.tsx --fix

Drop preset inventory
  src/components/Icons/PresetInventoryIconFilled.tsx
  src/components/Icons/PresetInventoryIconOutlined.tsx
  src/components/Icons/index.ts
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItem.graphql
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.stories.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Languages/Detail/LanguageDetail.graphql
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Projects/List/ProjectFilterOptions.tsx
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
  src/scenes/Projects/Overview/PresetInventory/TogglePresetInventory.graphql
  src/scenes/Projects/Overview/PresetInventory/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Polish address display
  src/scenes/Partners/Detail/Tabs/Profile/PartnerContactSection.tsx
Due: eslint --ext .ts,.tsx --fix

Partner Finance & Notes Tabs (#1497)
  src/components/ActionableSection/ActionableSection.tsx
  src/components/ActionableSection/index.ts
  src/components/EditableSection/EditableSection.tsx
  src/components/EditableSection/index.ts
  src/components/posts/PostListItemCard/PostListItem.tsx
  src/components/posts/PostListItemCard/index.ts
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerDetailFinance.tsx
  src/scenes/Partners/Detail/Tabs/Finance/PartnerFinanceSectionHeading.tsx
  src/scenes/Partners/Detail/Tabs/Notes/PartnerDetailsNotes.tsx
  src/scenes/Partners/Detail/Tabs/Profile/PartnerTypesSection.tsx
Due: eslint --ext .ts,.tsx --fix

Changed period name Final to Additional Updates
  src/components/PeriodicReports/ReportLabel.tsx
Due: eslint --ext .ts,.tsx --fix

Changed period name Final to Additional Updates (#1500)
  src/components/PeriodicReports/ReportLabel.tsx
Due: eslint --ext .ts,.tsx --fix

revised PartnerDataButton removing color and added status label and timeline icon
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

revised PartnerDataButton removing color and added status label and t… (#1501)
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Icon Change Request for Partner Profile Status
  src/components/Icons/InactiveStatusIcon.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Icon Change Request for Partner Profile Status (#1502)
  src/components/Icons/InactiveStatusIcon.tsx
  src/scenes/Partners/Detail/PartnerDetail.tsx
Due: eslint --ext .ts,.tsx --fix

Added Partner Profile Start Date
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add Partner.startDate (#1503)
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bump luxon types & account for my upstream changes
  package.json
  src/common/CalenderDate.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Pass steps into provider to avoid circular dependency with individual steps using the context
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix

Created confirm dialog to check for empty variants by role
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmVariantDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamNews/TeamNewsStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Polish incomplete submission check
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmVariantDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamNews/TeamNewsStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Created confirm dialog to check for empty variants by role (#1463)
  src/scenes/ProgressReports/EditForm/ProgressReportContext.tsx
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/ProgressStep/ProgressStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/ConfirmIncompleteSubmissionDialog.tsx
  src/scenes/ProgressReports/EditForm/Steps/SubmitReportStep/SubmitReportStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/TeamNews/TeamNewsStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/step.types.ts
Due: eslint --ext .ts,.tsx --fix

Redesign of Header search & toolbar
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/Header/UserActionsMenu/UserActionsMenu.stories.tsx
  src/scenes/Root/Header/UserActionsMenu/UserActionsMenu.tsx
  src/scenes/Root/Header/UserActionsMenu/index.ts
Due: eslint --ext .ts,.tsx --fix

Polish off re-design / refactor
  src/components/form/util.ts
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ChangePasswordMenuItem.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileMenu/ToggleUploadManagerMenuItem.tsx
Due: eslint --ext .ts,.tsx --fix

Redesign of Header Toolbar (#1507)
  src/components/form/util.ts
  src/scenes/Root/Header/Header.tsx
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
  src/scenes/Root/Header/ProfileMenu/ChangePasswordMenuItem.tsx
  src/scenes/Root/Header/ProfileMenu/ProfileMenu.tsx
  src/scenes/Root/Header/ProfileMenu/ToggleUploadManagerMenuItem.tsx
  src/scenes/Root/Header/ProfileToolbar/ProfileToolbar.tsx
  src/scenes/Root/Header/UserActionsMenu/UserActionsMenu.stories.tsx
  src/scenes/Root/Header/UserActionsMenu/UserActionsMenu.tsx
  src/scenes/Root/Header/UserActionsMenu/index.ts
Due: eslint --ext .ts,.tsx --fix

Fix ChangePassword form layout
  src/scenes/Authentication/ChangePassword/ChangePassword.tsx
Due: eslint --ext .ts,.tsx --fix

feat: add server side pagination to projects with MUI for UI
  src/api/schema/typePolicies/typePolicies.base.ts
  src/scenes/Partners/Detail/PartnerDetail.graphql
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.graphql
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
  src/scenes/Partners/Edit/EditPartner.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Finish off project partners server side table view
  src/api/schema/typePolicies/typePolicies.base.ts
  src/common/case.ts
  src/scenes/Partners/Detail/PartnerDetail.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjectsTable.tsx
  src/scenes/Partners/Edit/EditPartner.graphql
  src/scenes/Partners/Edit/EditPartner.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Invalidate cached partner projects when related partnerships change
  src/scenes/Partnerships/Create/CreatePartnership.tsx
  src/scenes/Partnerships/Edit/EditPartnership.tsx
Due: eslint --ext .ts,.tsx --fix

Sort client side if there's only a single page
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
Due: eslint --ext .ts,.tsx --fix

Bump for security
  yarn.lock
Due: none

updates downloadUrl to url and other refactors surrounding that
  src/common/FileSaver.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
  src/components/files/files.graphql
  src/components/files/hooks/DownloadFile.graphql
  src/components/files/hooks/index.ts
  src/components/files/hooks/useDownloadFile.tsx
  src/components/files/hooks/useGetFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

updates from PR review
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
  src/components/files/hooks/DownloadFile.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

fixes 2 more items from review
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
Due: eslint --ext .ts,.tsx --fix

Partner projects - sort on client after all pages are fetched
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Tweak stubbed download comment
  src/components/files/FileActions/FileActionsContext.tsx
Due: eslint --ext .ts,.tsx --fix

Partner projects - Sort on client after all pages are fetched (#1512)
  src/scenes/Partners/Detail/Tabs/Projects/PartnerDetailProjects.tsx
  src/scenes/Partners/Detail/Tabs/Projects/PartnerProjects.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Updated MarketingLocation button to marketingCountry and added marketingRegion button
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

File.downloadUrl -> url (#1511)
  src/common/FileSaver.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FileActions/FileActionsMenu.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
  src/components/files/files.graphql
  src/components/files/hooks/DownloadFile.graphql
  src/components/files/hooks/index.ts
  src/components/files/hooks/useDownloadFile.tsx
  src/components/files/hooks/useGetFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Set our file urls to download when opening in browser
  src/components/files/files.graphql
Due: prettier --write

Set our file urls to download when opening in browser (#1515)
  src/components/files/files.graphql
Due: prettier --write

Upgrade react-error-boundary
  package.json
  src/components/Error/Error.tsx
  src/scenes/Root/MainLayout.tsx
  src/scenes/Root/Root.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Refactor/Simplify file preview code
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/EmailPreview.tsx
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/HtmlPreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
  src/components/files/FilePreview/PdfPreview.tsx
  src/components/files/FilePreview/PlainTextPreview.tsx
  src/components/files/FilePreview/PreviewError.tsx
  src/components/files/FilePreview/PreviewLoading.tsx
  src/components/files/FilePreview/PreviewNotSupported.tsx
  src/components/files/FilePreview/PreviewPagination.tsx
  src/components/files/FilePreview/Previewers/CsvPreview.tsx
  src/components/files/FilePreview/Previewers/EmailPreview.tsx
  src/components/files/FilePreview/Previewers/ExcelPreview.tsx
  src/components/files/FilePreview/Previewers/HtmlPreview.tsx
  src/components/files/FilePreview/Previewers/NativePreview.tsx
  src/components/files/FilePreview/Previewers/NotSupportedPreview.tsx
  src/components/files/FilePreview/Previewers/PdfPreview.tsx
  src/components/files/FilePreview/Previewers/PlainTextPreview.tsx
  src/components/files/FilePreview/Previewers/RtfPreview.tsx
  src/components/files/FilePreview/Previewers/SpreadsheetView.tsx
  src/components/files/FilePreview/Previewers/WordPreview.tsx
  src/components/files/FilePreview/Previewers/index.ts
  src/components/files/FilePreview/RtfPreview.tsx
  src/components/files/FilePreview/WordPreview.tsx
  src/components/files/FilePreview/index.ts
  src/components/files/FilePreview/useFilePreview.tsx
  src/components/files/FileVersionItem/FileVersionItem.tsx
  src/components/files/fileTypes.ts
  src/components/files/index.ts
  src/components/form/Dropzone.tsx
  src/scenes/Projects/Files/NodeDragPreview.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix

Fix z-index on header
  src/scenes/Root/Header/Header.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
