Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

Wrap `updateCachedVersions` call to `client.readQuery` in a `try... catch` block to prevent uncached data from throwing an error and unnecessarily causing the entire upload operation to fail
  src/components/files/updateCachedVersions.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove `console.log`s
  src/components/files/updateCachedVersions.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update total alongside new file versions
  src/components/files/updateCachedVersions.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Display and Edit Project Sensitivity on Project Overview
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Replace RadioField with EnumField
  src/scenes/Projects/Update/UpdateProjectDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move sensitivity to before location
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add sensitivity icon and label to data button
  src/components/Sensitivity/SensitivityIcon.tsx
  src/components/Sensitivity/index.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak project loading state so layout is consistent
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak sensitivity display
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change sensitivity icon to filled variant
  src/components/Sensitivity/SensitivityIcon.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove timeout for refocusing fields
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Session/): extract powers from session ;
  src/components/Session/Session.tsx
  src/components/Session/session.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(Sidebar.tsx): only show create menu item with create power
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: update session powers on register and login
  src/components/Session/Session.tsx
  src/scenes/Authentication/Login/Login.graphql
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Register/Register.tsx
  src/scenes/Authentication/Register/register.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(LookupField.tsx): check create power in session
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow createPower to be overridden by concrete component config
  src/components/form/Lookup/LookupField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix Location.isoAlpha3 now being nullable
  src/api/fragments/secured.graphql
  src/scenes/SearchResults/Search.graphql
Due: prettier --write

feat(DialogForm.tsx): disable close when submitting
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(InternshipEngagementDetail.tsx): move status and date range to beginning
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageEngagementDetail.tsx): add status and date range
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Correct `readQuery` to `readFragment` in explanatory comment
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix: add tooltips to fab icons in dalguage, project, and user detail
  src/scenes/Languages/Detail/LanguageDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(SearchResults): explicit search root resource types (and producibles)
  src/scenes/SearchResults/Search.graphql
  src/scenes/SearchResults/SearchResults.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(HeaderSearch.tsx): add Partners to searchbar placeholder
  src/scenes/Root/Header/HeaderSearch/HeaderSearch.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove timezone text field for now as it's confusing users
  src/scenes/Users/UserForm/UserForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Replace typescript-react-apollo codegen plugin with typed-document-nodes. Update codegen libraries.
  codegen.yml
  package.json
  yarn.lock
Due: none

Update LookupFields to pass documents instead of query hooks
  src/components/form/Lookup/Film/FilmField.tsx
  src/components/form/Lookup/Language/LanguageField.tsx
  src/components/form/Lookup/LiteracyMaterial/LiteracyMaterialField.tsx
  src/components/form/Lookup/Location/LocationFields.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/Lookup/Organization/OrganizationField.tsx
  src/components/form/Lookup/Partner/PartnerField.tsx
  src/components/form/Lookup/Project/ProjectFields.tsx
  src/components/form/Lookup/Song/SongField.tsx
  src/components/form/Lookup/Story/StoryField.tsx
  src/components/form/Lookup/User/UserField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove explicit generics on apollo cache now that they are inferred from documents
  src/components/Session/Session.tsx
  src/components/files/updateCachedVersions.ts
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

New `ProjectDetailNavigation` replaces inline use of `ProjectBreadcrumb`
  src/components/ProjectDetailNavigation/ProjectDetailNavigation.graphql
  src/components/ProjectDetailNavigation/ProjectDetailNavigation.tsx
  src/components/ProjectDetailNavigation/index.ts
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/EngagementDetailLoading.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Partnerships/List/PartnershipList.graphql
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Projects/Budget/ProjectBudget.graphql
  src/scenes/Projects/Budget/ProjectBudget.tsx
  src/scenes/Projects/Files/ProjectFiles.graphql
  src/scenes/Projects/Files/ProjectFilesList.tsx
  src/scenes/Projects/Members/List/ProjectMembers.graphql
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Fix hidden content issue caused by change to `ContentContainer` wrapping component; Fix duplicate display of name on Internship Engagement Detail
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix incorrect import path of `ContentContainer` component
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix errors introduced during rebase
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade Yarn 2.2.0 -> 2.3.3
  .yarn/releases/yarn-2.2.0.js
  .yarn/releases/yarn-2.3.3.cjs
  .yarnrc.yml
  yarn.lock
Due: none

Upgrade eslint config. ts-eslint 3.10 -> 4.5
  package.json
  typings/@iarna/rtf-to-html/index.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade CRA v4
  .env
  config-overrides.js
  package.json
  patches/react-scripts.patch
  src/api/loadEnv.codegen.js
  tsconfig.json
  tsconfig.paths.json
  yarn.lock
Due: none

feat(PartnershipForm.tsx): show partner types on edit
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Partnerships): on create only show types and fin reporting types of partner
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(PartnershipForm.graphql): pull types and fin reporting types from parter
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
Due: prettier --write

feat(PartnerLookup.graphql): get types and financial reporting types
  src/components/form/Lookup/Partner/PartnerLookup.graphql
Due: prettier --write
