Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Upgrade razzle
  package.json
  patches/razzle.patch
  yarn.lock
Due: none

Upgrade TS and related 3.9 -> 4.1
  package.json
  src/api/secured.ts
  src/components/PaperTooltip/PaperTooltip.tsx
  src/server/fetchDataForRender.tsx
  src/util/array-helpers.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Reformat code with updated TS, ESLint, Prettier
  src/api/displayEnums.ts
  src/components/files/FileActions/FileActionsContext.tsx
  src/components/form/Dropzone.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Products/ProductForm/AccordionSection.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/util/FileSaver.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade graphql codegen
  codegen.yml
  package.json
  yarn.lock
Due: none

Remove unused babel plugin export namespace from
  package.json
  yarn.lock
Due: none

Upgrade apollo 3.1.1 -> 3.3.7
  package.json
  yarn.lock
Due: none

Revert #491 37b519bd now that apollo bug has been fixed
  src/components/files/FileActions/FileVersions.tsx
  src/scenes/Projects/Files/ProjectFilesList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove try/catch from cache.read calls as they won't throw a MissingFieldError now
  src/components/files/updateCachedVersions.ts
  src/scenes/Projects/Files/useUploadProjectFiles.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix unnecessary nulls on data from client.query
  src/components/files/hooks/useGetFileDownloadUrl.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix circular dependency check config for windows
  razzle.config.js
Due: none

Change paratext casing
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.graphql
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Enable unchecked index access & fix/suppress errors
  src/api/ApolloProvider.tsx
  src/api/codeGenUtil/ts.util.ts
  src/api/error.types.ts
  src/components/Formatters/parseFileNameAndExtension.ts
  src/components/ProductCard/ProductCard.stories.tsx
  src/components/Typography/Typography.stories.tsx
  src/components/files/FilePreview/CsvPreview.tsx
  src/components/files/FilePreview/ExcelPreview.tsx
  src/components/files/FilePreview/SpreadsheetView.tsx
  src/components/form/NumberField.tsx
  src/components/form/VersesField.stories.tsx
  src/components/form/VersesField.tsx
  src/hooks/useQueryParams.ts
  src/scenes/Authentication/ChangePassword/ChangePassword.tsx
  src/scenes/Authentication/Login/LoginForm.tsx
  src/scenes/Authentication/Register/RegisterForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Partnerships/List/PartnershipList.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Projects/Members/List/ProjectMembersList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/server/disableSsrByDefault.ts
  src/util/biblejs/reference.ts
  tsconfig.json
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(Partnerships): expose mou start and end overrides on partnership edit
  src/scenes/Partnerships/Edit/EditPartnership.tsx
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.graphql
  src/scenes/Partnerships/PartnershipForm/PartnershipForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(PartnershipCard): show mou start end
  src/components/PartnershipCard/PartnershipCard.graphql
  src/components/PartnershipCard/PartnershipCard.stories.tsx
  src/components/PartnershipCard/PartnershipCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak labels
  src/components/PartnershipCard/PartnershipCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix project date range display
  src/api/dateRange.ts
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageListItemCard): show sensitivity on card
  src/components/LanguageListItemCard/LanguageListItem.graphql
  src/components/LanguageListItemCard/LanguageListItemCard.stories.tsx
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(/LanguageSortOptions.tsx): add sensitivity sort option
  src/scenes/Languages/List/LanguageSortOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add some padding before sensitivity on list card
  src/components/LanguageListItemCard/LanguageListItemCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

fix(Languages/List): sensitivity filter
  src/scenes/Languages/List/LanguageFilterOptions.tsx
  src/scenes/Languages/List/LanguageList.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageFilterOptions.tsx): add least of these filter
  src/scenes/Languages/List/LanguageFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(LanguageFilterOptions.tsx): add dialect and sign language filters
  src/scenes/Languages/List/LanguageFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Map query param keys to make more sense for query params
  src/scenes/Languages/List/LanguageFilterOptions.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Escape windows paths for regex input
  razzle.config.js
Due: none

Only run circular dependency check on build
  razzle.config.js
Due: none

Downgrade ts-eslint from bugged 4.14.0 release
  package.json
  yarn.lock
Due: none

Run CI on long running branches (fix from branch rename)
  .github/workflows/ci.yml
Due: none

Fix SelectField label & styles to match TextField
  src/components/form/SelectField.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create AlphaLowercaseField
  src/components/form/AlphaLowercaseField.tsx
  src/components/form/index.ts
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move multiple value handling into useField
  src/components/form/AutocompleteField.tsx
  src/components/form/CheckboxField.tsx
  src/components/form/DateField.tsx
  src/components/form/Dropzone.tsx
  src/components/form/EnumField.tsx
  src/components/form/FormattedTextField.tsx
  src/components/form/Lookup/LookupField.tsx
  src/components/form/NumberField.tsx
  src/components/form/TextField.tsx
  src/components/form/VersesField.tsx
  src/components/form/useField.ts
  src/components/form/validators.ts
  src/scenes/Products/ProductForm/AccordionSection.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Refactor SelectField to be more complete
  src/components/form/SelectField.tsx
  src/scenes/Languages/LanguageForm/LanguageForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Use terminus for graceful shutdown & health check
  package.json
  src/index.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Remove now nonexistent Location.sensitivity from search results
  src/scenes/SearchResults/Search.graphql
Due: prettier --write

feat: wire up location detail component skeleton
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/Detail/index.ts
  src/scenes/Locations/Locations.tsx
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(/Locations/Detail/): show location detail fields
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

feat(FundingAccountCard): create funding account card
  src/components/FundingAccountCard/FundingAccountCard.graphql
  src/components/FundingAccountCard/FundingAccountCard.tsx
  src/components/FundingAccountCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix(LocationDetail): consume funding account card
  src/scenes/Locations/Detail/LocationDetail.graphql
  src/scenes/Locations/Detail/LocationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

fix: polish up funding account
  src/components/FundingAccountCard/FundingAccountCard.tsx
  src/scenes/Locations/Detail/LocationDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat(FundingAccountCard.stories.tsx): create story
  src/components/FundingAccountCard/FundingAccountCard.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

feat: create location form, edit location component, and connect to location detail
  src/scenes/Locations/Detail/LocationDetail.tsx
  src/scenes/Locations/Edit/EditLocation.graphql
  src/scenes/Locations/Edit/EditLocation.tsx
  src/scenes/Locations/Edit/index.ts
  src/scenes/Locations/LocationForm/LocationForm.graphql
  src/scenes/Locations/LocationForm/LocationForm.tsx
  src/scenes/Locations/LocationForm/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
