Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

.lintstagedrc:

"**/*.{ts,tsx}":
  - eslint --ext .ts,.tsx --fix --max-warnings 0
"**/*.graphql":
  - prettier --write

PR changes made
  src/components/Icons/PlantIcon.tsx
  src/components/Icons/index.ts
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/scenes/Root/Sidebar/Sidebar.stories.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarListLink.stories.tsx
  src/scenes/Root/Sidebar/SidebarListLink.tsx
  src/scenes/Root/Sidebar/SwooshBackground.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off sidebar. Split off header and theme.
  src/scenes/Root/Sidebar/Sidebar.tsx
  src/scenes/Root/Sidebar/SidebarHeader.tsx
  src/scenes/Root/Sidebar/SidebarListLink.stories.tsx
  src/scenes/Root/Sidebar/SidebarListLink.tsx
  src/scenes/Root/Sidebar/sidebar.theme.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move Root into Root folder
  src/scenes/Root/Root.tsx
  src/scenes/Root/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add sidebar to root
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix regression in border radius
  src/theme/createTheme.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Further define font weights within theme with possibility to augment
  src/theme/overrides.ts
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change bold from 700 to 600
  src/theme/typography.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move our babel mui-make-styles plugin to .babelrc so it's also picked up by storybook
  .babelrc
  config-overrides.js
Due: none

Fix OutlinedInput notch since we always shrink label
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Created useDialog hook to help manage dialog state
  src/components/Dialog/index.ts
  src/components/Dialog/useDialog.stories.tsx
  src/components/Dialog/useDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Created DialogForm component abstraction
  src/components/Dialog/DialogForm.stories.tsx
  src/components/Dialog/DialogForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Person card added
  src/components/PersonCard/PersonCard.stories.tsx
  src/components/PersonCard/PersonCard.tsx
  src/components/PersonCard/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade @apollo/client to fix result generics
  package.json
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Register/Register.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade yarn rc.31 -> rc.33
  .yarn/releases/yarn-2.0.0-rc.31.js
  .yarn/releases/yarn-2.0.0-rc.33.js
  .yarnrc.yml
  yarn.lock
Due: none

Upgrade material-ui/core to 2.9.13
  package.json
  src/theme/overrides.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade react-router to v6 alpha.4
  package.json
  src/components/Routing/ButtonLink.tsx
  src/components/Routing/CardActionAreaLink.tsx
  src/components/Routing/Link.tsx
  src/components/Routing/ListItemLink.tsx
  src/components/Routing/MenuItemLink.tsx
  src/scenes/Authentication/Login/Login.tsx
  src/scenes/Authentication/Register/Register.tsx
  src/scenes/Authentication/ResetPassword/ResetPassword.tsx
  typings/react-router-dom/index.d.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Limit material-ui/pickers to alpha.5 for now
  package.json
  yarn.lock
Due: none

convert create organization to a dialog
  src/api/graphql.generated.tsx
  src/scenes/Home/index.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
  src/scenes/Organizations/Organizations.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update CreateOrganization to use new dialog abstractions
  src/scenes/Home/index.tsx
  src/scenes/Organizations/Create/CreateOrganization.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.stories.tsx
  src/scenes/Organizations/Create/CreateOrganizationForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move create org connection to sidebar create menu
  src/scenes/Home/index.tsx
  src/scenes/Root/Sidebar/Sidebar.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Change focus hooks' generic types to extend focus() method
  src/components/form/util.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add RadioField and RadioOption
  src/components/form/RadioField.stories.tsx
  src/components/form/RadioField.tsx
  src/components/form/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add options to storybook example
  src/components/form/RadioField.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

RadioField label closer to designs
  src/components/form/RadioField.stories.tsx
  src/components/form/RadioField.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Breadcrumb component
  src/components/Breadcrumb/Breadcrumb.stories.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add CurrentPath storybook decorator
  src/components/Routing/decorators.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweaks to breadcrumbs
  src/components/Breadcrumb/Breadcrumb.stories.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix yarn start
  package.json
Due: none

field overview card
  src/components/FieldOverviewCard/FieldOverviewCard.stories.tsx
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
  src/components/FieldOverviewCard/index.tsx
  src/components/Icons/HugeIcon.tsx
  src/components/Icons/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow HugeIcon to be customized with classes and/or children. Add storybook examples.
  src/components/Icons/HugeIcon.stories.tsx
  src/components/Icons/HugeIcon.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Space top area evenly
  src/components/FieldOverviewCard/FieldOverviewCard.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak card story
  src/components/FieldOverviewCard/FieldOverviewCard.stories.tsx
  src/components/Routing/decorators.stories.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update API schema
  src/api/graphql.generated.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Implement project list & connect to API
  src/api/graphql.generated.tsx
  src/api/location-helper.ts
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/ProjectList.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/index.ts
  src/scenes/Projects/projects.graphql
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Inform Apollo client of possibleTypes for project interface
  src/api/ApolloProvider.tsx
  src/api/possibleTypes.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Update displayLocation to be type-safe and handle region & zone
  src/api/fragments/location.graphql
  src/api/graphql.generated.tsx
  src/api/location-helper.ts
  src/api/possibleTypes.ts
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/projects.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Comment out engagements until its implemented
  src/api/graphql.generated.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Projects/projects.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move ProjectListItem fragment to be defined next usage
  src/api/graphql.generated.tsx
  src/components/ProjectListItemCard/ProjectListItem.graphql
  src/scenes/Projects/projects.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update ProjectListItemCard
  src/api/displayStatus.ts
  src/components/ProjectListItemCard/ProjectListItemCard.stories.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/components/Sensitivity/Sensitivity.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Finish off styling of project list page
  src/scenes/Projects/ProjectList.tsx
  src/scenes/Projects/Projects.tsx
  src/scenes/Root/Root.tsx
  src/theme/overrides.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0
