Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Define open search config
  src/scenes/Root/Root.tsx
  src/server/server.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Alias create product mutations, so they are consistent and easier to work
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Invalidate progress reports with fetched progress data when a product is created
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/ProgressRefsRelatingToEngagement.graphql
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

On product delete, remove progress from all related progress reports
  src/scenes/Products/Edit/EditProduct.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add/Remove StepProgress from ProductProgress when Product.steps changes
  src/scenes/Products/Edit/CurrentProgessOfProduct.graphql
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/Edit/updateProgressSteps.ts
  src/scenes/Products/ProgressRefsRelatingToEngagement.graphql
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move deleteProductProgress on product delete next to edit logic
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/Edit/updateProgressSteps.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add Storable helper to merge in References to schema objects which is what ApolloCache is expecting in certain cases
  src/api/list-caching/types.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create ProductProgress locally on product create instead of invalidating entire progress list
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Products/Create/addProductProgress.ts
  src/scenes/Products/Edit/updateProgressSteps.ts
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Use updated product steps instead of availableSteps to order StepProgress since this field comes back from API ordered
  src/scenes/Products/Edit/CurrentProgessOfProduct.graphql
  src/scenes/Products/Edit/EditProduct.graphql
  src/scenes/Products/Edit/updateProgressSteps.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Simplify native previewer to create url from blob instead of using signed url directly
  src/components/files/FilePreview/FilePreview.tsx
  src/components/files/FilePreview/NativePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Close preview dialog on download
  src/components/files/FilePreview/FilePreview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fixed verbiage.
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add projects to person details page
  src/api/fragments/user.graphql
  src/scenes/Users/Detail/UserDetail.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Switch to node mirror on github that doesn't have rate limiting
  Dockerfile
Due: none

Use new mutation
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
  src/scenes/Projects/Update/UpdateProjectStep.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Tweak Completion Description
  src/scenes/Products/Detail/ProductInfo.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add split button
  src/components/SplitButton/SplitButton.tsx
  src/components/SplitButton/index.ts
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Update/ProjectWorkflowDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Skip list variation when filter fails & log warning
  src/api/list-caching/modifyList.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix filter on adding newly created projects to cached lists
  src/scenes/Projects/Create/CreateProject.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak present inventory popup wording
  src/scenes/Projects/Overview/PresetInventory/PresetInventoryButton.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Add retry link to apollo client to help with network problems
  src/api/ApolloProvider.tsx
  src/server/renderServerSideApp.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Show error when product details or edit fails to load
  src/components/Error/Error.tsx
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/Products/Edit/EditProduct.tsx
  src/scenes/Products/ProductLoadError.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix creating duplicate ProductProgress entries when Product.steps are changed
  src/scenes/Products/Edit/updateProgressSteps.ts
  src/scenes/Products/ProgressRefsRelatingToEngagement.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak unauthorized error on StepProgress edit
  src/api/error.types.ts
  src/scenes/Products/Detail/Progress/StepEditDialog.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak upload item to appear in progress until saved in API
  src/components/Upload/UploadItem.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Tweak upload error message to be more user friendly
  src/components/Upload/useUploadFile.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Redact password field in LogRocket even if it's visible in UI
  src/components/form/PasswordField.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Upgrade logrocket
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Sanitize sensitive operation bodies for LogRocket
  src/App.tsx
  src/scenes/Authentication/index.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Send LogRocket parsed API response bodies instead of "[Object Blob]"
  src/App.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Limit back link widths on auth scenes to help prevent misclicks
  src/scenes/Authentication/ForgotPassword/ForgotPasswordForm.tsx
  src/scenes/Authentication/Register/RegisterForm.tsx
  src/scenes/Authentication/ResetPassword/ResetPasswordForm.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Fix create engagement button loading state
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Allow Breadcrumb to not pass `to` path to skip linking
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.tsx
  src/components/ProjectBreadcrumb/ProjectBreadcrumb.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Create financial reports guide
  src/components/PeriodicReports/FinancialReportGuide.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update UI
  src/components/PeriodicReports/FinancialReportCheckList.tsx
  src/components/PeriodicReports/FinancialReportGuide.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/ProjectReports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Resolve comments
  src/components/PeriodicReports/FinancialReportCheckList.tsx
  src/components/PeriodicReports/PeriodicReportCard.tsx
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/scenes/Projects/Overview/ProjectOverview.graphql
  src/scenes/Projects/Overview/ProjectOverview.tsx
  src/scenes/Projects/Reports/ProjectReports.graphql
  src/scenes/Projects/Reports/ProjectReports.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Abstract changeset UI (banner, diffs) to be independent of projects
  src/components/Changeset/ChangesetBanner.tsx
  src/components/Changeset/ChangesetContext.tsx
  src/components/Changeset/ChangesetDiff.graphql
  src/components/Changeset/index.ts
  src/components/Changeset/useChangesetAwareIdFromUrl.ts
  src/scenes/Projects/ChangeRequest/Update/UpdateProjectChangeRequest.tsx
  src/scenes/Projects/DetailWrapper/DetailWrapper.tsx
  src/scenes/Projects/DetailWrapper/ProjectChangesetDiff.graphql
  src/scenes/Projects/Projects.tsx
  src/scenes/Projects/useProjectId.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Update Engagement usage to pull project from its project relation
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.graphql
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.tsx
  src/scenes/Engagement/Engagement.graphql
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.graphql
  src/scenes/Engagement/LanguageEngagement/Header/LanguageEngagementHeader.tsx
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.graphql
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.tsx
  src/scenes/Products/Create/CreateProduct.graphql
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Projects/Projects.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Move engagements to top level route instead of under projects
  src/components/EngagementBreadcrumb/EngagementBreadcrumb.tsx
  src/components/InternshipEngagementListItemCard/InternshipEngagementListItemCard.tsx
  src/components/LanguageEngagementListItemCard/LanguageEngagementListItemCard.tsx
  src/scenes/Engagement/Engagement.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/Engagement/ProgressReports/List/ProgressReportList.tsx
  src/scenes/Languages/Detail/FirstScripture/FirstScripture.tsx
  src/scenes/Products/Create/CreateProduct.tsx
  src/scenes/Root/Root.tsx
  src/util/array-helpers.ts
Due: eslint --ext .ts,.tsx --fix --max-warnings 0

Move progress report detail to top level route instead of under engagements
  src/components/PeriodicReports/PeriodicReport.graphql
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/ProgressReports/ProgressReports.tsx
  src/scenes/Products/Detail/ProductDetail.tsx
  src/scenes/ProgressReports/Detail/ProductTable.tsx
  src/scenes/ProgressReports/Detail/ProductTableList.tsx
  src/scenes/ProgressReports/Detail/ProgressReportCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
  src/scenes/ProgressReports/Detail/ProgressSummaryCard.tsx
  src/scenes/ProgressReports/Detail/index.ts
  src/scenes/ProgressReports/List/ProgressReportList.graphql
  src/scenes/ProgressReports/List/ProgressReportList.tsx
  src/scenes/ProgressReports/List/index.ts
  src/scenes/ProgressReports/ProgressReports.tsx
  src/scenes/ProgressReports/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --ext .ts,.tsx --fix --max-warnings 0: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
