Repository SeedCompany/cord-field: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx --fix, prettier --write

Add vite.config.ts alongside Razzle
  docs/stage-03-issue-01.md
  package.json
  src/server/indexHtml.ts
  vite.config.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Serve SSR through the Vite dev server
  .eslintrc.js
  docs/stage-03-issue-02.md
  package.json
  razzle.config.js
  src/index.ts
  src/server/assets.test.ts
  src/server/assets.ts
  src/server/devHtmlTransform.ts
  src/server/renderServerSideApp.tsx
  src/server/server.ts
  vite.config.ts
  vite/plugins/clientNodePolyfills.ts
  vite/plugins/devSsr.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Produce the production build with Vite
  docs/stage-03-issue-03.md
  package.json
  src/index.ts
  src/server/server.ts
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

Cut scripts, CI and the Dockerfile over to Vite
  .github/workflows/ci.yml
  Dockerfile
  docs/stage-04-issue-01.md
  package.json
Due: none

Delete Razzle and webpack
  .babelrc
  .eslintrc.js
  .gitignore
  .yarn/patches/css-minimizer-webpack-plugin-npm-1.3.0-c66c75884d.patch
  .yarn/patches/razzle-npm-4.2.18-e0a2c6fe0c.patch
  .yarnrc.yml
  AGENTS.md
  docs/stage-04-issue-02.md
  package.json
  razzle.config.js
  src/api/client/links/persisted-queries.link.ts
  src/server/assets.ts
  src/server/devHtmlTransform.ts
  src/server/server.ts
  vite.config.ts
  vite/plugins/devSsr.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

Restore the bundle analyzer on Vite
  AGENTS.md
  docs/stage-04-issue-03.md
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --ext .ts,.tsx --fix

chore: remove unused deps
  package.json
  yarn.lock
Due: none

fix: use vitest instead of jest for upstream develop changes
  src/components/MaintenanceBanner/MaintenanceBanner.test.tsx
  src/scenes/Users/UserForm/UserForm.test.tsx
Due: eslint --ext .ts,.tsx --fix

Turn off the maintenance banner — window finished early
  src/components/MaintenanceBanner/MaintenanceBanner.tsx
Due: eslint --ext .ts,.tsx --fix

Turn off the maintenance banner — window finished early (#1866)
  src/components/MaintenanceBanner/MaintenanceBanner.tsx
Due: eslint --ext .ts,.tsx --fix

fix(engagement): don't crash mutation updates on cached lists without items
  src/api/caching/lists/addItemToList.test.ts
  src/api/caching/lists/addItemToList.ts
  src/api/caching/lists/modifyList.ts
  src/api/caching/lists/removeItemFromList.ts
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
Due: eslint --ext .ts,.tsx --fix

feat(gtl): media step, and one place a report moves from
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/MediaCard.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Rename user-facing "Internship" vocabulary to Global Translation Leaders
  src/components/EngagementDataGrid/EngagementColumns.tsx
  src/components/ProjectListItemCard/ProjectListItemCard.tsx
  src/scenes/Engagement/EditEngagement/EditEngagementDialog.tsx
  src/scenes/Engagement/InternshipEngagement/Create/CreateInternshipEngagement.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
  src/scenes/Projects/Overview/ProjectOverview.tsx
Due: eslint --ext .ts,.tsx --fix

Make the GTL report editable
  src/scenes/GtlReports/Detail/GoalsCard.tsx
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/PracticumCard.tsx
  src/scenes/GtlReports/Detail/ProgressExplanationCard.tsx
  src/scenes/GtlReports/Detail/ProseSection.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Split the GTL report into an overview and a reporting wizard
  src/scenes/Engagement/InternshipEngagement/GtlReportsCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/GtlReports/Detail/GoalsCard.tsx
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/PracticumCard.tsx
  src/scenes/GtlReports/Detail/ProgressExplanationCard.tsx
  src/scenes/GtlReports/Detail/ProseSection.tsx
  src/scenes/GtlReports/EditForm/GtlReportDrawer.tsx
  src/scenes/GtlReports/EditForm/StartGtlReportPage.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
  src/scenes/GtlReports/EditForm/SubmitStep.tsx
  src/scenes/GtlReports/EditForm/stepTypes.ts
  src/scenes/GtlReports/EditForm/useGtlStep.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add the GTL report list page
  src/components/PeriodicReports/PeriodicReportsList.tsx
  src/scenes/Engagement/Engagements.tsx
  src/scenes/Engagement/InternshipEngagement/GtlReportsCard.tsx
  src/scenes/GtlReports/List/GtlReportListPage.tsx
  src/scenes/GtlReports/List/GtlReportsOfEngagement.graphql
  src/scenes/GtlReports/List/GtlReportsTable.tsx
  src/scenes/GtlReports/List/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix prompt selection on the GTL narrative sections
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/ProseSection.tsx
  src/scenes/GtlReports/EditForm/SubmitStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add the GTL quarterly report page
  src/components/PeriodicReports/OverviewCard/PeriodicReportCard.tsx
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/GtlReportRouter.tsx
  src/scenes/GtlReports/index.ts
  src/scenes/Root/Root.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Fix navigation out of a GTL report
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/EditForm/GtlReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat(gtl): track goals as real goals in the UI
  src/scenes/Engagement/InternshipEngagement/GrowthPlanTab.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/GtlReports/Detail/GoalsCard.tsx
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Surface quarterly reports on the GTL engagement page
  src/scenes/Engagement/InternshipEngagement/GtlReportsCard.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add a Goals tab to the GTL engagement page
  src/scenes/Engagement/InternshipEngagement/GrowthPlanTab.tsx
  src/scenes/Engagement/InternshipEngagement/InternshipEngagement.graphql
  src/scenes/Engagement/InternshipEngagement/InternshipEngagementDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

feat(gtl): prayer section reads and writes Prayer posts
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostList.tsx
  src/scenes/GtlReports/Detail/GtlPrayerCard.tsx
  src/scenes/GtlReports/Detail/GtlPrayerList.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move the GTL prayer UI onto the partner-reporting components
  src/components/posts/CreatePost/CreatePost.tsx
  src/components/posts/PostForm/PostForm.graphql
  src/components/posts/PostForm/PostForm.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostListItemCard/PostListItemCard.graphql
  src/components/posts/PostListItemCard/PostListItemCard.tsx
  src/components/posts/PostProvenance.tsx
  src/scenes/GtlReports/Detail/GtlPrayerCard.tsx
  src/scenes/GtlReports/Detail/GtlPrayerList.graphql
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/PrayerSummaryCard.tsx
  src/scenes/GtlReports/EditForm/Steps.tsx
  src/scenes/GtlReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/GtlReports/EditForm/Steps/Prayer/PrayerStep.tsx
  src/scenes/GtlReports/EditForm/Steps/Prayer/index.ts
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
  src/scenes/ProgressReports/Detail/WorkflowEvent.graphql
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Apply prettier formatting to the prayer port
  src/scenes/GtlReports/Detail/GtlReportDetail.tsx
  src/scenes/GtlReports/Detail/PrayerSummaryCard.tsx
  src/scenes/GtlReports/EditForm/Steps/Prayer/PrayerStep.tsx
  src/scenes/ProgressReports/Detail/WorkflowCard.tsx
  src/scenes/ProgressReports/StatusHistory/WorkflowEventList.tsx
Due: eslint --ext .ts,.tsx --fix

Add the Prayer step to the report editor
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/Prayer/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move the report stepper left; add an engagement prayer feed
  src/scenes/Engagement/LanguageEngagement/LanguageEngagementDetail.tsx
  src/scenes/Engagement/LanguageEngagement/Prayer/EngagementPrayerList.graphql
  src/scenes/Engagement/LanguageEngagement/Prayer/EngagementPrayerList.tsx
  src/scenes/Engagement/LanguageEngagement/Prayer/index.ts
  src/scenes/ProgressReports/EditForm/ProgressReportDrawer.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Let a report hold several community stories, one featured for investors
  src/common/fragments/promptResponse.graphql
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/CommunityStory/CommunityStoryStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Add the Quarter in Review step group to the report editor
  src/scenes/ProgressReports/EditForm/ProgressReportEdit.graphql
  src/scenes/ProgressReports/EditForm/Steps/NextQuarterPlans/NextQuarterPlansStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/NextQuarterPlans/NextQuarterPlansStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/NextQuarterPlans/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/OtherActivities/OtherActivitiesStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/OtherActivities/OtherActivitiesStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/OtherActivities/index.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Let a report hold several photos, each independently sent to investors
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.tsx
Due: eslint --ext .ts,.tsx --fix

Show and edit a prayer request's finalized wording separately from the original
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move Prayer under Investor Connection; add prayer/media editing and a media overview
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/index.ts
Due: eslint --ext .ts,.tsx --fix, prettier --write

Show which prayer requests are in this report vs between reports, and which are published to investors
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Widen report media to video and audio; fix a photo-group attachment bug
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaField.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaInfoForm.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.tsx
  src/scenes/ProgressReports/EditForm/Steps/Media/progressReportMedia.graphql
Due: eslint --ext .ts,.tsx --fix, prettier --write

Move prayer moderation controls into the shared Edit Post dialog; use a switch for the Investor Report toggle
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.graphql
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Surface mutation errors from the Investor Report controls instead of failing silently
  src/scenes/ProgressReports/EditForm/Steps/Media/MediaStep.tsx
Due: eslint --ext .ts,.tsx --fix

Show every report section on the read-only Quarterly Report page
  src/scenes/ProgressReports/Detail/MediaSummaryCard.tsx
  src/scenes/ProgressReports/Detail/PrayerSummaryCard.tsx
  src/scenes/ProgressReports/Detail/ProgressReportDetail.graphql
  src/scenes/ProgressReports/Detail/ProgressReportDetail.tsx
Due: eslint --ext .ts,.tsx --fix, prettier --write

Bring the Momentum prayer step back in line with GTL's
  docs/partner-quarterly-reporting.md
  src/scenes/ProgressReports/EditForm/Steps/Prayer/PrayerStep.tsx
Due: eslint --ext .ts,.tsx --fix

fix(engagement): Create Engagement dialog hangs after submit — cache update crash on items-less lists (#1869)
  src/api/caching/lists/addItemToList.test.ts
  src/api/caching/lists/addItemToList.ts
  src/api/caching/lists/modifyList.ts
  src/api/caching/lists/removeItemFromList.ts
  src/scenes/Engagement/LanguageEngagement/Create/CreateLanguageEngagement.test.tsx
Due: eslint --ext .ts,.tsx --fix

Path conditions:
  eslint --ext .ts,.tsx --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.graphql
